<h3>Advanced Image Search</h3>
<form [formGroup]="searchForm">
  <mat-form-field class="form-field-full-width" appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="Image Name" formControlName="name"/>
  </mat-form-field>
  <mat-form-field class="form-field-full-width" appearance="fill">
    <mat-label>CVE</mat-label>
    <input matInput type="text" placeholder="CVE" formControlName="cve"/>
  </mat-form-field>
  <mat-checkbox matInput formControlName="onlyRunning" (change)="onlyRunningImage($event)">Only Running Images
  </mat-checkbox>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit" (click)="onSearch()">Search</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>

