.page-table {
  overflow: auto;
}
.column-severity {
  padding-right: 1%;
  width:100px;
  //min-width: 80px;
  overflow: hidden;
  white-space: nowrap;
  //flex: 10%;
}

.column-category {
  padding: 0 1%;
  width:150px;
  //min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  //flex: 10%;
}

.column-vulnerability {
  padding-right: 1%;
  //min-width: 200px;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  //flex: 20%;
}

.column-description {
  padding-right: 1%;
  width: 200px;
  // min-width: 200px;
  //flex: 30%;
  overflow: hidden;
  white-space: nowrap;
  //width: fit-content;
}

.column-additionalInfo {
  padding-right: 1%;
  width: 150px;
  //min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  //flex: 20%;
}

