mat-table {
  min-width: 500px;
}

.column-severity {
  padding-right: 1%;
  flex: 4%;
}

.column-category {
  padding: 0 1%;
  flex: 13%;
}

.column-vulnerability {
  padding-right: 1%;
  flex: 24%;
}

.column-description {
  padding-right: 1%;
  flex: 34%;
}

.column-additionalInfo {
  padding-right: 1%;
  flex: 19%;
}

