.page-title {
  line-height: 1.5;
}

mat-card {
  margin: 1em 0;
  mat-table {
    margin-bottom: 0.5em;
  }

  .mat-column-severity {
    min-width: 100px;
    max-width: 105px;
  }

  .mat-column-category {
    min-width: 300px;
    max-width: 400px;
  }

  .mat-column-vulnerability {
    min-width: 200px;
    max-width: 400px;
  }

  .mat-column-description {
    min-width: 400px;
  }

  .mat-column-additionalInfo {
    min-width: 400px;
    max-width: 500px;
  }

}
