.falco-log-share-container{
  height: 100%;
  //overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.falco-card{
  width: 100%;
}

.url-box{
  border-style: solid;
  font-size: 20px;
  width: 100%;
  word-break: break-word;
}

