<div class="falco-log-share-container">
<div class="falco-card">


    <div class=" row">
      <div class="col-sm-6">
        <h1> Share Event</h1>
      </div>
      <div class="col-sm-6 text-align-right no-padding">
        <button class="close" mat-raised-button color="primary"  (click)="onClickClose()">X</button>
      </div>
    </div>

    <div>
      <h3> Send this link to share this event's details with someone else.</h3>
    </div>

    <div class="row">
      <div class="col-xs-11 ">
        <input type="text" placeholder="{{currentUrl}}" size="100" class="url-box"/>

      </div>
      <div class="col-xs-1 text-align-right no-padding">
        <button mat-raised-button color="primary"  (click)="onClickCopy()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>

</div>
</div>
