<div class="modal-container-margin">
<div style="width:100%">
    <div class="page-title-button-group-spacing">
      <div class="page-card-title">
        Share Event
      </div>
      <div>
        <button class="close" mat-raised-button color="primary"  (click)="onClickClose()">X</button>
      </div>
    </div>
    <div>
      Send this link to share this event's details with someone else.
    </div>
    <div class="page-title-button-group-spacing">
      <div>
        <input type="text" placeholder="{{currentUrl}}" size="100" class="url-box"/>
      </div>
      <div>
        <button mat-raised-button color="primary"  (click)="onClickCopy()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
