<div class ="page-container">
  <div class="page-container-content">
    <div class="page-title-button-group-spacing">
      <div >
        <div class="page-title"> Event Details</div>
      </div>
      <div >
        <button mat-raised-button color="primary"  (click)="onClickShare()">Share</button>
      </div>
    </div>
    <div class="page-card-left-align">
      <div class="row">
        <div class="col-sm-6">
          <mat-card appearance="outlined" style="height:400px; display: grid;!important; overflow: auto">
            <mat-card-header>
              <div class="page-card-header">
                <div class="page-card-title"> Basic Details </div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="event-table">
                <div >
                  <table>
                    <tr>
                      <th>Namespace</th> <td>{{namespace}}</td>
                    </tr>
                    <tr>
                      <th>Date</th> <td>{{date}}</td>
                    </tr>
                    <tr>
                      <th>Pod</th> <td>{{pod}}</td>
                    </tr>
                    <tr>
                      <th>Image</th> <td>{{image}}</td>
                    </tr>
                    <tr>
                      <th>Message</th> <td>{{message}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm-6">
          <mat-card appearance="outlined" style="height:400px; display: grid;!important;overflow: auto">
            <mat-card-header>
              <div class="page-card-header">
                <div class="page-card-title">  Incidence Rate </div>
              </div>
            </mat-card-header>
            <mat-card-content>
              <div class="event-table">
                <ngx-charts-bar-vertical
                  [view]="barChartAttributes.view"
                  [scheme]="barChartAttributes.colorScheme"
                  [results]="barChartAttributes.results"
                  [legend]="barChartAttributes.showLegend"
                  [legendPosition]="barChartAttributes.legendPosition"
                  [gradient]="barChartAttributes.gradient"
                  [xAxis]="barChartAttributes.showXAxis"
                  [yAxis]="barChartAttributes.showYAxis"
                  [barPadding]="barChartAttributes.barPadding"
                  [showXAxisLabel]="barChartAttributes.showXAxis"
                  [showYAxisLabel]="barChartAttributes.showYAxis"
                  [xAxisLabel]="barChartAttributes.xAxisLabel"
                  [yAxisLabel]="barChartAttributes.yAxisLabel">
                </ngx-charts-bar-vertical>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  <br>
  <div class="page-card">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div class="page-card-header">
          <div class=" col-sm-3 no-padding">
            <div class="page-card-title">
              Related Events
            </div>
          </div>
          <div class="col-sm-9 page-card-title-button-group-right-align">
            Signature: {{signature}}
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="event-table">
          <mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="calendarDate">
              <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
              <mat-cell *matCellDef="let log" class="date-link" (click)="displayEventDetails(log)">{{log.calendarDate}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="namespace">
              <mat-header-cell *matHeaderCellDef>Namespace</mat-header-cell>
              <mat-cell *matCellDef="let log">{{log.namespace}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="pod">
              <mat-header-cell *matHeaderCellDef>Pod</mat-header-cell>
              <mat-cell *matCellDef="let log">{{log.container}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="image">
              <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
              <mat-cell *matCellDef="let log">{{stripDomainName(log.image)}}</mat-cell>
            </ng-container>

            <ng-container matColumnDef="message">
              <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
              <mat-cell *matCellDef="let log">
                {{log.message}}
              </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;">  </mat-row>
          </mat-table>
        </div>
        </mat-card-content>
        <mat-paginator
          [length]="logCount"
          [pageSize]="limit"
          [pageSizeOptions]="[ 20, 50, 100]"
          (page)="pageEvent($event)"
          showFirstLastButtons>
        </mat-paginator>

    </mat-card>
  </div>
  <br>
  <div class="page-card">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div class="page-card-header">
          <div class="col-sm-3 no-padding">
            <div class="page-card-title">
              Raw Data
            </div>
          </div>
          <div class="col-sm-9 page-card-title-button-group-right-align">
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle (click)="onClickYaml()">Yaml</mat-button-toggle>
              <mat-button-toggle (click)="onClickJson()">Json</mat-button-toggle>
              <mat-button-toggle (click)="onClickTable()">Table</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <div class="event-table">
          <b>Raw:</b>
          <div> {{message}}</div>
          <br>
          <b>Formatted:</b>
          <div>
            <div *ngIf="format === 'yaml'; then displayInYaml"></div>
            <ng-template #displayInYaml>
              <pre [innerHTML]="rawInFormat"></pre>
            </ng-template>
          </div>
          <div>
            <div *ngIf="format === 'json'; then displayInJson"></div>
            <ng-template #displayInJson>
              <pre [innerHTML]="rawInFormat"></pre>

            </ng-template>
          </div>

          <div>
            <div *ngIf="format === 'table'; then displayInTable"></div>
            <ng-template #displayInTable>
              <div [innerHTML]="raw | tablify" class="table-format"></div>
            </ng-template>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
