.page {
  padding: 20px 15px 10px 15px;
  font-size: 26px;
}

.falco-log-more-container{
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.mat-mdc-card-title{
  width: 100%;
  white-space: nowrap;
  display: flex;
}

:host ::ng-deep .jsonTable table {
  width: 100%;
}

.event-table {
  overflow-y: auto !important;
  text-align: left;
}

/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
mat-paginator {
  display: flex;
  justify-content: center;
}

/*TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
mat-table {
  overflow: auto !important;
  min-width: 800px;

  mat-row {
    min-height: 20px !important
  }

  mat-header {
    min-height: 32px !important
  }

  mat-cell, mat-header-cell, mat-footer-cell {
    overflow: visible;
  }

  .mat-column-calendarDate {
    width: 100px;
    min-width: 50px;
    max-width: 100px;
    margin-right: 5px;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-namespace {
    width: 120px;
    min-width: 100px;
    max-width: 120px;;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-pod {
    width: 120px;
    min-width: 100px;
    max-width: 120px;;
    //max-width: 7%;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-image {
    //max-width: 7%;
    width: 150px;
    min-width: 100px;
    max-width: 150px;;
    margin-right: 10px;
    //white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-priority {
    width: 100px;
    min-width: 50px;
    max-width: 100px;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
  }

  .mat-column-message {
    //max-width: 60%;
    //width: 200px;
    min-width: 200px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    white-space: nowrap;
  }
}

.date-link{
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

