.falco-settings-header {
  width: 100%;
  white-space: nowrap;
  display: flex;
  padding: 20px 15px 10px 15px;
  font-size: 26px;
}

.falco-log-settings-container{
  height: 100%;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 15px;
}

.details-content{
  margin-left: 25px;
}
.section-sublevel-1{
  margin-left: 25px;
}
.section-sublevel-2{
  margin-left: 35px;
}

.section-rules{
  padding: 15px;
  border: 5px solid;
  margin: 20px;
}

textarea.email-list {
  width: 250px;
  height: 100px;
}

.w-100 {
  width: 100%;
}

.ml-25p {
  margin-left: 25px;
}
