<p>Welcome {{userProfile.first_name}} {{userProfile.last_name}}, </p>

<p>Thank you for signing up for M9Sweeper, the fastest app for securing your Kubernetes clusters.</p>
<p>Please <a href="{{resetPasswordLink}}">activate your account</a> to proceed.</p>
<p>If you can't click the link, copy and paste the link below to your browser:</p>
<p>{{resetPasswordLink}}</p>

