<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Create Kubernetes Objects</ng-template>
    <div class="m-xs-3 text-align-xs-left">
    <div class="display-xs-flex justify-content-xs-space-between flex-direction-xs-row align-items-xs-center">
      <div class="row">
        <div class="col-xs-12">
          <span >Install m9sweeper's service account using the following CLI command.</span>
        </div>
        <div class="col-xs-12 my-xs-2">
          <app-copy-to-clipboard-button
            successMessage="Command copied to clipboard!"
            errorMessage="Command could not be copied."
            [text]="install.value"
          ></app-copy-to-clipboard-button>
        </div>
      </div>
    </div>
    <div class="row"><div class="col-xs">
      <textarea #install class="code-snippet width-xs-100" readonly matInput [cdkTextareaAutosize]="true">cat <<EOF | kubectl apply -f -
apiVersion: v1
kind: ServiceAccount
metadata:
  name: m9sweeper
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: m9sweeper
  annotations:
    kubernetes.io/service-account.name: m9sweeper
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: m9sweeper
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - namespaces
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - constraints.gatekeeper.sh
  resources:
  - "*"
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: m9sweeper
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: m9sweeper
subjects:
- kind: ServiceAccount
  name: m9sweeper
  namespace: default
EOF</textarea>
    </div>
    </div></div>
    <div>
      <button mat-raised-button color="primary" style="float: right"
              matStepperNext>Next Step
      </button>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Retrieve Service Account's Token</ng-template>
    <div class="m-xs-3 text-align-xs-left">
    <p>M9sweeper requires the service account's token in order to use it.</p>
    <div class="row">
      <div class="col-xs-12">Get the token using the command below</div>
      <div class="col-xs-12 my-xs-2">
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied."
          [text]="readSecret.value"
        ></app-copy-to-clipboard-button>
      </div>
    </div>
    <div class="row justify-content-xs-right"><div class="col-xs">
      <textarea #readSecret class="code-snippet width-xs-100 secret-command" readonly>kubectl get secret --namespace=default -o jsonpath="{.data.token}{'\n'}" m9sweeper</textarea>
    </div></div>
    <div class="row"><div class="col-xs">
      <mat-form-field class="width-xs-100">
        <mat-label>
          Service Account's Token
        </mat-label>
        <textarea matNativeControl [formControl]="tokenControl" (ngModelChange)="config = undefined"></textarea>
      </mat-form-field>
    </div></div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 center-xs start-sm display-xs-flex mb-xs-2">
        <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      </div>
      <div class="col-xs-12 col-sm-6 center-xs end-sm display-xs-flex">
        <button mat-raised-button color="primary"
                style="float: right"
                [disabled]="tokenControl.invalid"
                matStepperNext>Next Step
        </button>
      </div>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Test</ng-template>
    <div class="m-xs-3 text-align-xs-left">
    <div class="row"><div class="col-xs">
      <p>
        Test the connection to the cluster running at <b>{{data.server}}</b>.
      </p>
    </div></div>
    </div>
    <div class="row"><div class="col-xs">
      <button mat-raised-button
              (click)="testConfig()"
              color="primary"
              [disabled]="!!config || testingConnection"
      >
        Test Connection
        <mat-icon *ngIf="config">check_circle</mat-icon>
      </button>
      </div>
    </div>
    <div *ngIf="badConfig" class="row"><div class="col-xs">
      <p>
        The provided token could not be used to connect to the cluster.
        Double check the token was properly copied and try again.
      </p>
    </div></div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 center-xs start-sm display-xs-flex mb-xs-2">
        <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      </div>
      <div class="col-xs-12 col-sm-6 center-xs end-sm display-xs-flex">
        <button mat-raised-button color="primary"
                style="float: right"
                [disabled]="!config"
                (click)="complete()"
                >Done
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
