<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Create Kubernetes Objects</ng-template>
    <div class="row">
      <div class="col-xs d-flex">
        <span class="align-self-end">Install m9sweeper's service account using the following CLI command.</span>
      </div>
      <div>
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied."
          [text]="install.value"
        ></app-copy-to-clipboard-button>
      </div>
    </div>
    <div class="row"><div class="col-xs">
      <textarea #install class="code-snippet" readonly matInput [cdkTextareaAutosize]="true">cat <<EOF | kubectl apply -f -
apiVersion: v1
kind: ServiceAccount
metadata:
  name: m9sweeper
---
apiVersion: v1
kind: Secret
type: kubernetes.io/service-account-token
metadata:
  name: m9sweeper
  annotations:
    kubernetes.io/service-account.name: m9sweeper 
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: m9sweeper
  namespace: default
rules:
- apiGroups:
  - ""
  resources:
  - pods
  - namespaces
  - nodes
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - get
  - list
  - watch
  - create
- apiGroups:
  - apiregistration.k8s.io
  resources:
  - apiservices
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - constraints.gatekeeper.sh
  resources:
  - "*"
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates/finalizers
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - templates.gatekeeper.sh
  resources:
  - constrainttemplates/status
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - admissionregistration.k8s.io
  resources:
  - validatingwebhookconfigurations
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: m9sweeper
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: m9sweeper
subjects:
- kind: ServiceAccount
  name: m9sweeper
  namespace: default
EOF</textarea>
    </div></div>
    <mat-card-actions>
      <button mat-raised-button color="primary" style="float: right"
              matStepperNext>Next Step
      </button>
    </mat-card-actions>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Retrieve Service Account's Token</ng-template>
    <p>M9sweeper requires the service account's token in order to use it.</p>
    <p>
      Run the following commands sequentially to get the token.
    </p>
    <!--
    <div class="row justify-right">
      <div class="col-xs align-self-end">Get the name of the service account's secret</div>
      <div class="col-xs text-right">
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied."
          [text]="findSecret.value"
        ></app-copy-to-clipboard-button>
      </div>
    </div>
    -->
    <!---->
    <!--
      <div class="row"><div class="col-xs">
      -->
      <!--Appending the newline to the json path, because otherwise the terminal's % prompt looks like it is part of the result on Mac
      <textarea #findSecret class="code-snippet" readonly matInput [cdkTextareaAutosize]="true">kubectl get serviceaccount --namespace=default m9sweeper -o=jsonpath="{.secrets[*].name}{'\n'}"</textarea>
    </div></div>
-->
    <div class="row">
      <div class="col-xs align-self-end">Get the token (use the secret name retrieved above)</div>
      <div class="col-xs text-right">
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied."
          [text]="readSecret.value"
        ></app-copy-to-clipboard-button>
      </div>
    </div>
    <div class="row justify-right"><div class="col-xs">
      <textarea #readSecret class="code-snippet" readonly matInput [cdkTextareaAutosize]="true">kubectl get secret --namespace=default -o jsonpath="{.data.token}{'\n'}" m9sweeper</textarea>
    </div></div>
    <div class="row"><div class="col-xs">
      <mat-form-field class="w-100">
        <mat-label>
          Service Account's Token
        </mat-label>
        <textarea matNativeControl [formControl]="tokenControl" (ngModelChange)="config = undefined"></textarea>
      </mat-form-field>
    </div></div>

    <mat-card-actions>
      <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      <button mat-raised-button color="primary"
              style="float: right"
              [disabled]="tokenControl.invalid"
              matStepperNext>Next Step
      </button>
    </mat-card-actions>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Test</ng-template>
    <div class="row"><div class="col-xs">
      <p>
        Test the connection to the cluster running at <b>{{data.server}}</b>.
      </p>
    </div></div>
    <div class="row mb-12px"><div class="col-xs">
      <button mat-raised-button
              (click)="testConfig()"
              color="primary"
              [disabled]="!!config || testingConnection"
      >
        Test Connection
        <mat-icon *ngIf="config">check_circle</mat-icon>
      </button>
      </div>
    </div>
    <div *ngIf="badConfig" class="row"><div class="col-xs">
      <p>
        The provided token could not be used to connect to the cluster.
        Double check the token was properly copied and try again.
      </p>
    </div></div>
    <mat-card-actions class="mt-40px">
      <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      <button mat-raised-button color="primary"
              style="float: right"
              [disabled]="!config"
              (click)="complete()"
              >Done
      </button>
    </mat-card-actions>
  </mat-step>
</mat-horizontal-stepper>
