.margin-right {
  margin-right: 10px;
}
.padding-top-bot-16 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 5px;
}

.text-center {
  text-align: center;
}

.code-snippet {
  width: 100%;
  max-height: 400px;
  resize: none;
  margin: 0 0 16px  0;
  // Styles below replicate StackOverflow
  background-color: #f6f6f6;
  padding: 12px;
  border: none;
  color: #2f3337;
  font-size: 13px;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

.button-row {
  display: flex;
}

.copy-to-button {
  display: flex;
  justify-content: end;
  padding: 0px;
}

.next-button {
  display: flex;
  justify-content: end;
}

.padding-top-15 {
  padding-top:15px;
  padding-left: 0px;
}
