<div mat-dialog-content class="modal-container-margin">
  <div class="modal-content-left-align-no-margin">
    <mat-form-field appearance="fill">
      <mat-label>Minimum Priority</mat-label>
      <mat-select [(value)]="level">
        <mat-option *ngFor="let level of priorityLevels"
                    [value]="level">
          {{level}}
        </mat-option>
      </mat-select>
      <a class="padding-10" matIconSuffix target="_blank" href="https://m9sweeper.io/docs/latest/docs/concepts/falco/#minimum-priority">
        <mat-icon mat-list-item-icon>info</mat-icon>
      </a>
    </mat-form-field>
    <div class="page-title-button-group-spacing">
      <div class="padding-top-15">Run Falco using the following CLI command:</div>
      <div>
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied"
          [text]="run.value">
        </app-copy-to-clipboard-button>
      </div>
    </div>
    <div>
          <textarea matInput [cdkTextareaAutosize]="true" #run class="code-snippet w-100" readonly>helm repo add falcosecurity https://falcosecurity.github.io/charts && \
helm repo update && \
helm upgrade --install falco falcosecurity/falco \
  --wait --version 2.5.5 \
  --namespace falco --create-namespace \
  --set falco.driver.enabled=true \
  --set-string falco.driver.kind=ebpf \
  --set falco.tty=true \
  --set falco.json_output=true \
  --set falco.http_output.enabled=true \
  --set-string falco.http_output.url='http://falco-falcosidekick:2801/' \
  --set falcosidekick.enabled=true \
  --set-string falcosidekick.config.webhook.address='{{backendUrl}}/api/falco/{{clusterId}}/create/?key={{apiKey}}' \
  --set falcosidekick.config.webhook.checkcert=true \
  --set-string falcosidekick.config.webhook.minimumpriority='{{level.toLowerCase()}}'
          </textarea>
    </div>
    <div class="modal-content-left-align-no-margin">
      <button mat-raised-button matDialogClose color="primary">Done</button>
    </div>
  </div>
</div>
