@use '@angular/material' as mat;

.scanner-error {
  width: 99.5%;
  margin-bottom: 20px;
  border: red 1px solid;
  background: white;
  text-transform: capitalize;

  .error-msg {
    padding: 0 10px 10px;
  }
}

mat-card {
  margin-bottom: 20px;
}

/*
align-self: center;
justify-self: center;
align-content: center;
justify-content: center;
align-items: center;
justify-items: center;
text-align: center;
vertical-align: middle;
*/

.header-row {
  margin: 0;

  div {
    min-height: 58px;
    display: flex;
    align-items: center;
  }
}

.image-scan-list {
  flex: 3;
  width: 99.5%;

  #image-name{
    font-size: 26px;
    text-wrap: initial;
  }

  .image-details {
    background-color: mat.get-color-from-palette(mat.$gray-palette, 300);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media all and (max-width: 1186px) {
      overflow-x: auto;
    }

    .left-elements {
      display: flex;
      flex-direction: row;

      .elements {
        display: flex;
        flex-direction: column;
        margin: 10px 30px 0 15px;
      }
    }

    .right-elements {
      display: flex;
      flex-direction: row;

      .elements {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 10px 30px 0 15px;
      }
    }
  }
}

.image-scan-result-list {
  padding-bottom: 20px;
  flex: 3;
  width: 99.5%;

  #compliance-report-title {
    span {
      font-size: 26px;
      font-weight: normal;
    }
  }
  #compliance-report-buttons {}

  .mat-column-policy {
    min-width: 150px;
  }
  .mat-column-status {
    min-width: 70px;
  }
  .mat-column-compliant {
    max-width: 150px;
    min-width: 85px;
  }
  .mat-column-required {
    max-width: 150px;
    min-width: 75px;
  }

  .mat-column-critical_issues, .mat-column-major_issues,
  .mat-column-medium_issues, .mat-column-low_issues,
  .mat-column-negligible_issues {
    min-width: 50px;
    max-width: 100px;
  }
}

.issues-list {
  width: 99.5%;
  overflow-x: auto;

  #issues-title {
    span {
      font-size: 26px;
      font-weight: normal;
    }
  }
  #issues-buttons {
    justify-content: end;
  }

  .mat-column-scanner {
    min-width: 100px;
    max-width: 150px;
  }

  .mat-column-isCompliant {
    min-width: 100px;
    max-width: 150px;
  }

  .mat-column-severity {
    min-width: 75px;
    max-width: 100px;
  }

  .mat-column-type {
    min-width: 185px;
    max-width: 250px;
    .col-xs-8 {
      display: flex;
      align-self: center;
      padding-right: 0;
    }
    .col-xs-4 {
      padding-left: 0;
    }
  }

  .mat-column-packageName {
    min-width: 150px;
    max-width: 200px;
  }

  .mat-column-name {
    min-width: 250px;
  }

  .mat-column-installedVersion {
    min-width: 80px;
    max-width: 100px;
  }

  .mat-column-isFixable {
    min-width: 130px;
    .row {
      margin: 0;
    }
  }

  .mat-column-more {
    min-width: 280px;
  }

  .mat-column-request_exception {}

  #details-button {
    min-width: 80px;
    margin-right: 0.25em;
  }

  #request-exception-button {
    min-width: 155px;
    margin-left: 0.25em;
  }

}


/*TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version.*/
mat-paginator {
  padding-top: 10px;
}
