<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Create Job</ng-template>
    <div class="row intro-container">
      <h2>Choose whether to run Kube Hunter periodically or manually</h2>
      <mat-radio-group aria-labelledby="cronjob-options-group-label" class="cronjob-options-radio-group" [(ngModel)]="cronjobOpt">
        <mat-radio-button class="cronjob-radio-button" [value]="true">
          Run on a schedule
        </mat-radio-button>
        <mat-radio-button class="manual-radio-button" [value]="false">
          Run one time
        </mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="kube-hunter-cli">
      <div *ngIf="cronjobOpt === false">
        <div class="row button-row" style="justify-content: space-between;">
          <div class="col-xs-6 padding-top-15"> Run Kube Hunter using the following CLI command:</div>
          <div class="col-xs-6 copy-to-button">
            <app-copy-to-clipboard-button
              successMessage="Command copied to clipboard!"
              errorMessage="Command could not be copied."
              [text]="run.value"
            ></app-copy-to-clipboard-button>
          </div>
        </div>
        <div class="row">
          <textarea #run class="code-snippet" readonly matInput [cdkTextareaAutosize]="true">helm repo add m9sweeper https://m9sweeper.github.io/m9sweeper && \
    helm repo update && \
    helm upgrade --install kube-hunter m9sweeper/kube-hunter \
        -n m9sweeper-system --create-namespace \
        --set-string dispatchUrl='{{backendUrl}}/api/kubehunter/hunter/{{clusterId}}/?key={{apiKey}}' \
        --set cronjob.enabled=false
 </textarea>
        </div>
      </div>
      <div *ngIf="cronjobOpt === true">
        <div class="row cronjob-run">
          <h2>Choose whether to run Kube Hunter daily, weekly, or monthly</h2>
          <mat-form-field appearance="fill" class="margin-right">
            <mat-label>Choose</mat-label>
            <mat-select [(ngModel)]="cronjobTime">
              <mat-option [value]="'daily'">Daily</mat-option>
              <mat-option [value]="'weekly'">Weekly</mat-option>
              <mat-option [value]="'monthly'">Monthly</mat-option>
            </mat-select>
          </mat-form-field>
          <span class="padding-top-bot-16" *ngIf="cronjobTime === 'daily'">Choosing daily means Kube Hunter will run at 12 am every day</span>
          <span class="padding-top-bot-16" *ngIf="cronjobTime === 'weekly'">Choosing weekly means Kube Hunter will run at 12 am every Sunday</span>
          <span class="padding-top-bot-16" *ngIf="cronjobTime === 'monthly'">Choosing monthly means Kube Hunter will run at 12 am every first day of the month</span>
        </div>
        <div class="row button-row" *ngIf="cronjobTime">
          <div class="col-xs-6 padding-top-15"> Run Kube Hunter using the following CLI command.</div>
          <div class="col-xs-6 copy-to-button"><app-copy-to-clipboard-button
            successMessage="Command copied to clipboard!"
            errorMessage="Command could not be copied."
            [text]="run.value"
          ></app-copy-to-clipboard-button>
          </div>
        </div>
        <div class="row">
            <textarea #run class="code-snippet" readonly matInput [cdkTextareaAutosize]="true">helm repo add m9sweeper https://m9sweeper.github.io/m9sweeper && \
helm repo update && \
helm upgrade --install kube-hunter m9sweeper/kube-hunter \
    -n m9sweeper-system --create-namespace \
    --set-string dispatchUrl='{{backendUrl}}/api/kubehunter/hunter/{{clusterId}}/?key={{apiKey}}' \
    --set-string cronjob.schedule="{{cronjobScheduleOpts[cronjobTime]}}" \
    --set cronjob.enabled=true
 </textarea>
        </div>
      </div>
    </div>
    <div class="next-button">
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Getting Results</ng-template>
    <h2> After running the CLI command, kube-hunter will start its testing. If you have a smaller cluster, kube-hunter will
      take a shorter length of time to complete, but if you have a larger cluster, the report will not be ready for quite
      some time. Feel free to check back whenever you remember.</h2>
    <div class="row" *ngIf="report">
      <div class="col-xs-12 text-center">
        <button mat-raised-button (click)="viewReport(report.id)">View Report</button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
