div {
  &.create-user-container {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100%;
    justify-content: flex-start;
    .subnav-title {
      font-size: 26px;
      font-weight: normal;
    }
    > div {
      &.create-user-form-card {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        > mat-card {
          flex: 1;
          display: flex;
          height: 100vh;
          position: fixed;
          width: 100%;
          form.user-form {
            width: 500px;
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
    }
  }
  mat-form-field {
    width: 100%;
  }
  .create-user-button {
    margin-left: 25px;
  }
}
