<div class="row mx-xs-1 h-xs-100 display-xs-block overflow-xs-auto">
  <div class="col-xs mt-xs-7">
    <mat-card appearance="outlined">
      <mat-card-content>
        <span class="font-size-xs-26 vertical-align-xs-middle line-height-xs-2">{{ subMenuTitle }}</span>
        <form [formGroup]="userForm">
          <mat-form-field appearance="fill" class="mt-xs-3">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Enter your first name" type="text" formControlName="firstName"
                   [readonly]="activateReadOly">
          </mat-form-field>
          <mat-form-field appearance="fill" class="mt-xs-3">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Enter your last name" type="text" formControlName="lastName"
                   [readonly]="activateReadOly">
          </mat-form-field>
          <mat-form-field appearance="fill" *ngIf="!isEdit" class="mt-xs-3">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" type="text" formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="fill" class="mt-xs-3">
            <mat-label>Phone</mat-label>
            <input matInput
                   placeholder="Enter phone number" type="text"
                   formControlName="phone"
                   [readonly]="activateReadOly">
          </mat-form-field>
          <mat-form-field appearance="fill" class="mt-xs-3">
            <mat-label>Authority</mat-label>
            <mat-select formControlName="authorities" multiple>
              <mat-option *ngFor="let authority of authorities" [value]="authority.id">{{ authority.type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="isActive" class="mt-xs-3">Active</mat-checkbox>
        </form>
        <button [disabled]="!userForm.valid" mat-raised-button type="button" color="primary" class="me-xs-3 mt-xs-3"
                (click)="onSubmit()">
          {{ isEdit ? 'Save' : 'Create' }}
        </button>
        <button mat-raised-button color="warn" type="button" class="mt-xs-3" (click)="cancel()">Cancel</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
