.create-user-form-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  > mat-card {
    flex: 1;
    display: flex;
    height: 100vh;
    position: fixed;
    width: 100%;
    form.user-form {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.create-user-button {
  margin-left: 25px;
}

