<!-- start of the upper part of the menu-->
<div>
  <div class="row negative-margin-bottom-20">
    <div class="col-xs-12 col-md-6 cluster-group-name no-padding">
      <div class="margin-top-10 header-font">
        {{ clusterGroupName }}
        <button  [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" mat-icon-button  (click)="editClusterGroupNameDialog()">
          <mat-icon class="edit-cluster-group-icon">create</mat-icon>
        </button>
      </div>
    </div>
    <div class="col-xs-12 col-md-6 text-align-right no-padding">
      <button class="margin-right-10 margin-top-10" [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" mat-raised-button color="warn" [disabled]="!clustersList || clustersList.length || disableOnSearch" (click)="deleteClusterGroup()">Delete Cluster Group</button>
      <button class="margin-right-10 margin-top-10" [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" mat-raised-button color="primary" (click)="openClusterDialog()">Add Cluster</button>
    </div>
  </div>

  <!-- start of the first row of graphs-->
  <div class="row margin-top-10" *ngIf="clustersList && clustersList.length">
    <div class="dashboard-card margin-top-10 no-padding no-margin full-height"
    [ngClass]="this.currentCardSize">
      <mat-card class="" id="top-graph-1">
        <mat-card-title class="center-xs">Compliance Summary</mat-card-title>
        <mat-card-content>
          <div class="graph dark-theme">
            <ngx-charts-line-chart
              [view]="complianceSummaryLineChartAttributes.view"
              [scheme]="complianceSummaryLineChartAttributes.colorScheme"
              [results]="complianceSummaryLineChartAttributes.results"
              [legend]="complianceSummaryLineChartAttributes.showLegend"
              [legendPosition]="complianceSummaryLineChartAttributes.legendPosition"
              [gradient]="complianceSummaryLineChartAttributes.gradient"
              [xAxis]="complianceSummaryLineChartAttributes.showXAxis"
              [yAxis]="complianceSummaryLineChartAttributes.showYAxis"
              [showXAxisLabel]="complianceSummaryLineChartAttributes.showXAxisLabel"
              [showYAxisLabel]="complianceSummaryLineChartAttributes.showYAxisLabel"
              [yAxisLabel]="complianceSummaryLineChartAttributes.yAxisLabel"
              [xAxisLabel]="complianceSummaryLineChartAttributes.xAxisLabel"
              [yScaleMin]="complianceSummaryLineChartAttributes.yScaleMin"
              [yScaleMax]="complianceSummaryLineChartAttributes.yScaleMax"
              [yAxisTicks]="complianceSummaryLineChartAttributes.yAxisTicks"
              [xAxisTickFormatting]="scanXTickFormatting"
              [autoScale]="complianceSummaryLineChartAttributes.autoScale">
              <ng-template #tooltipTemplate let-model="model">
                <span>
                  Date: {{ model.name | date: 'mediumDate' }}
                </span>
                <br/>
                <span>Compliance: {{ model.value | number: '1.0-1' }}%</span>
              </ng-template>

              <ng-template #seriesTooltipTemplate let-model="model">
                <span>
                  Date: {{ model[0].name | date: 'mediumDate' }}
                </span>
                <br/>
                <span>Compliance: {{ model[0].value | number: '1.0-1' }}%</span>
              </ng-template>

            </ngx-charts-line-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="dashboard-card widget margin-top-10 no-padding no-margin full-height"
         [ngClass]="this.currentCardSize">
      <mat-card>
        <mat-card-title class="center-xs">Scan History</mat-card-title>
        <mat-card-content>
          <div class="graph dark-theme">
            <ngx-charts-line-chart
              [view]="lineChartAttributes.view"
              [scheme]="lineChartAttributes.colorScheme"
              [results]="lineChartAttributes.results"
              [legend]="lineChartAttributes.showLegend"
              [legendPosition]="lineChartAttributes.legendPosition"
              [gradient]="lineChartAttributes.gradient"
              [xAxis]="lineChartAttributes.showXAxis"
              [yAxis]="lineChartAttributes.showYAxis"
              [showXAxisLabel]="lineChartAttributes.showXAxisLabel"
              [showYAxisLabel]="lineChartAttributes.showYAxisLabel"
              [yAxisLabel]="lineChartAttributes.yAxisLabel"
              [xAxisLabel]="lineChartAttributes.xAxisLabel"
              [yScaleMin]="lineChartAttributes.yScaleMin"
              [yAxisTicks]="lineChartAttributes.yAxisTicks"
              [xAxisTickFormatting]="scanXTickFormatting"
              [autoScale]="lineChartAttributes.autoScale">
              <ng-template #tooltipTemplate let-model="model">
                <span>
                  Date: {{ model.name | date: 'mediumDate' }}
                </span>
                <br/>
                <span>Scans: {{ model.value }}</span>
              </ng-template>

              <ng-template #seriesTooltipTemplate let-model="model">
                <span>
                  Date: {{ model[0].name | date: 'mediumDate' }}
                </span>
                <br/>
                <span>Scans: {{ model[0].value }}</span>
              </ng-template>

            </ngx-charts-line-chart>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="dashboard-card no-padding no-margin margin-top-10 full-height"
         [ngClass]="this.currentCardSize">
      <mat-card>
        <mat-card-title class="center-xs">Historical Vulnerability Summary</mat-card-title>
        <mat-card-content>
          <div class="graph dark-theme">
            <ngx-charts-bar-vertical-stacked
              [view]="barChartAttributes.view"
              [scheme]="barChartAttributes.colorScheme"
              [results]="barChartAttributes.results"
              [legend]="barChartAttributes.showLegend"
              [legendPosition]="barChartAttributes.legendPosition"
              [gradient]="barChartAttributes.gradient"
              [xAxis]="barChartAttributes.showXAxis"
              [yAxis]="barChartAttributes.showYAxis"
              [barPadding]="barChartAttributes.barPadding"
              [showXAxisLabel]="barChartAttributes.showXAxis"
              [showYAxisLabel]="barChartAttributes.showYAxis"
              [xAxisLabel]="barChartAttributes.xAxisLabel"
              [yAxisLabel]="barChartAttributes.yAxisLabel"
              [xAxisTickFormatting]="scanXTickFormatting">
              <ng-template #tooltipTemplate let-model="model">
                <span>Date: {{ model.series | date: 'mediumDate' }}</span>
                <br/>
                <span>Type: {{ model.name }}</span>
                <br/>
                <span>Vulnerabilities: {{ model.value }}</span>
              </ng-template>
            </ngx-charts-bar-vertical-stacked>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--start of the error messages-->

  <div *ngIf="clustersList === null" class="margin-left-7 margin-top-10 text-center">
    <mat-card >No cluster added for this group</mat-card>
  </div>
  <div *ngIf="clustersList && !clustersList.length" class="margin-left-7 margin-top-10 text-center">
    <mat-card>No cluster found.</mat-card>
  </div>

  <!--start of showing the clusters-->
  <div class="row margin-bottom-20">
    <div class="dashboard-card cluster-element margin-bottom-6 no-padding pointer"
         [ngClass]="this.currentCardSize"
         *ngFor="let cluster of clustersList; index as i">
      <mat-card (click)="showCluster(cluster)" class="padding-top-10 cluster-card"
                [ngClass]="{ 'rescan': dateInMil - +cluster.lastScannedAt > 4500000 }">
        <div class="row">
          <div class="cluster-name-short" [ngStyle] = "{'background': calculateMenuColor(i)}">
          <span>
            {{shortGroupName(cluster.name)}}
          </span>
          </div>
          <span class="font-size-20 margin-left-7">
            {{cluster.name}}
          </span>
        </div>
        <div class="cluster-item-details">
          <div class="cluster-header">
            <mat-card-header>
              <mat-card-subtitle>{{cluster.ipAddress}}</mat-card-subtitle>
            </mat-card-header>
            <span class="cluster-status"></span>
          </div>
          <div class="cluster-content">
            <mat-card-content>
              <p>{{cluster.context}}</p>
            </mat-card-content>
          </div>
          <div class="cluster-scanned-date" *ngIf="cluster.lastScannedAt">
            <mat-card-content>
              <p>Last synced: {{+cluster.lastScannedAt | date: 'short'}}</p>
            </mat-card-content>
          </div>
        </div>
        <div *ngIf="cluster['tags']  && cluster['tags'].length > 6; then moreThanSixTags else lessThanSixTags"></div>
        <ng-template #moreThanSixTags>
          <mat-chip-listbox aria-label="tag list">
            <mat-chip *ngFor="let tag of cluster['tags'].slice(0, 6); index as i" [ngStyle]="{'background': calculateMenuColor(i), 'color': '#ffffff'}">{{truncateTagName(tag)}}</mat-chip>
            <a [routerLink]="['/private', 'clusters', cluster?.id, 'info' ]">{{limitTagList(cluster['tags'])}}</a>
          </mat-chip-listbox>
        </ng-template>
        <ng-template #lessThanSixTags>
          <mat-chip-listbox aria-label="tag list">
            <mat-chip *ngFor="let tag of cluster['tags'] || []; index as i" [ngStyle]="{'background': calculateMenuColor(i), 'color': '#ffffff'}">{{truncateTagName(tag)}}</mat-chip>
          </mat-chip-listbox>
        </ng-template>
      </mat-card>
    </div>
  </div>
</div>
