.last-run-data {
  text-align: center;
}

.row {
  margin: 0;
  display: flex;
}

table {
  width: 100%;
}

th, td {
  width: 33.3%;
}

.report-click:hover{
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}
