<div class="row h-xs-100 display-xs-block overflow-xs-auto me-xs-0">
  <div class="col-xs ms-xs-7 me-xs-1 mb-xs-3 mt-xs-7">
    <div class="display-xs-flex justify-content-xs-space-between flex-direction-xs-row height-xs-fit-content">
      <div class="font-size-xs-26 vertical-align-xs-bottom line-height-xs-2">kube-hunter</div>
    </div>
    <div class="stats-row row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Penetration Test Status:</div>
          </mat-card-header>
          <mat-card-content>
            <h3 [ngClass]="penetrationTestStatusInvalid ? 'text-style-red' : 'text-style-green'">{{penetrationTestText}}</h3>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="center-card">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Vulnerabilities in Last Run:</div>
          </mat-card-header>
          <mat-card-content >
            <table>
              <tr>
                <th>Low</th>
                <th>Medium</th>
                <th>High</th>
              </tr>
              <tr *ngIf="receivedResponse">
                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.low : 'N/A'}}</td>
                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.medium : 'N/A'}}</td>
                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.high : 'N/A'}}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Our Advice:</div>
          </mat-card-header>
          <mat-card-content>
            <div class="display-xs-flex p-xs-0 ms-xs-0 w-xs-100">
              <div class=" col-sm-7 col-xs-7 no-padding">
                <p>
                  {{ourAdvice}}
                </p>
              </div>
              <div class="col-sm-5 col-xs-5 text-align-xs-right p-xs-0">
                <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary" (click)="openDialog()">Run Audit</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row" id="past-audits-table">
      <div class="col-xs-12">
        <mat-card>
          <mat-card-header class="row">
            <div class="col-xs-5">
              <div class="font-xs-500">
                Past Audits
              </div>
            </div>
            <div class="col-xs-7 justify-content-xs-end display-xs-flex">
              <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary" (click)="openDialog()">Run Audit</button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div *ngIf="allReportsForCluster">
              Click on an audit to learn more about this cluster's vulnerabilities<br>
            </div>

            <div class="overflow-x-xs-auto display-xs-flex">
              <mat-table class="table-with-link-rows" [dataSource]="dataSource">
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
                  <mat-cell *matCellDef="let report">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">
                      {{report.createdAt | date: 'M/dd/yyyy' }}
                    </a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="time">
                  <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>\
                  <mat-cell *matCellDef="let report">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">
                      {{report.createdAt | date: 'mediumTime'}}
                    </a>
                  </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numVulnerabilities">
                  <mat-header-cell *matHeaderCellDef> Number of Vulnerabilities </mat-header-cell>
                  <mat-cell *matCellDef="let report">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">
                      {{report.vulnerabilities.value.value?.length}}
                    </a>
                  </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>
            <mat-paginator
              [length]="reportCount"
              [pageSize]="limit"
              [pageSizeOptions]="[ 20, 50, 100]"
              (page)="pageEvent($event)"
              showFirstLastButtons>
            </mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>









<!--<div class="m-xs-1 h-xs-100 display-xs-block overflow-xs-auto">-->
<!--  <div class="col-xs mt-xs-3">-->
<!--    <div class="display-xs-flex justify-content-xs-space-between flex-direction-xs-row height-xs-fit-content">-->
<!--      <div class="font-size-xs-26 vertical-align-xs-bottom line-height-xs-2">kube-hunter</div>-->
<!--    </div>-->
<!--    <div class="stats-row row">-->
<!--      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">-->
<!--        <mat-card>-->
<!--          <mat-card-header>-->
<!--            <div class="font-size-xs-20 font-weight-xs-bold line-weight-xs-1">Penetration Test Status:</div>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content>-->
<!--            <h3 [ngClass]="penetrationTestStatusInvalid ? 'text-style-red' : 'text-style-green'">{{penetrationTestText}}</h3>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->

<!--      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="center-card">-->
<!--        <mat-card>-->
<!--          <mat-card-header>-->
<!--            <div class="font-size-xs-20 font-weight-xs-bold line-weight-xs-1">Vulnerabilities in Last Run:</div>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content >-->
<!--            <table>-->
<!--              <tr>-->
<!--                <th>Low</th>-->
<!--                <th>Medium</th>-->
<!--                <th>High</th>-->
<!--              </tr>-->
<!--              <tr *ngIf="receivedResponse">-->
<!--                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.low : 'N/A'}}</td>-->
<!--                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.medium : 'N/A'}}</td>-->
<!--                <td class="last-run-data">{{ scansExist ? mostRecentVulnerabilities.high : 'N/A'}}</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->

<!--      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">-->
<!--        <mat-card>-->
<!--          <mat-card-header>-->
<!--            <div class="font-size-xs-20 font-weight-xs-bold line-weight-xs-1">Our Advice:</div>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content>-->
<!--            <div class="display-xs-flex p-xs-0 ms-xs-0 w-xs-100">-->
<!--              <div class=" col-sm-7 col-xs-7 no-padding">-->
<!--                <p>-->
<!--                  {{ourAdvice}}-->
<!--                </p>-->
<!--              </div>-->
<!--              <div class="col-sm-5 col-xs-5 text-align-xs-right p-xs-0">-->
<!--                <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary" (click)="openDialog()">Run Audit</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="row" id="past-audits-table">-->
<!--      <div class="col-xs-12">-->
<!--        <mat-card class="mb-xs-4">-->
<!--          <mat-card-header class="row">-->
<!--            <div class="col-xs-5">-->
<!--              <div class="font-size-xs-20 font-weight-xs-bold line-weight-xs-1">-->
<!--                Past Audits-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="col-xs-7 justify-content-xs-end display-xs-flex">-->
<!--              <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary" (click)="openDialog()">Run Audit</button>-->
<!--            </div>-->
<!--          </mat-card-header>-->
<!--          <mat-card-content>-->
<!--            <div *ngIf="allReportsForCluster">-->
<!--              Click on an audit to learn more about this cluster's vulnerabilities<br>-->
<!--            </div>-->

<!--            <div class="overflow-x-xs-auto display-xs-flex">-->
<!--              <mat-table class="table-with-link-rows" [dataSource]="dataSource">-->
<!--                <ng-container matColumnDef="date">-->
<!--                  <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>-->
<!--                  <mat-cell *matCellDef="let report">-->
<!--                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">-->
<!--                      {{report.createdAt | date: 'M/dd/yyyy' }}-->
<!--                    </a>-->
<!--                  </mat-cell>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="time">-->
<!--                  <mat-header-cell *matHeaderCellDef> Time </mat-header-cell>\-->
<!--                  <mat-cell *matCellDef="let report">-->
<!--                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">-->
<!--                      {{report.createdAt | date: 'mediumTime'}}-->
<!--                    </a>-->
<!--                  </mat-cell>-->
<!--                </ng-container>-->
<!--                <ng-container matColumnDef="numVulnerabilities">-->
<!--                  <mat-header-cell *matHeaderCellDef> Number of Vulnerabilities </mat-header-cell>-->
<!--                  <mat-cell *matCellDef="let report">-->
<!--                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubehunter', report.id]">-->
<!--                      {{report.vulnerabilities.value.value?.length}}-->
<!--                    </a>-->
<!--                  </mat-cell>-->
<!--                </ng-container>-->
<!--                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
<!--                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
<!--              </mat-table>-->
<!--            </div>-->
<!--            <mat-paginator-->
<!--              [length]="reportCount"-->
<!--              [pageSize]="limit"-->
<!--              [pageSizeOptions]="[ 20, 50, 100]"-->
<!--              (page)="pageEvent($event)"-->
<!--              showFirstLastButtons>-->
<!--            </mat-paginator>-->
<!--          </mat-card-content>-->
<!--        </mat-card>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
