.overview-cards {
  margin-bottom: 1em;
  mat-card {
    height: 400px;
    display: grid;
    overflow: auto;
  }
}

#related-events-header {
  margin-bottom: 1em;
}

#event-details-table {
  mat-header-row {
    display: none;
  }

  .mat-column-title {
    max-width: 100px;
  }

  .mat-column-value {
    min-width: 400px;
  }
}

#incidence-rate-graph-card {
  mat-card-header {
    padding: 16px;
  }
  mat-card-content {
    align-self: center;
  }

  #incidence-rate-graph {
    //overflow-y: auto !important;
    //text-align: left;
  }
}

#raw-data {
  margin-top: 1em;

  #raw-data-content {
    overflow-y: auto !important;
    text-align: left;
  }
}
