.pl-10 {
  padding-left: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.rule-container {
  border: 2px solid;
  margin: 15px;
  padding: 20px;
}

.falco-rule-card {
  min-width: 400px;
}

.p-30 {
  padding: 30px;
}

.falco-rule-card-content {
  max-height: 800px;
  overflow-y: auto;
}

