:root{
  --organization-container-height: 981px
}

div.docker-registries-list-container {
  height:calc(var(--organization-container-height) - 52px);
  overflow: auto;
  > div {
    &.docker-registries-list {
      margin: 20px 25px;
      display: flex;
      flex-direction: column;
    }
  }
}

.mat-elevation-z8 {
  @media all and (max-width: 685px) {
    overflow-x: scroll;
  }
  .mat-column-name {
    padding-right: 5px;
  }
  .mat-column-hostname {
    padding-right: 5px;
  }
  .mat-column-password {
    padding-right: 5px;
  }

  table {
    width: 100%;
  }
}
mat-paginator {
  display: flex;
  justify-content: center;
}
