:root{
  --organization-container-height: 981px;
}
div.user-list-container {
  height:calc(var(--organization-container-height) - 52px);
  overflow: auto;
  > div {
    &.users-list {
      margin: 20px 25px;
      > mat-toolbar {
        display: flex;
        justify-content: space-between;

        > mat-icon-button {
          margin-left: 5px;
        }
      }
    }
  }
}
table {
  width: 100%;
}
.user-table {
  min-width: 800px;
}
mat-paginator {
  display: flex;
  justify-content: center;
}

