<div class="row h-xs-100 display-xs-block overflow-xs-auto me-xs-1">
  <div class="col-xs my-xs-7 ms-xs-7">
    <mat-card>
      <mat-card-content>
        <div class="font-size-xs-26 line-height-xs-2">{{ subMenuTitle }}</div>
        <form [formGroup]="policyForm">
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Policy Name" type="text" formControlName="name" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Description" type="textarea" formControlName="description"
                      required></textarea>
          </mat-form-field>
          <mat-checkbox formControlName="tempExceptionEnabled"
                        [ngModel]="checkboxDefault"
          >Enable Temporary Exceptions: Create short-term exceptions
            for any newly discovered policy violations
          </mat-checkbox>
          <mat-form-field appearance="fill" *ngIf="policyForm.controls.tempExceptionEnabled.value" class="mt-xs-3">
            <mat-label>Temporary Exception Grace Period (Days)</mat-label>
            <input matInput placeholder="None" type="text" formControlName="new_scan_grace_period">
          </mat-form-field>
          <mat-checkbox formControlName="rescanEnabled"
                        [ngModel]="checkboxDefault"
          >Rescan Images Regularly: Rescan Images regularly to ensure
            scan results are up to date with latest CVE definitions.
          </mat-checkbox>
          <br>
          <mat-form-field appearance="fill" *ngIf="policyForm.controls.rescanEnabled.value" class="mt-xs-3">
            <mat-label>Image Rescan Period (Days)</mat-label>
            <input matInput placeholder="None" type="text" formControlName="rescan_grace_period">
          </mat-form-field>
          <mat-checkbox formControlName="enabled" [ngModel]="checkboxDefault">Active: Run and summarize all active
            scanners in this policy
          </mat-checkbox>
          <p
            *ngIf="policyForm.errors?.['activePolicyHasActiveScanner'] && (policyForm.touched || policyForm.dirty)"
            class="mat-hint">
            * Active policies must have at least one active scanner
          </p>
          <br>
          <mat-checkbox formControlName="enforcement" [ngModel]="checkboxDefault">
            <p>Required: All required, active
              scanners must pass to consider an image valid
            </p>
          </mat-checkbox>
          <mat-form-field appearance="fill">
            <mat-label>Clusters</mat-label>
            <mat-select formControlName="clusters" multiple required
                        (selectionChange)="handleRelevantForAllClusters($event)">
              <mat-option value="all" [disabled]="relevantForAllClusters === false">For All Clusters</mat-option>
              <mat-optgroup *ngFor="let cg of clusterGroups" [label]="cg.name">
                <mat-option *ngFor="let c of cg.clusters" [value]="c.id"
                            [disabled]="relevantForSpecificClusters === false">{{ c.name }}
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </mat-form-field>
        </form>
        <!-- Scanner List Table -->
        <div class="display-xs-flex p-xs-0 ms-xs-0 width-xs-100 row mb-xs-3">
          <div class="col-sm-8 col-xs-12 p-xs-0">
            <span class="font-xs-500">{{ scannerSubmenuTitle }}</span>
          </div>
          <div class="col-sm-4 col-xs-12 p-xs-0 justify-content-sm-end display-xs-flex">
            <button mat-raised-button color="primary" type="button"
                    (click)="openAddScannerDialog()">
              <mat-icon>add</mat-icon>
              Create Scanner
            </button>
          </div>
        </div>
        <div class="row display-xs-flex p-xs-0 ms-xs-0 width-xs-100">
          <div id="policyRequirementsTable" class="overflow-x-xs-auto display-xs-flex" *ngIf="dataSource?.data?.length">
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="enabled">
                <mat-header-cell *matHeaderCellDef>Active</mat-header-cell>
                <mat-cell *matCellDef="let scanner">
                  <app-readonly-checkbox [checked]="scanner.enabled"></app-readonly-checkbox>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="required">
                <mat-header-cell *matHeaderCellDef>Required</mat-header-cell>
                <mat-cell *matCellDef="let scanner">
                  <app-readonly-checkbox [checked]="scanner.required"></app-readonly-checkbox>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                <mat-cell *matCellDef="let scanner" [matTooltip]="scanner.name"> {{ scanner?.name }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="description">
                <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                <mat-cell *matCellDef="let scanner" [matTooltip]="scanner.description"> {{ scanner?.description }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
                <mat-cell *matCellDef="let scanner">{{ scanner?.type }}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  Actions
                </mat-header-cell>
                <mat-cell *matCellDef="let scanner; let i=index">
                  <button mat-icon-button (click)="editScanner(scanner, i)">
                    <mat-icon>create</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let scanner; let i=index">
                  <button mat-icon-button (click)="alertDeleteScanner(scanner.id, i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </div>

        <!-- Scanner List Table End -->
        <p></p>
        <div mat-dialog-actions>
          <button [disabled]="!policyForm.valid" mat-raised-button color="primary" type="submit"
                  (click)="onSubmit()">Submit
          </button>
          &nbsp;
          <button mat-raised-button color="warn" type="button" (click)="cancelPolicyForm()">Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
