.active-checkbox-row {
  padding-bottom: 10px;
}

#policyRequirementsTable {
  width: 100%;
  border: rgba(0, 0, 0, 0.12) solid 1px;

  .mat-column-enabled {
    min-width: 80px;
    max-width: 90px;
  }

  .mat-column-required {
    min-width: 80px;
    max-width: 90px;
  }

  .mat-column-name {
    overflow: hidden;
    white-space: nowrap;
    min-width: 100px;
    max-width: 150px;
  }

  .mat-column-description {
    overflow: hidden;
    white-space: nowrap;
    min-width: 150px;
  }

  .mat-column-type {
    min-width: 80px;
    max-width: 90px;
  }

  .mat-column-actions {
    min-width: 80px;
    max-width: 90px;
  }

  .mat-column-delete {
    min-width: 80px;
    max-width: 90px;
  }
}
