.mat-column-image {
  word-break: break-all;
  margin-right: 10px
}

.mat-column-type {
  word-break: break-all;
  margin-right: 10px;
}

.mat-column-package {
  word-break: break-all;
  margin-right: 10px;
}

.mat-column-imageId {
  margin-right: 10px;
  word-break: break-all;
  max-width: 7%;
}

.mat-column-isFixable {
  max-width: 7%;
  margin-right: 10px;
}

.mat-column-severity {
  max-width: 7%;
}

.mat-column-scannerName {
  margin-right: 10px;
}

.mat-column-runningInCluster {
  max-width: 7%;
  margin-right: 10px;
}

.mat-column-namespaces {
  margin-right: 10px;
  word-break: break-all;
}

.mat-mdc-form-field {
  margin-right: 10px;
}

.mat-mdc-card {
  max-width: 2000px;
}
