@import '~@angular/material/theming';

@mixin cluster-details-component-light-theme($theme) {
  app-cluster-details {
    .cluster-details-container {
      .cluster-menu {
        background-color: map-get($mat-grey, A100);
      }
      .cluster-details-dashboard{
        background-color: mat-color($mat-grey, 300);
      }
    }
  }
}

@mixin cluster-details-component-dark-theme($theme) {
  app-cluster-details {
    .cluster-details-container {
      color: map-get($mat-grey, A100);
      .cluster-menu {
        background-color: #201f1e;
        mat-list {
          a {
            display: block;
            text-decoration: none;
          }
          a:hover {
            background-color: #252423 !important;
            color: map-get($mat-grey, A100) !important;
          }
          a.active {
            background-color: #497ebf !important;
            color: map-get($mat-grey, A100) !important;
            border-left: #0078d4 3px solid;
          }
          a.active:hover {
            background-color: #497ebf !important;
            color: map-get($mat-grey, A100) !important;
          }
        }
      }
      .cluster-details-dashboard {
        background-color: #252423;
      }
      .cluster-chart {
        text {
          fill: map-get($mat-grey, A100)!important;
        }
      }
    }
    .organization-settings {
      background-color: #201f1e !important;
      mat-list {
        a:hover {
          background-color: #252423;
          color: map-get($mat-grey, A100);
        }
        .expanded-item {
          &:hover {
            background-color: #252423 !important;
          }
        }
        button fa-icon {
          color: map-get($mat-grey, A100);
        }
        .expand-hover {
          &:hover {
            background-color: #252423 !important;
          }
        }
      }
    }
  }
}
