<div class="main-container">
  <div id="left-nav" class="cluster-group-menu">

    <div class="cluster-item">
      <mat-list role="list" *ngIf="isClusterLoaded">
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'summary']"
           title="Summary"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-item-icon>graphic_eq</mat-icon>
          <span matLine  style="padding-left: 8px;">Summary</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'info' ]"
           title="Cluster Info"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           >
          <mat-icon mat-list-item-icon>info</mat-icon>
          <span matLine  style="padding-left: 8px;">Cluster Info</span>
        </a>
        <a [allowedRoles]="['ADMIN', 'SUPER_ADMIN', 'READ_ONLY']" mat-list-item
           [routerLink]="['/private', 'clusters', cluster?.id, 'images']"
           routerLinkActive="active"
           title="Images"
           [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon mat-list-item-icon>insert_photo</mat-icon>
          <span matLine   style="padding-left: 8px;">Images</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'kubernetes-namespaces']"
           title="Workloads"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <mat-icon mat-list-item-icon>network_check</mat-icon>
          <span matLine  style="padding-left: 8px;">Workloads</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'gatekeeper']"
           title="GateKeeper"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <img ngSrc="../../../../../assets/images/opa-icon-black.png" width="25" height="25" style="margin-top:10px; margin-left:12px; vertical-align: bottom;"/>
          <span matLine style="padding-left:30px;vertical-align: bottom;" >GateKeeper</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'kubesec']"
           title="KubeSec"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <img ngSrc="../../../../../assets/images/kubesec-logo.png"width="20" height="20" style="margin-top:10px; margin-left:12px; vertical-align: bottom;"/>
          <span matLine style="padding-left: 35px; vertical-align: bottom;" >KubeSec</span>
        </a>
        <a [allowedRoles]="['SUPER_ADMIN']" mat-list-item [routerLink]="['/private', 'api-key'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}"
           title="API Key Management">
          <mat-icon mat-list-item-icon>code</mat-icon>
          <span matLine  style="padding-left: 8px;">API Key Management</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'kubehunter']"
           title="Kube Hunter"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <div class="row">
            <div style=" margin-left:20px; margin-top:28px;">
              <img ngSrc="../../../../../assets/images/kube-hunter-logo.png" width="30" height="30"/>
            </div>
            <span matLine style="margin-left:33px; margin-top:33px;" >Kube Hunter</span>
          </div>
        </a>
        <a mat-list-item [routerLink]="['/private', 'clusters', cluster?.id, 'kubebench']"
           title="Kube Bench"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}">
          <div class="row">
            <div style=" margin-left:20px; margin-top:28px;">
              <img ngSrc="../../../../../assets/images/kube-bench-logo.png" width="30" height="30" />
            </div>
            <span matLine style="margin-left:33px; margin-top:33px;">Kube Bench</span>
          </div>
        </a>
        <a mat-list-item
           [routerLink]="['/private', 'clusters', cluster?.id, 'falco']"
           routerLinkActive="active"
           title="Falco"
           [routerLinkActiveOptions]="{exact: true}" >
          <div class="row">
            <div style=" margin-left:20px; margin-top:28px;">
              <img ngSrc="../../../../../../assets/images/falco-icon-black.png" width="22" height="22"  />
            </div>
            <span matLine style="margin-left:40px; margin-top:33px;">Falco</span>
          </div>
        </a>
        <a  mat-list-item
           [routerLink]="['/private', 'clusters', cluster?.id, 'reports']"
           routerLinkActive="active"
            title="Reports"
           [routerLinkActiveOptions]="{exact: true}" >
          <mat-icon mat-list-item-icon>feed</mat-icon>
          <span matLine style="padding-left: 8px;">Reports</span>
        </a>
      </mat-list>
    </div>

    <div class="organization-settings">
      <div role="list">
        <div  id='expand' class="expanded-item" >
          <a  [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" [routerLink]="['/private', 'users']" class="expand-hover" title="Organization Settings" >
            <mat-icon mat-list-item-icon>settings</mat-icon>
            <span matLine class="organization-settings-text" >Organization Settings</span>
          </a>
          <button mat-icon-button (click)="expand()"  title="Collapse"  style="width: 56px; height: 56px; line-height: normal; horiz-align: center">
            <fa-icon [icon]="faIcons.arrowDoubleLeft" size="2x"></fa-icon>
          </button>
        </div>
        <div  id='collapse' class="collapse-item" >
          <a style="margin-left:5px" [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" [routerLink]="['/private', 'users']" title="Organization Settings" >
            <mat-icon mat-list-item-icon>settings</mat-icon>
          </a>

            <button mat-icon-button (click)="expand()" title="Expand"  style="width: 56px; height: 56px; line-height: normal; margin-left:0; padding:0;" >
              <fa-icon [icon]="faIcons.arrowDoubleRight" size="2x"></fa-icon>
            </button>

        </div>
      </div>
    </div>
  </div>

  <div id="cluster-dashboard" class="cluster-dashboard">
    <router-outlet></router-outlet>
  </div>

</div>
