:root{
  --cluster-details-height: 1000px;
  --cluster-details-width: 981px;
  --navigation-menu-width: 300px;
  --cluster-container-width: 981px;
}
div {
  &.cluster-details-container{
    width: var(--cluster-details-width);
    height: calc(var(--cluster-details-height) - 50px);
    display: flex;
    > div {
      &.cluster-group-menu-small-device {
        width: var(--navigation-menu-width);
        z-index: 99999;
      }
      &.cluster-menu {
        width: var(--navigation-menu-width);
        height: calc(var(--cluster-details-height) - 50px);
        display: flex;
        flex-direction: column;
        border-right: #b0aeaf 1px solid;

        div.nav-menu {
          overflow: hidden auto;
          flex: 5;
          &::-webkit-scrollbar {
            width: 2.5px;
          }

          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }

          &::-webkit-scrollbar-thumb {
            background: #888;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .mat-mdc-list-base {
            margin-right: 3px;
          }

          .mat-list {
            a {
              display: block;
              text-decoration: none;
            }

            a:hover {
              background-color: #F2F2F2;
              color: black;
            }

            a.active {
              background-color: #C7E0F4;
              color: black;
              border-left: #0078d4 3px solid;
            }
            .kube-hunter-img {
              width: 40px;
              height: 40px;
            }
            .opa-img {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }

    > div {
      &.cluster-details-dashboard-small-device{
        position: fixed;
        opacity: 0.5;
        width: var(--cluster-container-width);
        display: flex;
      }
      &.cluster-details-dashboard {
        width: var(--cluster-container-width);
        flex-direction: column;
      }
    }

    div.organization-settings {
      bottom: 0;
      //position: fixed;
      width: var(--navigation-menu-width);
      display: flex;
      align-items: center;
      /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
      /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
      mat-list {
        display: flex;
        width: 100%;
        &.expanded {
          flex-direction: row;
        }
        &.closed {
          flex-direction: column;
        }
        &.mat-mdc-list-base {
          padding-top: 0 !important;
        }
        a {
          text-decoration: none;
          //font-size: 1vw;
        }

        > .mat-mdc-list-item {
          &:hover {
            background-color: #F2F2F2;
          }
        }

        .expanded-item {
          display: flex;
          flex-direction: row;
          width: 100%;
          &:hover {
            background-color: #F2F2F2;
          }
        }
      }
    }
  }

  .row {
    display: flex;
    img {
      width: 24px;
      height: 24px;
      padding: 4px;
      margin-left: 16px;
      > span {
        font-size: 16px;
      }
    }

    .top-margin-16 {
      margin-top: 16px;
    }
  }
  .kube-hunter-list-item {
    /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
    /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
    ::ng-deep .mat-list-item-content {
      padding: 7px;
      /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
      ::ng-deep .mat-list-text {
        padding: 7px;
      }
    }
  }

  .gatekeeper-list-item {
    /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
    /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
    ::ng-deep .mat-list-item-content {
      /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
      ::ng-deep .mat-list-text {
        padding-left: 15px;
      }
    }
  }
}

@media print {
  div {
    &.cluster-details-container {
      height: auto;
      .cluster-menu {
        height: auto;
        display: none !important;
      }
    }
  }
}

.falco-img {
  height: 40px;
  width: 40px;
}
