// LARGE SCREEN: width >800px // pink & green
div.cluster-group-menu {
  height: auto;
  background-color: pink;
  width: 300px;
  // background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.mat-icon{ // for mat-icon in dashboard
  padding-left: 10px;
  margin-right: 25px;
  margin-left: 5px;
  height: 40px;
}
.material-icons{
  line-height:2.5;
}

div.cluster-item { // left nav 2)
  height: 35px;
  flex: 4;
  a{
    font-size: 14px;
    height:60px;
    &:hover {
      background-color: #e3dede;
    }
  }
}
span.cluster-group-name-full {
  padding-left: 10px;
  vertical-align: text-bottom;
}
span.cluster-group-name-short {
  width: 15px;
  height: 60px;
  padding:15px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  vertical-align: text-bottom;
  margin: 4px;
}

div.cluster-group-name {
  text-decoration: none;
  font-size: 14px;
}
div.organization-settings { // left nav 3)
  flex-direction: row;
}
div.expanded-item {
  display: flex;
  flex-direction: row;
  background-color: green;

  &:hover {
    background-color: #F2F2F2;
  }
}
div.collapse-item {
  flex-direction: column;
  display: none;
  &:hover {
    background-color: #F2F2F2;
  }
}
div.cluster-dashboard {
  width: calc(100% - 300px);
  flex-direction: column;
}



// SMALL SCREEN: width <800px // yellow & blue
@media screen and (max-width: 800px) {
  div.cluster-group-menu {
    background-color: yellow;
    width: 65px;
  }
  span.add-cluster-group{
    display:none;
  }

  div.cluster-item { // left nav 2)
    flex: 1;
  }
  span.cluster-group-name-full {
    display:none;
  }
  div.organization-settings { // left nav 3)
    flex-direction: column;
  }

  div.expanded-item{
    //display: flex;
    flex-direction: column;
    display:none;
    //width: 100%;

    &:hover {
      background-color: #F2F2F2;
    }
  }
  div.collapse-item{
    display: flex;
    flex-direction: column;
    background-color: lightskyblue;
    &:hover {
      background-color: #F2F2F2;
    }
  }

  div.cluster-dashboard {
    width: calc(100% - 65px);
    flex-direction: column;
  }
}


// RESPONSIVE - work for large screen to collapse or expand // orange & light green
div.cluster-group-menu.responsive {
  background-color: orange;
  width: 65px;
  span.add-cluster-group{
    display:none;
  }
  div.organization-settings { // left nav 3)
    flex-direction: column;
  }

  div.expanded-item {
    flex-direction: column;
    display: none;
    &:hover {
      background-color: #F2F2F2;
    }
  }
  div.collapse-item {
    display: flex;
    flex-direction: column;
    background-color: palegreen;

    &:hover {
      background-color: #F2F2F2;
    }
  }
}
div.cluster-dashboard.responsive {
  width: calc(100% - 65px);
  flex-direction: column;
}










