:root {
  --cluster-details-height: 1000px;
  --cluster-details-width: 981px;
}

div {
  &.cluster-info-container {
    height: calc(var(--cluster-details-height) - 52px);
    overflow: auto;

    > div {
      &.cluster-details {
        margin: 10px 15px 0 15px;

        div {
          &.sub-navigation-in-small-device {
            div.cluster-info-sub-title {
              font-size: 26px;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            mat-card-actions {
              margin-left: 3px;
            }
          }

          &.cluster-info-sub-navigation {
            display: flex;
            justify-content: space-between;

            div.cluster-info-sub-title {
              font-size: 26px;
              padding-top: 10px;

            }
          }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card {
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card-header {
            margin-left: -17px;
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            mat-card-title {
              font-size: 24px;
              margin-bottom: 25px;
              margin-left: 15px
            ;
            }
          }
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card-content {
            word-wrap: break-word !important;
            p {
              font-size: 15px;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            &.mat-card-content-in-small-device {
              p {
                font-size: 13px;
              }
            }
            /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
            /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
            .mat-chip-list {
              /* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
              ::ng-deep .mat-chip-list-wrapper {
                padding-left: 5px;
              }
            }
          }
        }
      }
    }
  }
}

@media print {
  .cluster-info-button-item {

    button {
      display: none !important;
    }
  }
}

#update-config-button {
  margin-right: 8px;
}

