@media print {
  .cluster-info-button-item {

    button {
      display: none !important;
    }
  }
}

p.row {
  margin-inline: 1em;
}
h3.row {
  margin-inline: 1em;
  margin-top: 20px;
}
.toggle-row.row {
  margin-inline: 1em;
  height: 23px;
}

mat-spinner {
  margin-left: 0.25em;
}
