:root{
  --change-password-container-height: 981px;
}
div {
  &.change-password-container {
    display: flex;
    flex-direction: column;
    height: var(--change-password-container-height);
    justify-content: center;
    > div {
      &.change-password-form-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        overflow: hidden auto;
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card {
          width: 350px;
          height: 470px;
          margin: 10px;
        }

        mat-form-field, button {
          width: 100%;
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card-header {
          justify-content: center;
        }
      }
    }
  }
}


