<div class="change-password-container">
  <div class="change-password-form-card">
    <mat-card appearance="outlined" class="change-password-mat-card">
      <mat-card-header>
        <mat-card-title>
          <a>Change Password</a>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="user-form" [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Current password</mat-label>
              <input matInput placeholder="Current password" type="password" formControlName="currentPassword">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" type="password" formControlName="password">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill">
              <mat-label>Confirm password</mat-label>
              <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
            </mat-form-field>
          </p>
          <button [disabled]="!changePasswordForm.valid" mat-raised-button type="submit">Submit</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
