<div class="card-wrapper background-color-xs-grey">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>
        <h3>Change Password</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Current password</mat-label>
          <input matInput placeholder="Current password" type="password" formControlName="currentPassword">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword">
        </mat-form-field>
        <button [disabled]="!changePasswordForm.valid" mat-raised-button type="submit" color="primary">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
