<div class="row my-xs-4 mx-xs-3">
  <div class="col-xs">
    <div class="row">
      <div class="col-xs">
        <a href="https://open-policy-agent.github.io/gatekeeper/website/docs/install/#installation">
          <mat-icon mat-list-item-icon>info</mat-icon>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-8 mt-xs-2">
        Install GateKeeper with the following command:
      </div>
      <div class="col-xs-4 end-xs">
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied"
          [responsive]="true"
          [text]="run.value">
        </app-copy-to-clipboard-button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs">
                <textarea matInput [cdkTextareaAutosize]="true" #run
                          class="code-snippet width-xs-100 m-xs-3 text-align-xs-left modal-content-no-right-margin margin-top-1em"
                          readonly>
helm repo add gatekeeper https://open-policy-agent.github.io/gatekeeper/charts
helm install gatekeeper/gatekeeper --name-template=gatekeeper \
  --namespace gatekeeper-system \
  --create-namespace \
  --version 3.13.0 \
  --set-string replicas=1</textarea>
      </div>
    </div>
    <div class="padding-top-15">Note: You may need to adjust the GateKeeper version depending on your Kubernetes
      version.
    </div>
    <div class="row">
      <div class="col-xs">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Kubernetes Version Column -->
          <ng-container matColumnDef="k8sVersion">
            <th mat-header-cell *matHeaderCellDef>Kubernetes Version</th>
            <td mat-cell *matCellDef="let element">{{ element.k8sVersion }}</td>
          </ng-container>

          <!-- Gatekeeper Version Columne -->
          <ng-container matColumnDef="gatekeeperVersion">
            <th mat-header-cell *matHeaderCellDef>Gatekeeper Version</th>
            <td mat-cell *matCellDef="let element">{{ element.gatekeeperVersion }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    </div>
    <br>
    <div class="text-align-xs-right p-xs-0">
      <button mat-raised-button matDialogClose color="primary">Done</button>
    </div>
  </div>
</div>


