/**
This is where you can add generic styles that will be applied by screen size.
We DO NOT want classes that will be specific for pages - only global classes.
If you add the class to one section, please add a value to all.
ex:
.pt-xs-1 {
  padding-top: 1em;
}
@media only screen and (min-width: 48em) {
  .pt-sm-1 {
    padding-top: 1em;
  }
}
and so on for each media query size.

Media query sizes are based on the sizes defined in npm flexboxgrid
https://www.npmjs.com/package/flexboxgrid

naming and spacing defaults are based on Bootstrap spacing
exception: explicitly name sizes xs-lg; omit sizes xl & xxl
https://getbootstrap.com/docs/5.2/utilities/spacing/
0 - for classes that eliminate the margin or padding by setting it to 0
1 - for classes that set the margin or padding to $spacer * .25
2 - for classes that set the margin or padding to $spacer * .5
3 - for classes that set the margin or padding to $spacer
4 - for classes that set the margin or padding to $spacer * 1.5
5 - for classes that set the margin or padding to $spacer * 3
auto - for classes that set the margin to auto
 */

$spacer: 1em;  // aka 1 em

// xs screen sizes
.pt-xs-0 {
  padding-top: 0;
}
.pt-xs-1 {
  padding-top: ($spacer * 0.25);
}
.pt-xs-2 {
  padding-top: ($spacer * 0.5);
}
.pt-xs-3 {
  padding-top: ($spacer);
}
.pt-xs-4 {
  padding-top: ($spacer * 1.5);
}
.pt-xs-5 {
  padding-top: ($spacer * 3);
}

.py-xs-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-xs-1 {
  padding-top: ($spacer * 0.25);
  padding-bottom: ($spacer * 0.25);
}
.py-xs-2 {
  padding-top: ($spacer * 0.5);
  padding-bottom: ($spacer * 0.5);
}
.py-xs-3 {
  padding-top: ($spacer);
  padding-bottom: ($spacer);
}
.py-xs-4 {
  padding-top: ($spacer * 1.5);
  padding-bottom: ($spacer * 1.5);
}
.py-xs-5 {
  padding-top: ($spacer * 3);
  padding-bottom: ($spacer * 3);
}

.px-xs-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-xs-1 {
  padding-left: ($spacer * 0.25);
  padding-right: ($spacer * 0.25);
}
.px-xs-2 {
  padding-left: ($spacer * 0.5);
  padding-right: ($spacer * 0.5);
}
.px-xs-3 {
  padding-left: ($spacer);
  padding-right: ($spacer);
}
.px-xs-4 {
  padding-left: ($spacer * 1.5);
  padding-right: ($spacer * 1.5);
}
.px-xs-5 {
  padding-left: ($spacer * 3);
  padding-right: ($spacer * 3);
}

.pl-xs-0 {
  padding-left: 0;
}
.pl-xs-1 {
  padding-left: ($spacer * 0.25);
}
.pl-xs-2 {
  padding-left: ($spacer * 0.5);
}
.pl-xs-3 {
  padding-left: ($spacer);
}
.pl-xs-4 {
  padding-left: ($spacer * 1.5);
}
.pl-xs-5 {
  padding-left: ($spacer * 3);
}

.pr-xs-0 {
  padding-right: 0;
}
.pr-xs-1 {
  padding-right: ($spacer * 0.25);
}
.pr-xs-2 {
  padding-right: ($spacer * 0.5);
}
.pr-xs-3 {
  padding-right: ($spacer);
}
.pr-xs-4 {
  padding-right: ($spacer * 1.5);
}
.pr-xs-5 {
  padding-right: ($spacer * 3);
}


.my-xs-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-xs-1 {
  margin-top: ($spacer * 0.25);
  margin-bottom: ($spacer * 0.25);
}
.my-xs-2 {
  margin-top: ($spacer * 0.5);
  margin-bottom: ($spacer * 0.5);
}
.my-xs-3 {
  margin-top: ($spacer);
  margin-bottom: ($spacer);
}
.my-xs-4 {
  margin-top: ($spacer * 1.5);
  margin-bottom: ($spacer * 1.5);
}
.my-xs-5 {
  margin-top: ($spacer * 3);
  margin-bottom: ($spacer * 3);
}

.mt-xs-0 {
  margin-top: 0;
}
.mt-xs-1 {
  margin-top: ($spacer * 0.25);
}
.mt-xs-2 {
  margin-top: ($spacer * 0.5);
}
.mt-xs-3 {
  margin-top: ($spacer);
}
.mt-xs-4 {
  margin-top: ($spacer * 1.5);
}
.mt-xs-5 {
  margin-top: ($spacer * 3);
}

.mb-xs-0 {
  margin-bottom: 0;
}
.mb-xs-1 {
  margin-bottom: ($spacer * 0.25);
}
.mb-xs-2 {
  margin-bottom: ($spacer * 0.5);
}
.mb-xs-3 {
  margin-bottom: ($spacer);
}
.mb-xs-4 {
  margin-bottom: ($spacer * 1.5);
}
.mb-xs-5 {
  margin-bottom: ($spacer * 3);
}

.mx-xs-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-xs-1 {
  margin-left: ($spacer * 0.25);
  margin-right: ($spacer * 0.25);
}
.mx-xs-2 {
  margin-left: ($spacer * 0.5);
  margin-right: ($spacer * 0.5);
}
.mx-xs-3 {
  margin-left: ($spacer);
  margin-right: ($spacer);
}
.mx-xs-4 {
  margin-left: ($spacer * 1.5);
  margin-right: ($spacer * 1.5);
}
.mx-xs-5 {
  margin-left: ($spacer * 3);
  margin-right: ($spacer * 3);
}

.ml-xs-0 {
  margin-left: 0;
}
.ml-xs-1 {
  margin-left: ($spacer * 0.25);
}
.ml-xs-2 {
  margin-left: ($spacer * 0.5);
}
.ml-xs-3 {
  margin-left: ($spacer);
}
.ml-xs-4 {
  margin-left: ($spacer * 1.5);
}
.ml-xs-5 {
  margin-left: ($spacer * 3);
}

.mr-xs-0 {
  margin-right: 0;
}
.mr-xs-1 {
  margin-right: ($spacer * 0.25);
}
.mr-xs-2 {
  margin-right: ($spacer * 0.5);
}
.mr-xs-3 {
  margin-right: ($spacer);
}
.mr-xs-4 {
  margin-right: ($spacer * 1.5);
}
.mr-xs-5 {
  margin-right: ($spacer * 3);
}

// sm screen sizes
@media only screen and (min-width: 48em) {
  .pt-sm-0 {
    padding-top: 0;
  }
  .pt-sm-1 {
    padding-top: ($spacer * 0.25);
  }
  .pt-sm-2 {
    padding-top: ($spacer * 0.5);
  }
  .pt-sm-3 {
    padding-top: ($spacer);
  }
  .pt-sm-4 {
    padding-top: ($spacer * 1.5);
  }
  .pt-sm-5 {
    padding-top: ($spacer * 3);
  }

  .py-sm-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-sm-1 {
    padding-top: ($spacer * 0.25);
    padding-bottom: ($spacer * 0.25);
  }
  .py-sm-2 {
    padding-top: ($spacer * 0.5);
    padding-bottom: ($spacer * 0.5);
  }
  .py-sm-3 {
    padding-top: ($spacer);
    padding-bottom: ($spacer);
  }
  .py-sm-4 {
    padding-top: ($spacer * 1.5);
    padding-bottom: ($spacer * 1.5);
  }
  .py-sm-5 {
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
  }

  .px-sm-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-sm-1 {
    padding-left: ($spacer * 0.25);
    padding-right: ($spacer * 0.25);
  }
  .px-sm-2 {
    padding-left: ($spacer * 0.5);
    padding-right: ($spacer * 0.5);
  }
  .px-sm-3 {
    padding-left: ($spacer);
    padding-right: ($spacer);
  }
  .px-sm-4 {
    padding-left: ($spacer * 1.5);
    padding-right: ($spacer * 1.5);
  }
  .px-sm-5 {
    padding-left: ($spacer * 3);
    padding-right: ($spacer * 3);
  }

  .pl-sm-0 {
    padding-left: 0;
  }
  .pl-sm-1 {
    padding-left: ($spacer * 0.25);
  }
  .pl-sm-2 {
    padding-left: ($spacer * 0.5);
  }
  .pl-sm-3 {
    padding-left: ($spacer);
  }
  .pl-sm-4 {
    padding-left: ($spacer * 1.5);
  }
  .pl-sm-5 {
    padding-left: ($spacer * 3);
  }

  .pr-sm-0 {
    padding-right: 0;
  }
  .pr-sm-1 {
    padding-right: ($spacer * 0.25);
  }
  .pr-sm-2 {
    padding-right: ($spacer * 0.5);
  }
  .pr-sm-3 {
    padding-right: ($spacer);
  }
  .pr-sm-4 {
    padding-right: ($spacer * 1.5);
  }
  .pr-sm-5 {
    padding-right: ($spacer * 3);
  }


  .my-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-sm-1 {
    margin-top: ($spacer * 0.25);
    margin-bottom: ($spacer * 0.25);
  }
  .my-sm-2 {
    margin-top: ($spacer * 0.5);
    margin-bottom: ($spacer * 0.5);
  }
  .my-sm-3 {
    margin-top: ($spacer);
    margin-bottom: ($spacer);
  }
  .my-sm-4 {
    margin-top: ($spacer * 1.5);
    margin-bottom: ($spacer * 1.5);
  }
  .my-sm-5 {
    margin-top: ($spacer * 3);
    margin-bottom: ($spacer * 3);
  }

  .mt-sm-0 {
    margin-top: 0;
  }
  .mt-sm-1 {
    margin-top: ($spacer * 0.25);
  }
  .mt-sm-2 {
    margin-top: ($spacer * 0.5);
  }
  .mt-sm-3 {
    margin-top: ($spacer);
  }
  .mt-sm-4 {
    margin-top: ($spacer * 1.5);
  }
  .mt-sm-5 {
    margin-top: ($spacer * 3);
  }

  .mb-sm-0 {
    margin-bottom: 0;
  }
  .mb-sm-1 {
    margin-bottom: ($spacer * 0.25);
  }
  .mb-sm-2 {
    margin-bottom: ($spacer * 0.5);
  }
  .mb-sm-3 {
    margin-bottom: ($spacer);
  }
  .mb-sm-4 {
    margin-bottom: ($spacer * 1.5);
  }
  .mb-sm-5 {
    margin-bottom: ($spacer * 3);
  }

  .mx-sm-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-sm-1 {
    margin-left: ($spacer * 0.25);
    margin-right: ($spacer * 0.25);
  }
  .mx-sm-2 {
    margin-left: ($spacer * 0.5);
    margin-right: ($spacer * 0.5);
  }
  .mx-sm-3 {
    margin-left: ($spacer);
    margin-right: ($spacer);
  }
  .mx-sm-4 {
    margin-left: ($spacer * 1.5);
    margin-right: ($spacer * 1.5);
  }
  .mx-sm-5 {
    margin-left: ($spacer * 3);
    margin-right: ($spacer * 3);
  }

  .ml-sm-0 {
    margin-left: 0;
  }
  .ml-sm-1 {
    margin-left: ($spacer * 0.25);
  }
  .ml-sm-2 {
    margin-left: ($spacer * 0.5);
  }
  .ml-sm-3 {
    margin-left: ($spacer);
  }
  .ml-sm-4 {
    margin-left: ($spacer * 1.5);
  }
  .ml-sm-5 {
    margin-left: ($spacer * 3);
  }

  .mr-sm-0 {
    margin-right: 0;
  }
  .mr-sm-1 {
    margin-right: ($spacer * 0.25);
  }
  .mr-sm-2 {
    margin-right: ($spacer * 0.5);
  }
  .mr-sm-3 {
    margin-right: ($spacer);
  }
  .mr-sm-4 {
    margin-right: ($spacer * 1.5);
  }
  .mr-sm-5 {
    margin-right: ($spacer * 3);
  }
}

// md screen sizes
@media only screen and (min-width: 62em) {
  .pt-md-0 {
    padding-top: 0;
  }
  .pt-md-1 {
    padding-top: ($spacer * 0.25);
  }
  .pt-md-2 {
    padding-top: ($spacer * 0.5);
  }
  .pt-md-3 {
    padding-top: ($spacer);
  }
  .pt-md-4 {
    padding-top: ($spacer * 1.5);
  }
  .pt-md-5 {
    padding-top: ($spacer * 3);
  }

  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-md-1 {
    padding-top: ($spacer * 0.25);
    padding-bottom: ($spacer * 0.25);
  }
  .py-md-2 {
    padding-top: ($spacer * 0.5);
    padding-bottom: ($spacer * 0.5);
  }
  .py-md-3 {
    padding-top: ($spacer);
    padding-bottom: ($spacer);
  }
  .py-md-4 {
    padding-top: ($spacer * 1.5);
    padding-bottom: ($spacer * 1.5);
  }
  .py-md-5 {
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
  }

  .px-md-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-md-1 {
    padding-left: ($spacer * 0.25);
    padding-right: ($spacer * 0.25);
  }
  .px-md-2 {
    padding-left: ($spacer * 0.5);
    padding-right: ($spacer * 0.5);
  }
  .px-md-3 {
    padding-left: ($spacer);
    padding-right: ($spacer);
  }
  .px-md-4 {
    padding-left: ($spacer * 1.5);
    padding-right: ($spacer * 1.5);
  }
  .px-md-5 {
    padding-left: ($spacer * 3);
    padding-right: ($spacer * 3);
  }

  .pl-md-0 {
    padding-left: 0;
  }
  .pl-md-1 {
    padding-left: ($spacer * 0.25);
  }
  .pl-md-2 {
    padding-left: ($spacer * 0.5);
  }
  .pl-md-3 {
    padding-left: ($spacer);
  }
  .pl-md-4 {
    padding-left: ($spacer * 1.5);
  }
  .pl-md-5 {
    padding-left: ($spacer * 3);
  }

  .pr-md-0 {
    padding-right: 0;
  }
  .pr-md-1 {
    padding-right: ($spacer * 0.25);
  }
  .pr-md-2 {
    padding-right: ($spacer * 0.5);
  }
  .pr-md-3 {
    padding-right: ($spacer);
  }
  .pr-md-4 {
    padding-right: ($spacer * 1.5);
  }
  .pr-md-5 {
    padding-right: ($spacer * 3);
  }


  .my-md-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-md-1 {
    margin-top: ($spacer * 0.25);
    margin-bottom: ($spacer * 0.25);
  }
  .my-md-2 {
    margin-top: ($spacer * 0.5);
    margin-bottom: ($spacer * 0.5);
  }
  .my-md-3 {
    margin-top: ($spacer);
    margin-bottom: ($spacer);
  }
  .my-md-4 {
    margin-top: ($spacer * 1.5);
    margin-bottom: ($spacer * 1.5);
  }
  .my-md-5 {
    margin-top: ($spacer * 3);
    margin-bottom: ($spacer * 3);
  }

  .mt-md-0 {
    margin-top: 0;
  }
  .mt-md-1 {
    margin-top: ($spacer * 0.25);
  }
  .mt-md-2 {
    margin-top: ($spacer * 0.5);
  }
  .mt-md-3 {
    margin-top: ($spacer);
  }
  .mt-md-4 {
    margin-top: ($spacer * 1.5);
  }
  .mt-md-5 {
    margin-top: ($spacer * 3);
  }

  .mb-md-0 {
    margin-bottom: 0;
  }
  .mb-md-1 {
    margin-bottom: ($spacer * 0.25);
  }
  .mb-md-2 {
    margin-bottom: ($spacer * 0.5);
  }
  .mb-md-3 {
    margin-bottom: ($spacer);
  }
  .mb-md-4 {
    margin-bottom: ($spacer * 1.5);
  }
  .mb-md-5 {
    margin-bottom: ($spacer * 3);
  }

  .mx-md-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-md-1 {
    margin-left: ($spacer * 0.25);
    margin-right: ($spacer * 0.25);
  }
  .mx-md-2 {
    margin-left: ($spacer * 0.5);
    margin-right: ($spacer * 0.5);
  }
  .mx-md-3 {
    margin-left: ($spacer);
    margin-right: ($spacer);
  }
  .mx-md-4 {
    margin-left: ($spacer * 1.5);
    margin-right: ($spacer * 1.5);
  }
  .mx-md-5 {
    margin-left: ($spacer * 3);
    margin-right: ($spacer * 3);
  }

  .ml-md-0 {
    margin-left: 0;
  }
  .ml-md-1 {
    margin-left: ($spacer * 0.25);
  }
  .ml-md-2 {
    margin-left: ($spacer * 0.5);
  }
  .ml-md-3 {
    margin-left: ($spacer);
  }
  .ml-md-4 {
    margin-left: ($spacer * 1.5);
  }
  .ml-md-5 {
    margin-left: ($spacer * 3);
  }

  .mr-md-0 {
    margin-right: 0;
  }
  .mr-md-1 {
    margin-right: ($spacer * 0.25);
  }
  .mr-md-2 {
    margin-right: ($spacer * 0.5);
  }
  .mr-md-3 {
    margin-right: ($spacer);
  }
  .mr-md-4 {
    margin-right: ($spacer * 1.5);
  }
  .mr-md-5 {
    margin-right: ($spacer * 3);
  }
}

// lg screen sizes
@media only screen and (min-width: 75em) {
  .pt-lg-0 {
    padding-top: 0;
  }
  .pt-lg-1 {
    padding-top: ($spacer * 0.25);
  }
  .pt-lg-2 {
    padding-top: ($spacer * 0.5);
  }
  .pt-lg-3 {
    padding-top: ($spacer);
  }
  .pt-lg-4 {
    padding-top: ($spacer * 1.5);
  }
  .pt-lg-5 {
    padding-top: ($spacer * 3);
  }

  .py-lg-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .py-lg-1 {
    padding-top: ($spacer * 0.25);
    padding-bottom: ($spacer * 0.25);
  }
  .py-lg-2 {
    padding-top: ($spacer * 0.5);
    padding-bottom: ($spacer * 0.5);
  }
  .py-lg-3 {
    padding-top: ($spacer);
    padding-bottom: ($spacer);
  }
  .py-lg-4 {
    padding-top: ($spacer * 1.5);
    padding-bottom: ($spacer * 1.5);
  }
  .py-lg-5 {
    padding-top: ($spacer * 3);
    padding-bottom: ($spacer * 3);
  }

  .px-lg-0 {
    padding-left: 0;
    padding-right: 0;
  }
  .px-lg-1 {
    padding-left: ($spacer * 0.25);
    padding-right: ($spacer * 0.25);
  }
  .px-lg-2 {
    padding-left: ($spacer * 0.5);
    padding-right: ($spacer * 0.5);
  }
  .px-lg-3 {
    padding-left: ($spacer);
    padding-right: ($spacer);
  }
  .px-lg-4 {
    padding-left: ($spacer * 1.5);
    padding-right: ($spacer * 1.5);
  }
  .px-lg-5 {
    padding-left: ($spacer * 3);
    padding-right: ($spacer * 3);
  }

  .pl-lg-0 {
    padding-left: 0;
  }
  .pl-lg-1 {
    padding-left: ($spacer * 0.25);
  }
  .pl-lg-2 {
    padding-left: ($spacer * 0.5);
  }
  .pl-lg-3 {
    padding-left: ($spacer);
  }
  .pl-lg-4 {
    padding-left: ($spacer * 1.5);
  }
  .pl-lg-5 {
    padding-left: ($spacer * 3);
  }

  .pr-lg-0 {
    padding-right: 0;
  }
  .pr-lg-1 {
    padding-right: ($spacer * 0.25);
  }
  .pr-lg-2 {
    padding-right: ($spacer * 0.5);
  }
  .pr-lg-3 {
    padding-right: ($spacer);
  }
  .pr-lg-4 {
    padding-right: ($spacer * 1.5);
  }
  .pr-lg-5 {
    padding-right: ($spacer * 3);
  }


  .my-lg-0 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .my-lg-1 {
    margin-top: ($spacer * 0.25);
    margin-bottom: ($spacer * 0.25);
  }
  .my-lg-2 {
    margin-top: ($spacer * 0.5);
    margin-bottom: ($spacer * 0.5);
  }
  .my-lg-3 {
    margin-top: ($spacer);
    margin-bottom: ($spacer);
  }
  .my-lg-4 {
    margin-top: ($spacer * 1.5);
    margin-bottom: ($spacer * 1.5);
  }
  .my-lg-5 {
    margin-top: ($spacer * 3);
    margin-bottom: ($spacer * 3);
  }

  .mt-lg-0 {
    margin-top: 0;
  }
  .mt-lg-1 {
    margin-top: ($spacer * 0.25);
  }
  .mt-lg-2 {
    margin-top: ($spacer * 0.5);
  }
  .mt-lg-3 {
    margin-top: ($spacer);
  }
  .mt-lg-4 {
    margin-top: ($spacer * 1.5);
  }
  .mt-lg-5 {
    margin-top: ($spacer * 3);
  }

  .mb-lg-0 {
    margin-bottom: 0;
  }
  .mb-lg-1 {
    margin-bottom: ($spacer * 0.25);
  }
  .mb-lg-2 {
    margin-bottom: ($spacer * 0.5);
  }
  .mb-lg-3 {
    margin-bottom: ($spacer);
  }
  .mb-lg-4 {
    margin-bottom: ($spacer * 1.5);
  }
  .mb-lg-5 {
    margin-bottom: ($spacer * 3);
  }

  .mx-lg-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .mx-lg-1 {
    margin-left: ($spacer * 0.25);
    margin-right: ($spacer * 0.25);
  }
  .mx-lg-2 {
    margin-left: ($spacer * 0.5);
    margin-right: ($spacer * 0.5);
  }
  .mx-lg-3 {
    margin-left: ($spacer);
    margin-right: ($spacer);
  }
  .mx-lg-4 {
    margin-left: ($spacer * 1.5);
    margin-right: ($spacer * 1.5);
  }
  .mx-lg-5 {
    margin-left: ($spacer * 3);
    margin-right: ($spacer * 3);
  }

  .ml-lg-0 {
    margin-left: 0;
  }
  .ml-lg-1 {
    margin-left: ($spacer * 0.25);
  }
  .ml-lg-2 {
    margin-left: ($spacer * 0.5);
  }
  .ml-lg-3 {
    margin-left: ($spacer);
  }
  .ml-lg-4 {
    margin-left: ($spacer * 1.5);
  }
  .ml-lg-5 {
    margin-left: ($spacer * 3);
  }

  .mr-lg-0 {
    margin-right: 0;
  }
  .mr-lg-1 {
    margin-right: ($spacer * 0.25);
  }
  .mr-lg-2 {
    margin-right: ($spacer * 0.5);
  }
  .mr-lg-3 {
    margin-right: ($spacer);
  }
  .mr-lg-4 {
    margin-right: ($spacer * 1.5);
  }
  .mr-lg-5 {
    margin-right: ($spacer * 3);
  }
}
