/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%;} // login page requires 100%
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import './app/modules/private/private.component.theme';
@import 'flexboxgrid/css/flexboxgrid.min.css';
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/material';
@import 'generic-styles';

//Default theme
$ms-default-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$ms-default-accent: mat.define-palette(mat.$light-blue-palette, 800, 300, 900);
$ms-default-warn: mat.define-palette(mat.$pink-palette, 600);

$ms-button-styling: mat.define-typography-level(
  $font-family: "Roboto, 'Helvetica Neue', sans-serif",
  $font-weight: 600,
  $font-size: 14px,
  //$line-height: 48px,
  $letter-spacing: normal,
);

$ms-default-theme: mat.define-light-theme((
  color: (
    primary: $ms-default-primary,
    accent: $ms-default-accent,
    warn: $ms-default-warn
  ),
  typography: mat.define-typography-config(
    $font-family: "Roboto, 'Helvetica Neue', sans-serif",
    $button: $ms-button-styling,
    $headline-5: mat.define-typography-level(24px, 32px, 400),
    $headline-6: mat.define-typography-level(24px, 32px, 400),
    $subtitle-1: mat.define-typography-level(24px, 20px, 400),
    $body-1: mat.define-typography-level(14px, 20px, 400),
    $body-2: mat.define-typography-level(14px, 20px, 400),
    $subtitle-2: mat.define-typography-level(14px, 20px, 400),
  ),
));

//<app-root></app-root> theme
@import "./app/app.component.theme";
@import './app/modules/private/pages/dashboard/dashboard.component.theme';
@import './app/modules/private/pages/cluster/cluster-details/cluster-details.component.theme';
@import './app/modules/private/pages/organization-settings/organization-settings.component.theme';
@import './app/modules/private/pages/audit-log/audit-log-list/audit-log.component.theme';

mat-mdc-card {
  mat-card-title {
    font-weight: bold;
  }
}

.graph-card {
  padding-bottom: 20px;
  mat-card {
    overflow: auto;
  }
}

$danger-palette: mat.define-palette(mat.$deep-orange-palette, 800, 300, 900);
.error-text {
  color: map-get($danger-palette, "default") !important;
}

@mixin snackbar-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map-get($color-config, primary);
  $success-palette: map-get($color-config, accent);
  $warning-palette: map-get($color-config, warn);
  $danger-palette: $danger-palette;

  .mat-mdc-snack-bar-container {
    .mdc-snackbar__label, .mdc-button__label {
      font-weight: normal;
    }

    &.info-alert {
      .mdc-snackbar__surface {
        background-color: map-get($primary-palette, "default") !important;
        .mdc-snackbar__label, .mdc-button__label {
          color: map-get($primary-palette, "default-contrast") !important;
        }
      }
    }

    &.success-alert {
      .mdc-snackbar__surface {
        background-color: map-get($success-palette, "default") !important;
        .mdc-snackbar__label, .mdc-button__label {
          color: map-get($success-palette, "default-contrast") !important;
        }
      }
    }

    &.warning-alert {
      .mdc-snackbar__surface {
        background-color: map-get($warning-palette, "default") !important;
        .mdc-snackbar__label, .mdc-button__label {
          color: map-get($warning-palette, "default-contrast") !important;
          //text-transform: uppercase;
        }
      }
    }

    &.danger-alert {
      .mdc-snackbar__surface {
        background-color: map-get($danger-palette, "default") !important;
        .mdc-snackbar__label, .mdc-button__label {
          color: map-get($danger-palette, "default-contrast") !important;
          //text-transform: uppercase;
        }
      }
    }
  }
}

@mixin custom-components-theme($theme) {
  @include app-root-theme($theme);
}

@mixin custom-dashboard-component-theme($theme) {
  @include dashboard-component-light-theme($theme);
}

@mixin custom-cluster-details-component-theme($theme){
  @include cluster-details-component-light-theme($theme);
}

@mixin custom-toolbar-light-theme($theme) {
  @include toolbar-light-theme($theme);
}

@mixin custom-organization-settings-light-theme($theme) {
  @include organization-settings-component-light-theme($theme)
}

@mixin custom-audit-log-light-theme($theme) {
  @include audit-log-component-light-theme($theme)
}

.default-theme {
  @include mat.all-component-themes($ms-default-theme);
  @include custom-components-theme($ms-default-theme);
  @include custom-dashboard-component-theme($ms-default-theme);
  @include custom-cluster-details-component-theme($ms-default-theme);
  @include custom-toolbar-light-theme($ms-default-theme);
  @include custom-organization-settings-light-theme($ms-default-theme);
  @include custom-audit-log-light-theme($ms-default-theme);
  @include snackbar-theme($ms-default-theme);
}

button {
  @include app-root-theme($ms-default-theme);
}

.mat-mdc-dialog-container .mdc-dialog__content {
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 1);
}

.mat-mdc-dialog-container {
  padding-block: 20px;
}

// organization menu text
.organization-settings-text {
  font-size: 16px !important;
  vertical-align: center;
  text-align: center;
  margin: 8px;

}

@media print {
  html, body {
    height: auto;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important
  }
}

.no-padding {
  padding: 0!important;
}

.margin-top-10{
  margin-top: 10px;
}

.padding-top-10{
  padding-top: 10px;
}
.padding-top-15 {
  padding-top:15px;
  padding-left: 0;
}
.padding-left-3 {
  padding-left: 3%;
}

.negative-margin-bottom-20{
  margin-bottom: -20px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-align-center {
  text-align: center;
}

.text-align-right{
  text-align: right;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-2{
  margin-bottom: 2px;
}

.negative-margin-bottom-8 {
  margin-bottom: -8px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-7{
  margin-left: 7px;
}

.justify-content-center{
  justify-content: center;
}

.justify-content-right {
  justify-content: right!important;
}

.margin-bottom-6{
  margin-bottom: 6px;
}

.image-id-tooltip {
  word-break: break-all !important;
  white-space: normal !important;
}

.table-format table {
  width: 100%;
  border: 1px #AAA solid ;
  border-collapse: collapse
}

.table-format td, .table-format th {
  border: 1px #AAA solid ;
  margin: 0;
  padding: 2px;
  border-collapse: collapse;
  vertical-align: baseline;
}
.mat-icon{
  //vertical-align: bottom;
  //padding-left: 10px;
  // margin:10px;
}
.mat-mdc-icon-button{
  margin: 5px;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  padding:10px;
}

app-private {
  display: flex;
  flex-direction: column;
  height: 100%
}

.main-content {
  flex: 1;
  height: auto;
  margin-top: 0 !important
}

// Org setting pages uses app-sub-navigation for titles and buttons
// The following are for lining up other page elements
//.mat-mdc-card-header{
//  display: flex;
//  padding: 0;
//  margin-left: 0;
//}
.page-container {
  height: 100%;
  display: block;
  flex: 1;
  width: 100%;
  overflow: auto;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 300); // for containers without theme applied
}
.page-container-content{
  margin: 20px;
  // width:fit-content;
}
th, mat-header-cell {
  font-weight: 550 !important;
}
mat-table {
  display: table;
}
mat-cell {
  touch-action: auto !important;
  -webkit-user-drag: auto !important;
}

.scrollable-table-card, .component-with-scrollable-table {
  div.table-wrapper {
    overflow-x: auto;
    display: flex;
  }
  th, mat-header-cell {
    font-weight: 550 !important;
  }
  mat-table {
    display: table;
  }
  mat-cell {
    touch-action: auto !important;
    -webkit-user-drag: auto !important;
  }
}



.table-with-link-rows {
  mat-cell {
    padding: 0 !important;

    &:first-of-type {
      padding-left: 8px !important;
    }

    a {
      padding: 0 16px;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      text-decoration: unset;
      color: unset;
    }
  }
}

.page-card {
  margin: 0;
  overflow-x: auto;
}
.page-card-header{
  display:flex;
  padding:0;
  margin-left: 0;
  width: 100%;
}
.page-card-title{
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5em;
}
.page-card-content{
  margin-bottom: 30px;
}
.page-card-line-content {
  display: flex;
}
.page-card-title-button-group-right-align{
  text-align: right;
  padding: 0;
}
.page-card-left-align {
  margin-left: 0;
}
.page-table-container-with-paginator{
  width: fit-content; // align paginator with table width
  overflow: auto;
}
.mat-mdc-paginator{
  .mat-mdc-paginator-outer-container {
    .mat-mdc-paginator-container {
      justify-content: center;
    }
  }
}


// cluster details pages - page, card, title, button
.page-title-div{
  display: flex;
  flex-direction: column;
}

.page-title{
  font-size: 26px;
  vertical-align: bottom;
  line-height: 2;
}
.page-title-button-group-spacing {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.page-button-spacing{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
// dialog line up
.modal-container-margin{
  padding: 30px;
}
.modal-content-left-align-no-margin{
  margin: 0;
  text-align: left;
}
.modal-content-right-align-no-margin{
  margin: 0;
  text-align: right;
}
.modal-content-no-right-margin{
  margin-right: 0;
}

.table-row {
  &:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
  }
  &.mark {
    background: rgba(0, 0, 0, .05);
  }
}

.pointer {
  cursor: pointer;
}

.text-style-red {
  color: red;
}
.text-style-orange {
  color: orange;
}
.text-style-green {
  color: green;
}
.full-width {
  width: 100%;
}
.code-snippet {
  width: -webkit-fill-available;
  max-height: 400px;
  overflow: auto;
  white-space: pre; // Without this, long lines will wrap to new lines instead of scrolling
  resize: none;
  margin: 0 0 16px 0;
  box-sizing: border-box;
  // Styles below replicate StackOverflow
  background-color: #f6f6f6;
  padding: 12px;
  border: none;
  color: #2f3337;
  font-size: 13px;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

mat-form-field {
  width: 100%;
}

.padding-top-bot-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.next-button {
  display: flex;
  justify-content: flex-end;
}


// Styles for the pages contains table

.page-table {
  // flex: 1;
  overflow: auto;
  background: #F9F9F9;

  mat-table {
    min-width: 800px;

    mat-row {
      height: unset !important;  // overrides the height imposition set by the generic data table template
    }

    mat-cell, mat-header-cell, mat-footer-cell {
      overflow: visible;
      word-break: break-word;
      overflow-wrap: break-word;
      padding-left: 10px;
      padding-right: 10px;
      margin-right: unset;
    }
  }
}

.subnav-title {
  font-size: 26px;
  font-weight: normal;

  @media all and (max-width: 850px) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 35px;
  }
  @media all and (max-width: 377px) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 35px;
  }
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: row;
}

// CSS for Report pages [Start]

.title-font {
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
}

.title-margin {
  margin-left: 31px;
}

.vulnerability-filter-card {
  margin-bottom: 15px;
  margin-top: 10px;
}

.vulnerability-filter-content {
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.vulnerability-filter-button {
  justify-content: left;
  padding-left: 15px;
}

.vulnerability-download-button {
  display: flex;
  justify-content: right;
  padding-right: 15px;
  align-content: center;
  align-items: center;
}

.vulnerability-count {
  display: flex;
  justify-content: left;
  align-content: center;
  padding-left: 0;
}

.vulnerability-card {
  min-width: 300px;
  padding-bottom: 20px;
}

.mat-mdc-form-field {
  margin-right: 10px;
}

.fix-margin {
  margin-left: 18px;
}

// CSS for Report pages [END]

// CSS for left nav [begin]
// LARGE SCREEN: width >800px
div.cluster-group-menu {
  height: auto;
  //background-color: pink;
  width: 300px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
div.create-cluster-group { // left nav 1)
  cursor: pointer;
  height: 60px;
  a{
    font-size: 14px;
    height:60px;
    &:hover {
      background-color: #e3dede;
    }
  }
}

span.plus-button{

}
span.add-cluster-group{
  height: 35px;
}
div.cluster-item { // left nav 2)
  //height: 35px;
  height: fit-content;
  flex: 4;
  a{
    font-size: 14px;
    height:60px;
    &:hover {
      background-color: #e3dede;
    }
  }
}
span.cluster-group-name-full {
  padding-left: 10px;
  vertical-align: text-bottom;
}

div.cluster-group-name {
  text-decoration: none;
  font-size: 26px;
  line-height: 2.5;
}
div.organization-settings { // left nav 3)
  flex-direction: row;
}
div.expanded-item {
  display: flex;
  flex-direction: row;
  // background-color: green;

  &:hover {
    background-color: #F2F2F2;
  }
}
div.collapse-item {
  flex-direction: column;
  display: none;
  &:hover {
    background-color: #F2F2F2;
  }
}
div.cluster-dashboard {
  flex-direction: column;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 300);
}

// RESPONSIVE - work for large screen to collapse or expand
div.cluster-group-menu.responsive {
  // background-color: orange;
  width: 65px;
  overflow-y: hidden;
  overflow-x: hidden;
  span.add-cluster-group{
    display:none;
  }
  div.cluster-item { // left nav 2)
    flex: 1;
    height: fit-content;
  }

  div.organization-settings { // left nav 3)
    flex-direction: column;
  }

  div.expanded-item {
    flex-direction: column;
    display: none;
    &:hover {
      background-color: #F2F2F2;
    }
  }
  div.collapse-item {
    display: flex;
    flex-direction: column;
    //background-color: palegreen;

    &:hover {
      background-color: #F2F2F2;
    }
  }
}
div.cluster-dashboard.responsive {
  //width: calc(100% - 65px);
  flex-direction: column;
}

// CSS for left nav [end]

.padding-bottom-5px {
  padding-bottom: 5px;
}

.display-flex {
  display: flex !important;
}

.flex-column {
  flex-direction: column;
}

.light-border {
  border: rgba(0, 0, 0, 0.12) solid 1px;
}

.padding-10 {
  padding: 10px!important;
}

.padding-top-4 {
  padding-top: 4px;
}

.padding-left-10 {
  padding-left: 10px;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.align-items-center {
  align-items: center!important;
}
.align-self-center {
  align-self: center !important;
}

.align-items-stretch {
  align-items: stretch;
}

/** Hides the increment/decrement arrows on number inputs */
input[type=number].no-spin-button {
  -moz-appearance:textfield; /* Firefox */

  ::-webkit-outer-spin-button,
  ::-webkit-inner-spin-button {
    -webkit-appearance: none;
    // Gets rid of the margin on the (invisible) arrows
    margin: 0;
  }
}

app-datepicker-component {
  margin-left: 20px;
}

.mt-half-rem {
  margin-top: 0.5rem;
}

.mb-half-rem {
  margin-bottom: 0.5rem;
}

.mb-1-rem {
  margin-bottom: 1rem;
}

.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}

.min-width-8 {
  min-width: 8rem;
}

.min-width-4 {
  min-width: 4rem;
}

.min-width-3 {
  min-width: 3rem;
}

.height-30 {
  height: 30rem;
}

.ngx-charts .bar,
.ngx-charts .bar,
.ngx-charts .circle {
  cursor: default !important; // disable ngx-chart's default behavior of changing the cursor to a pointer on hover
}

.overflow-visible {
  overflow: visible!important;
}

.overflow-hidden {
  overflow: hidden!important;
}

@media print {
  @page {
    size: landscape;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  #cluster-dashboard, .page-container {
    background-color: white;
  }
  mat-card.mat-mdc-card {
    box-shadow: unset !important;
  }
  .page-title {
    margin-left: 14px;
  }
}
