/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%;} // login page requires 100%
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/theming';
@import './app/modules/private/private.component.theme';
@import 'flexboxgrid/css/flexboxgrid.min.css';
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/material';

//Default theme
$ms-default-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$ms-default-accent: mat.define-palette(mat.$light-blue-palette);
$ms-default-warn: mat.define-palette(mat.$pink-palette, 600);
/*
$ms-default-level: mat.define-typography-level(
  $font-family: "Roboto, 'Helvetica Neue', sans-serif",
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);
 */
$ms-default-theme: mat.define-light-theme((
  color: (
    primary: $ms-default-primary,
    accent: $ms-default-accent,
    warn: $ms-default-warn
  )
));


//<app-root></app-root> theme
@import "./app/app.component.theme";
@import './app/modules/private/pages/dashboard/dashboard.component.theme';
@import './app/modules/private/pages/cluster/cluster-details/cluster-details.component.theme';
@import './app/modules/private/pages/cluster/cluster-list/cluster-list.component.theme';
@import './app/modules/private/pages/organization-settings/organization-settings.component.theme';
@import './app/modules/private/pages/cluster/cluster-summary/cluster-summary.component.theme';
@import './app/modules/private/pages/audit-log/audit-log-list/audit-log.component.theme';



@mixin custom-components-theme($theme) {
  @include app-root-theme($theme);
}

@mixin custom-dashboard-component-theme($theme) {
  @include dashboard-component-light-theme($theme);
}

@mixin custom-cluster-details-component-theme($theme){
  @include cluster-details-component-light-theme($theme);
}

@mixin custom-toolbar-light-theme($theme) {
  @include toolbar-light-theme($theme);
}

@mixin custom-organization-settings-light-theme($theme) {
  @include organization-settings-component-light-theme($theme)
}

@mixin custom-audit-log-light-theme($theme) {
  @include audit-log-component-light-theme($theme)
}


.default-theme {
  @include angular-material-theme($ms-default-theme);
  @include custom-components-theme($ms-default-theme);
  @include custom-dashboard-component-theme($ms-default-theme);
  @include custom-cluster-details-component-theme($ms-default-theme);
  @include custom-toolbar-light-theme($ms-default-theme);
  @include custom-organization-settings-light-theme($ms-default-theme);
  @include custom-audit-log-light-theme($ms-default-theme);
}


 .mat-mdc-dialog-container {
  padding: 20px;
  margin-left: 20px;

}

// organization menu text
.organization-settings-text {
  font-size: 16px !important;
  vertical-align: center;
  text-align: center;
  margin: 8px;

}

@media print {
  html, body {
    height: auto;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important
  }
}

.no-padding{
  padding: 0;
}

.margin-top-10{
  margin-top: 10px;
}

.padding-top-10{
  padding-top: 10px;
}
.padding-top-15 {
  padding-top:15px;
  padding-left: 0px;
}
.padding-left-3 {
  padding-left: 3%;
}

.negative-margin-bottom-20{
  margin-bottom: -20px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-align-right{
  text-align: right;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-2{
  margin-bottom: 2px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-7{
  margin-left: 7px;
}

.justify-content-center{
  justify-content: center;
}

.margin-bottom-6{
  margin-bottom: 6px;
}

.image-id-tooltip {
  word-break: break-all !important;
  white-space: normal !important;
}

.table-format table {
  width: 100%;
  border: 1px #AAA solid ;
  border-collapse: collapse
}

.table-format td, .table-format th {
  border: 1px #AAA solid ;
  margin: 0px;
  padding: 2px;
  border-collapse: collapse;
  vertical-align: baseline;
}
.mat-icon{
  vertical-align: bottom;
  padding-left: 10px;
  // margin:10px;
}
.mat-mdc-icon-button{
  margin: 5px;
}
.mat-mdc-dialog-container .mdc-dialog__surface {
  padding:10px;
}

app-private {
  display: flex;
  flex-direction: column;
  height: 100%
}

.main-content {
  flex: 1;
  height: auto;
  margin-top: 0px !important
}

// Org setting pages uses app-sub-navigation for titles and buttons
// The following are for lining up other page elements
.mat-mdc-card-header{
  display: flex;
  padding: 0;
  margin-left: 0px;
}
.page-container {
  height: 100%;
  display: block;
  flex: 1;
  width: 100%;
  overflow: auto;
  background-color: mat.get-color-from-palette(mat.$gray-palette, 300); // for containers without theme applied
}
.page-container-content{
  margin: 20px;
  // width:fit-content;
}
.page-card{
  margin: 0px;
  overflow-x: auto;
}
.page-card-header{
  display:flex;
  padding:0px;
  margin-left: 0px;
  width: 100%;
}
.page-card-title{
  font-size: 20px;
  font-weight: bold;
}
.page-card-content{
  margin-bottom: 30px;
}
.page-card-line-content {
  display: flex;
}
.page-card-title-button-group-right-align{
  text-align: right;
  padding:0px;
}
.page-card-left-align {
  margin-left: 0px;
}
.page-table-container-with-paginator{
  width: fit-content; // align paginator with table width
  overflow: auto;
}
.mat-mdc-paginator{
  .mat-mdc-paginator-outer-container {
    .mat-mdc-paginator-container {
      justify-content: center;
    }
  }
}


// cluster details pages - page, card, title, button
.page-title-div{
  display: flex;
  flex-direction: column;
}

.page-title{
  font-size: 26px;
  vertical-align: bottom;
  line-height: 1;
}
.page-title-button-group-spacing{
  display: flex;
  height: 60px;
  justify-content: space-between;
  flex-direction: row;
}
.page-button-spacing{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
// dialog line up
.modal-container-margin{
  padding: 30px;
}
.modal-content-left-align-no-margin{
  margin: 0px;
  text-align: left;
}
.modal-content-no-right-margin{
  margin-right: 0px;
}

.cluster-card {
  height: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.table-row {
  &:hover {
    background-color: rgba(0, 0, 0, .05);
    cursor: pointer;
  }
  &.mark {
    background: rgba(0, 0, 0, .05);
  }
}

.cluster-page-row {
  padding-left: 30px;
  padding-right: 20px;
}

.pointer {
  cursor: pointer;
}

.text-style-red {
  color: red;
}
.text-style-orange {
  color: orange;
}
.text-style-green {
  color: green;
}
.full-width {
  width: 100%;
}
.code-snippet {
  width: -webkit-fill-available;
  max-height: 400px;
  resize: none;
  margin: 0 0 16px  0;
  // Styles below replicate StackOverflow
  background-color: #f6f6f6;
  padding: 12px;
  border: none;
  color: #2f3337;
  font-size: 13px;
  font-family: ui-monospace, "Cascadia Mono", "Segoe UI Mono", "Liberation Mono", Menlo, Monaco, Consolas, monospace;
}

mat-form-field {
  width: 100%;
}

.padding-top-bot-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.next-button {
  display: flex;
  justify-content: flex-end;
}


// Styles for the pages contains table

.page-table {
  // flex: 1;
  overflow: auto;
  background: #F9F9F9;
  /* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version.*/
  mat-table {
    min-width: 800px;

    mat-cell, mat-header-cell, mat-footer-cell {
      overflow: visible;
      word-break: break-word;
      overflow-wrap: break-word;
      padding-right: 5px;
    }

    & .mat-column-date {
      width: 150px;
      max-width: 150px;
    }

    & .mat-column-runningCluster {
      width: 120px;
      max-width: 120px;
      text-align: center;
    }

    & .mat-column-scanResult {
      width: 100px;
      max-width: 100px;
      text-align: center;
    }

    & .mat-column-Crt, & .mat-column-Maj, & .mat-column-Med, & .mat-column-Min, & .mat-column-Neg {
      width: 50px;
      max-width: 50px;
      text-align: center;
    }
  }
}

.content-breadcrumbs {
  display: inline-block;
  height: 35px;
  p {
    font-size: 26px;
    margin-top: 15px;
  }
  > ol {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-inline-start: 0;
    font-size: 12px;
    text-transform: lowercase;
    li:not(:first-child):before {
      content: ">";
      padding-right: 5px;
      padding-left: 5px;
    }
    > li.breadcrumb-item {
      > span:hover{
        text-decoration: underline;
        cursor: pointer;
      }
      &:first-child {
        padding-left: -5px;
      }
      a {
        font-size: 12px;
        color: black;
      }
    }
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0;
}

.kubesec-score {
  height: 44px;
  width: 50px;
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-transform: uppercase;
  color: white;
  > span {
    font-size: xx-large;
  }
}

.subnav-title {
  font-size: 26px;
  font-weight: normal;

  @media all and (max-width: 850px) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 35px;
  }
  @media all and (max-width: 377px) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-bottom: 35px;
  }
}

.main-container{
  height:100%;
  display: flex;
  flex-display: row;
}

// CSS for Report pages [Start]

.title-font {
  font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
}

.title-margin {
  margin-left: 31px;
}

.vulnerability-filter-card {
  margin-bottom: 15px;
  margin-top: 10px;
}

.vulnerability-filter-content {
  display: flex;
  width: 100%;
  padding-left: 15px;
}

.vulnerability-filter-button {
  justify-content: left;
  padding-left: 15px;
}

.vulnerability-download-button {
  display: flex;
  justify-content: right;
  padding-right: 15px;
  align-content: center;
}

.vulnerability-count {
  display: flex;
  justify-content: left;
  align-content: center;
  padding-left: 0;
}

.vulnerability-card {
  min-width: 800px;
  padding-bottom: 20px;
}

.mat-column-imageId {
  margin-right: 10px;
  word-break: break-all;
  max-width: 7%;
}

.mat-column-image {
  word-break: break-all;
  margin-right: 10px
}

.mat-column-type {
  word-break: break-all;
  margin-right: 10px;
}

.mat-column-package {
  word-break: break-all;
  margin-right: 10px;
}

.mat-column-isFixable {
  max-width: 7%;
  margin-right: 10px;
}

.mat-column-severity {
  max-width: 7%;
}

.mat-column-scannerName {
  margin-right: 10px;
}

.mat-column-runningInCluster {
  max-width: 7%;
  margin-right: 10px;
}

.mat-column-namespaces {
  margin-right: 10px;
  word-break: break-all;
}

.mat-mdc-form-field {
  margin-right: 10px;
}

.fix-margin {
  margin-left: 18px;
}

.graph-card {
  min-width: 625px;
  padding-bottom: 20px;
}

// CSS for Report pages [END]
