/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@include mat.core();

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import '@angular/material/theming';
@import './app/modules/private/private.component.theme';
@import 'flexboxgrid/css/flexboxgrid.min.css';
@import 'codemirror/lib/codemirror';
@import 'codemirror/theme/material';

//Default theme
$ms-default-primary: mat.define-palette(mat.$indigo-palette, 800, 300, 900);
$ms-default-accent: mat.define-palette(mat.$light-blue-palette);
$ms-default-warn: mat.define-palette(mat.$pink-palette, 600);
/*
$ms-default-level: mat.define-typography-level(
  $font-family: "Roboto, 'Helvetica Neue', sans-serif",
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);
 */
$ms-default-theme: mat.define-light-theme((
  color: (
    primary: $ms-default-primary,
    accent: $ms-default-accent,
    warn: $ms-default-warn
  )
));


//<app-root></app-root> theme
@import "./app/app.component.theme";
@import './app/modules/private/pages/dashboard/dashboard.component.theme';
@import './app/modules/private/pages/cluster/cluster-details/cluster-details.component.theme';
@import './app/modules/private/pages/cluster/cluster-list/cluster-list.component.theme';
@import './app/modules/private/pages/organization-settings/organization-settings.component.theme';
@import './app/modules/shared/subnavigation/sub-navigation.component.theme';
@import './app/modules/private/pages/cluster/cluster-summary/cluster-summary.component.theme';
@import './app/modules/private/pages/cluster/kubernetes-pods/kubernetes-pods.component.theme';
@import './app/modules/private/pages/cluster/kubernetes-pod-details/kubernetes-pods-details.component.theme';

@mixin custom-components-theme($theme) {
  @include app-root-theme($theme);
}

@mixin custom-dashboard-component-theme($theme) {
  @include dashboard-component-light-theme($theme);
}

@mixin custom-cluster-details-component-theme($theme){
  @include cluster-details-component-light-theme($theme);
}

@mixin custom-toolbar-light-theme($theme) {
  @include toolbar-light-theme($theme);
}

@mixin custom-organization-settings-light-theme($theme) {
  @include organization-settings-component-light-theme($theme)
}

.default-theme {
  @include angular-material-theme($ms-default-theme);
  @include custom-components-theme($ms-default-theme);
  @include custom-dashboard-component-theme($ms-default-theme);
  @include custom-cluster-details-component-theme($ms-default-theme);
  @include custom-toolbar-light-theme($ms-default-theme);
  @include custom-organization-settings-light-theme($ms-default-theme);
}

 .mat-mdc-dialog-container {
  padding: 20px;
  margin-left: 20px;
}

.organization-settings-text {
  font-size: 16px !important;
  vertical-align: top;
  text-align: center;
}

@media print {
  html, body {
    height: auto;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust:exact !important
  }
}

.no-padding{
  padding: 0;
}

.margin-top-10{
  margin-top: 10px;
}

.padding-top-10{
  padding-top: 10px;
}

.negative-margin-bottom-20{
  margin-bottom: -20px;
}

.margin-right-10{
  margin-right: 10px;
}

.text-align-right{
  text-align: right;
}

.margin-bottom-20{
  margin-bottom: 20px;
}

.margin-bottom-2{
  margin-bottom: 2px;
}

.font-size-20{
  font-size: 20px;
}

.margin-left-7{
  margin-left: 7px;
}

.justify-content-center{
  justify-content: center;
}

.margin-bottom-6{
  margin-bottom: 6px;
}

.image-id-tooltip {
  word-break: break-all !important;
  white-space: normal !important;
}

.table-format table {
  width: 100%;
  border: 1px #AAA solid ;
  border-collapse: collapse
}

.table-format td, .table-format th {
  border: 1px #AAA solid ;
  margin: 0px;
  padding: 2px;
  border-collapse: collapse;
  vertical-align: baseline;
}
.mat-icon{
  vertical-align: bottom;
  padding-left: 10px;
  // margin:10px;
}
.mat-mdc-icon-button{
  margin: 5px;
}
