:root {
  --organization-container-height: 981px;
}

div.external-auth-configuration-list-container {
  flex-direction: column;
  height: calc(var(--organization-container-height) - 52px);
  overflow: auto;

  > div {
    &.external-auth-configuration-list {
      margin: 20px 25px;

      > mat-toolbar {
        display: flex;
        justify-content: space-between;

        > mat-icon-button {
          margin-left: 5px;
        }
      }
    }
  }
}

table {
  width: 100%;
}

.auth-list-table {
  min-width: 450px;
}
