<div class="row h-xs-100 display-xs-block overflow-xs-auto me-xs-1">
  <div class="col-xs my-xs-7 ms-xs-7">
    <span class="font-size-xs-26 vertical-align-xs-bottom line-height-xs-2">kube-bench</span>
    <div class="stats-row row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">CIS Benchmark Status:</div>
          </mat-card-header>
          <mat-card-content>
            <h3 [ngClass]="statusInvalid ? 'text-style-red' : 'text-style-green'">{{ benchmarkStatus }}</h3>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4" id="center-card">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Results of Last Run:</div>
          </mat-card-header>
          <mat-card-content>
            <table>
              <tr>
                <th>Passed</th>
                <th>Failed</th>
                <th>Warnings</th>
              </tr>
              <tr>
                <td class="text-align-xs-center">{{ lastRun ? lastRun.Totals.total_pass : '' }}</td>
                <td class="text-align-xs-center">{{ lastRun ? lastRun.Totals.total_fail : '' }}</td>
                <td class="text-align-xs-center">{{ lastRun ? lastRun.Totals.total_warn : '' }}</td>
              </tr>
            </table>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Our Advice:</div>
          </mat-card-header>
          <mat-card-content>

            <div class="row">
              <div class="col-sm-7 col-xs-7">
                <p>
                  {{ ourAdvice }}
                </p>
              </div>
              <div class="col-sm-5 col-xs-5 end-xs">
                <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary"
                        (click)="openDialog()">Run Audit
                </button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row" id="past-audits-table">
      <div class="col-xs-12">
        <mat-card>
          <mat-card-header class="row">
            <div class="col-xs-5 font-xs-500">
              Past Audits
            </div>
            <div class="col-xs-7 end-xs">
              <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary"
                      (click)="openDialog()">Run Audit
              </button>
            </div>
          </mat-card-header>
          <mat-card-content>
            <div>
              Click on an audit to learn more about run results and issue resolution <br>
            </div>

            <div class="overflow-x-xs-auto display-xs-flex">
              <mat-table class="table-with-link-rows display-xs-table" [dataSource]="datasource">
                <ng-container matColumnDef="date">
                  <mat-header-cell *matHeaderCellDef>Date Audit Ran</mat-header-cell>
                  <mat-cell *matCellDef="let index">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubebench', index.id]">
                      {{ unixToDate(index.createdAt) }}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total pass">
                  <mat-header-cell *matHeaderCellDef>Total Pass</mat-header-cell>
                  <mat-cell *matCellDef="let index">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubebench', index.id]">
                      {{ index.resultsSummary.total_pass }}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total fail">
                  <mat-header-cell *matHeaderCellDef>Total Fail</mat-header-cell>
                  <mat-cell *matCellDef="let index">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubebench', index.id]">
                      {{ index.resultsSummary.total_fail }}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="total warnings">
                  <mat-header-cell *matHeaderCellDef>Total Warnings</mat-header-cell>
                  <mat-cell *matCellDef="let index">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubebench', index.id]">
                      {{ index.resultsSummary.total_warn }}
                    </a>
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="delete">
                  <mat-header-cell [hidden]="!isSuperAdmin" *matHeaderCellDef></mat-header-cell>
                  <mat-cell [hidden]="!isSuperAdmin" *matCellDef="let index" (click)="$event.stopPropagation()">
                    <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubebench', index.id]">
                      <div id="deleteButton">
                        <button mat-raised-button style="background-color: maroon; color: white"
                                (click)="deleteReport(index.id)">Delete Report
                        </button>
                      </div>
                    </a>
                  </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </mat-table>
            </div>

            <mat-paginator [length]="reportCount"
                           [pageSize]="limit"
                           [pageSizeOptions]="[20, 50, 100]"
                           (page)="pageEvent($event)"
                           showFirstLastButtons>
            </mat-paginator>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
