<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Select Environment</ng-template>
    <span class="pt-xs-3 text-align-xs-left">Select Your Kubernetes Environment</span>
    <mat-form-field>
      <mat-label>Environments</mat-label>
      <mat-select [(value)]="selectedProvider" (selectionChange)="proceedToNext($event)">
        <mat-option *ngFor="let env of environments" [value]="env.value">
          {{ env.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button matStepperNext color="primary" [disabled]="nextButtonDisabled">Next</button>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Create Job</ng-template>
    <h3 class="text-align-xs-left">Choose whether to run kube-bench periodically or manually</h3>
    <mat-radio-group aria-labelledby="cronjob-options-group-label" [(ngModel)]="cronjobOpt">
      <mat-radio-button [value]="true">
        Run on a schedule
      </mat-radio-button>
      <mat-radio-button [value]="false">
        Run one time
      </mat-radio-button>
    </mat-radio-group>

    <div *ngIf="cronjobOpt === true" class="text-align-xs-left">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Choose</mat-label>
          <mat-select [(ngModel)]="cronjobTime">
            <mat-option [value]="'daily'">Daily</mat-option>
            <mat-option [value]="'weekly'">Weekly</mat-option>
            <mat-option [value]="'monthly'">Monthly</mat-option>
          </mat-select>
        </mat-form-field>
        <span class="py-xs-3" *ngIf="cronjobTime === 'daily'">Choosing daily means kube-bench will run at 12 am every day</span>
        <span class="py-xs-3" *ngIf="cronjobTime === 'weekly'">Choosing weekly means kube-bench will run at 12 am every Sunday</span>
        <span class="py-xs-3" *ngIf="cronjobTime === 'monthly'">Choosing monthly means kube-bench will run at 12 am every first day of the month</span>
      </div>
      <br>
      <div *ngIf="cronjobTime" class="display-xs-flex justify-content-xs-space-between flex-direction-xs-row">
        <div>Run kube-bench using the following CLI command:</div>
        <app-copy-to-clipboard-button
          successMessage="Command copied to clipboard!"
          errorMessage="Command could not be copied"
          [text]="run.value">
        </app-copy-to-clipboard-button>
      </div>
      <div>
        <textarea matInput [cdkTextareaAutosize]="true" #run class="code-snippet width-xs-100" readonly>helm repo add m9sweeper https://m9sweeper.github.io/m9sweeper && \
helm repo update && \
helm upgrade --install kube-bench m9sweeper/kube-bench \
  -n m9sweeper-system --create-namespace \
  --set-string reportsurl='{{backendUrl}}/api/kube-bench/{{clusterId}}/?key={{apiKey}}' \
  --set-string provider={{selectedProvider}} \
  --set cronjob.enabled=true \
  --set-string cronjob.schedule="{{cronjobScheduleOpts[cronjobTime]}}"</textarea>
      </div>
    </div>

    <div *ngIf="cronjobOpt === false" class="m-xs-3 text-align-xs-left">
      <ng-template matStepLabel>Create Job</ng-template>
      <div class="display-xs-flex justify-content-xs-space-between flex-direction-xs-row">
        <div>Run kube-bench using the following CLI command:</div>
        <div>
          <app-copy-to-clipboard-button
            successMessage="Command copied to clipboard!"
            errorMessage="Command could not be copied"
            [text]="cliCommand.value">
          </app-copy-to-clipboard-button>
        </div>
      </div>
      <div>
        <textarea #cliCommand class="code-snippet width-xs-100" readonly matInput [cdkTextareaAutosize]="true">helm repo add m9sweeper https://m9sweeper.github.io/m9sweeper && \
helm repo update && \
helm upgrade --install kube-bench m9sweeper/kube-bench \
  -n m9sweeper-system --create-namespace \
  --set-string reportsurl='{{backendUrl}}/api/kube-bench/{{clusterId}}/?key={{apiKey}}'\
  --set-string provider={{selectedProvider}} \
  --set cronjob.enabled=false</textarea>
      </div>
    </div>
    <div class="display-xs-flex justify-content-xs-flex-end">
      <button mat-raised-button [matDialogClose]="true" color="primary">Done</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
