
/* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
mat-card {
  margin-block: 1em;
}

#auditLogFilterForm {
  .col-xs-12 {
    padding-block: 1em;
  }
}

#auditFilterButtons {
  display: flex;
  justify-content: start;
  #submitButton {
    margin-right: 1em;
  }
  #resetButton {
    margin-left: 1em;
  }
}

#auditLogTableHeader {
  padding-inline: 25px;
  .col-xs-12 {
    padding-block: 0.25em;
  }
}

.mat-column-event_time {
  min-width: 180px;
}
