div {
  &.cluster-group-create-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    form.cluster-group-create-form {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  mat-form-field {
    width: 100%;
  }

  .button-space {
    margin-right: 10px;
  }
}
