.mat-mdc-card{
  padding: 0;
  margin: 10px 10px 0 0;
}

.label {
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: -16px;
}

.total {
  font-size: xx-large;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.mat-mdc-card-title {
  padding-top: 10px;
}

.cluster-element {
  display: flex;
  margin-top: 15px;
}

.cluster-summary-card {
  height: 80%;
}

.namespaces-table {
  margin: 10px 0 10px 0;
  width: calc(100% - 5px);
  @media all and (min-width: 280px) and (max-width: 842px) {
    width: calc(100% - 10px);
  }
}

.namespace-image-table {
  overflow: auto;
}

.namespace-image-table table {
  max-width: 99%;
  overflow: auto;
}

#cluster-events-card {
  margin-top: 0;
  padding: 15px;
}

#cluster-event-items {
  max-height: 8em;  // smaller than the #cluster-events element to account for margins & header
  overflow-x: hidden;
  overflow-y: scroll;
  flex: none;

  table {
    width: 100%;
    font-size: 11px;
    td {
      font-size: 11px;
      font-family: "Courier New", monospace;
      cursor: pointer;
    }
    .cluster-error-event {
      color: rgb(155,17,30);
    }
    .cluster-info-event {
      color: rgb(0,15,137);
    }
  }
}

#cluster-events {
  // top right bottom left
  margin: 0.625em 0 0.25em 0.85em;
  width: calc(100% - 1.1em);
  padding: 0 0 0 0;
  height: 12em;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  bottom: 0;

  @media all and (min-width: 280px) and (max-width: 842px) {
    width: calc(100% - 10px);
  }
  @media only screen and (min-width: 280px) and (max-width: 1024px) {
    padding-top: 0;
  }

  //padding-top: 30px;
  //max-height: 50%;
  //padding-right: 0 !important;
  //padding-left: 3px !important;
  //width: calc(var(--cluster-container-width) - 10px);
  //
  //margin: 0 0 0 10px;
  //height: 200px;
  //.mat-mdc-card:not([class*=mat-elevation-z]) {

  //}
}

.hide-scrollbar {
  overflow: hidden !important;
}

.hide-x-scrollbar {
  overflow-x: hidden !important;
}

.container-margin {
  margin: 0 !important;
}

.graph-row {
  margin-top: -22px;
  margin-bottom: -10px;
}
