.row {
  margin: 0.625em 0 0.625em 0;
}

mat-card-title {
  padding-top: 10px;
}

#cluster-summary-row {
  mat-card {
    height: 80%;

    .label {
      padding-top: 10px;
      font-weight: bold;
      text-align: center;
      font-size: 14px;
      margin-top: -16px;
    }

    .total {
      font-size: xx-large;
      text-align: center;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
}

#cluster-graphs-row {
  mat-card {
    //padding: 16px 8px;  // use px instead of em b/c used in calculating graph size
    mat-card-content {
      margin: 6px 16px 16px 6px !important;
      padding: unset;
    }
  }

  ngx-charts-line-chart {
    font-size: 11px;
  }
}

#cluster-vulnerability-table-row {
  mat-card {
    mat-table {
      min-width: 500px;

      .mat-column-namespace {
        min-width: 120px;
      }
    }
  }
}

#cluster-events-row {
  // top right bottom left
  padding: 0 0 0 0;
  height: 12em;
  position: sticky;
  position: -webkit-sticky; /* Safari */
  bottom: 0;

  mat-card {
    padding: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }

  #cluster-event-items {
    max-height: 8em;  // smaller than the #cluster-events element to account for margins & header
    overflow-x: hidden;
    overflow-y: scroll;
    flex: none;

    table {
      width: 100%;
      font-size: 11px;
      td {
        font-size: 11px;
        font-family: "Courier New", monospace;
        cursor: pointer;
      }
      .cluster-error-event {
        color: rgb(155,17,30);
      }
      .cluster-info-event {
        color: rgb(0,15,137);
      }
    }
  }
}
