<div class="create-cluster-form">
  <form [formGroup]="createAppSettingsForm" class="cluster-form" (ngSubmit)="onSubmit()">
    <div>
      <p>
        <mat-form-field appearance="standard">
          <mat-label>Organization Name</mat-label>
          <input matInput placeholder="Organization Name" type="text" formControlName="name">
        </mat-form-field>
      </p>
      <p>
        <input
          formControlName="file"
          type="file"
          class="form-control"
          (change)="onLogoChange($event)">
      </p>
    </div>

    <div mat-dialog-actions>
      <button [disabled]="!createAppSettingsForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</div>
