:root{
    --organization-container-height: 981px;
  }
  div.api-key-list-container {
    height:calc(var(--organization-container-height) - 52px);
    overflow: auto;
    > div {
      &.api-list {
        margin: 20px 25px;
        > mat-toolbar {
          display: flex;
          justify-content: space-between;

          > mat-icon-button {
            margin-left: 5px;
          }
        }
      }
    }
}
table {
    width: 100%;
}
.api-table {
    min-width: 800px;
}
mat-paginator {
  display: flex;
  justify-content: center;
}
