<mat-card class="card">
  <mat-card-header class="title-with-button">
    <mat-card-title class="title-with-button">
        <div class="font-xs-500">Rules</div>
        <button mat-raised-button color="primary"
        [routerLink]="['/private','falco']">
          Manage Falco Rules
        </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="falco-rule-card-content">
    <div class="row">
      <div class="col width-xs-100" *ngFor="let rule of rules; index as idx">
      <div class="rule-container">
        <strong>{{rule.action | titlecase}}</strong> when the following are true:
        <div class="ps-xs-10">
          <ng-container *ngIf="!rule.allNamespaces">
            <p>
              Event is from <strong>certain namespaces,</strong> including: {{ rule.namespaces | arrayText : { elements: 3, key: 'namespace'} }}
            </p>
          </ng-container>

          <ng-container *ngIf="!rule.allClusters">
            <p>
              Event is from <strong>certain clusters,</strong> including: {{ rule.clusters | arrayText : { elements: 3, key: 'name'} }}
            </p>
          </ng-container>
          <p *ngIf="!!rule.image">
            Image matches: <strong>{{ rule.image }}</strong>
          </p>
          <p *ngIf="!!rule.falcoRule">
            Falco rule matches: <strong>{{ rule.falcoRule }}</strong>
          </p>
        </div>
      </div>
    </div>
    </div>
  </mat-card-content>
</mat-card>
