.rule-container {
  border: 2px solid;
  margin: 15px;
  padding: 20px;
}

.falco-rule-card-content {
  max-height: 800px;
  overflow-y: auto;
}

mat-card-header.title-with-button {
  ::ng-deep.mat-mdc-card-header-text {
    width: 100%;
  }
  mat-card-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
