<mat-horizontal-stepper mat-dialog-content linear #stepper>
  <mat-step [editable]="isCompleted" [stepControl]="createClusterForm">
    <ng-template matStepLabel>Setup Cluster</ng-template>
    <div class="modal-content-left-align-no-margin">
    <h3>Setup Cluster</h3>
    <p>This wizard will walk you through setting up your cluster.</p>

    <form [formGroup]="createClusterForm">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Cluster Name</mat-label>
          <label>
            <input required matInput placeholder="Cluster Name" type="text" formControlName="name">
          </label>
        </mat-form-field>
      </p>
      <p>
        You can upload an admin kubeconfig to allow us to automatically set up your cluster for scanning.
        Otherwise, we will walk you through setting up all of the components manually.
      </p>
      <p>
        If you are using a cloud base Kubernetes service, it is recommended that you set up your cluster manually.
      </p>
      <p>
        <mat-radio-group formControlName="automaticClusterInstall" (change)="automaticClusterInstallChange($event)">
          <mat-radio-button [value]="true">
            Install Automatically
          </mat-radio-button>
          <mat-radio-button [value]="false">
            Install Manually
          </mat-radio-button>
        </mat-radio-group>
      </p>
      <div>
        <!--Hiding rather than ng-ifing so that logic of whether the context should be reuiqred or not is re-evaluated properly-->
        <div class="kubeconfig-field row" [hidden]="!createClusterForm.controls.automaticClusterInstall.value">
          <div class="col-xs-12 col-sm-5 col-md-4 center-xs start-sm">
          <input type="file" style="display: none;" #configFileInput (change)="onConfigFileChoose($event)"/>
          <button type="button" mat-raised-button color="accent" class="mb-1" (click)="configFileInput.click()">
            Select Kubeconfig
          </button>
            </div>
          <div class="col-xs-12 col-sm-7 col-md-8">
          <mat-form-field appearance="fill">
            <mat-label>Context</mat-label>
            <mat-select placeholder="Context"
                        formControlName="context"
                        [required]="createClusterForm.controls.automaticClusterInstall.value"
                        (selectionChange)="updateContext($event)">
              <mat-option><!--Empty option to allow clearing--></mat-option>
              <mat-option *ngFor="let context of config?.contexts" [value]="context.name">{{context.name}}</mat-option>
            </mat-select>
          </mat-form-field>
            </div>
        </div>
        <h3>
          Cluster Details
        </h3>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Host Name</mat-label>
            <label>
              <input matInput placeholder="Host Name" required type="text" formControlName="ipAddress" [readonly]="!!this.createClusterForm.get('kubeConfig').value">
            </label>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill">
            <mat-label>Port</mat-label>
            <label>
              <input matInput placeholder="Port" type="number" formControlName="port" [readonly]="!!this.createClusterForm.get('kubeConfig').value">
            </label>
          </mat-form-field>
        </p>
      </div>

      <div class="row">
        <div class="col-xs-12 end-xs display-flex">
          <button [disabled]="!createClusterForm.valid" mat-raised-button color="primary"
                  matStepperNext>Next Step
          </button>
        </div>
      </div>
    </form>
    </div>
  </mat-step>

  <mat-step [editable]="isCompleted" [formGroup]="serviceAccountForm">
    <ng-template matStepLabel>Grant Access</ng-template>
    <div class="modal-content-left-align-no-margin">
      <h3>Grant Access</h3>
      <!--Users are required to go through the manual service account configuration if they have not provided an admin kubeconfig-->
      <ng-container *ngIf="!!this.createClusterForm.get('kubeConfig').value; else manualServiceAccountRequired">
        <p>
          M9sweeper requires having a service account running in the cluster. We can automatically set it up using the admin kubeconfig provided,
          or you can set it up yourself. Either way, your admin kubeconfig will not be stored by m9sweeper after set up is complete.
        </p>
        <mat-radio-group [formControl]="serviceAccountForm.controls.automaticInstall">
          <div class="row"><div class="col-xs">
            <mat-radio-button [value]="true">Install Automatically</mat-radio-button>
          </div></div>
          <div class="row mt-8px"><div class="col-xs">
            <mat-radio-button [value]="false" (click)="installServiceAccount()">
              Install Manually
            </mat-radio-button>
          </div></div>
        </mat-radio-group>
      </ng-container>
      <ng-template #manualServiceAccountRequired>
        <p>
          M9sweeper requires having a service account running in the cluster.
          Click the button below, and we'll walk you through the necessary steps.
        </p>
        <div class="row ms-xs-0">
          <button [disabled]="!createClusterForm.valid" mat-raised-button color="primary" (click)="installServiceAccount()">
            Install Service Account
          </button>
        </div>
      </ng-template>
    </div>
    <br>
    <div class="row">
      <div class="col-xs-12 col-sm-6 center-xs start-sm display-flex mb-half-rem">
        <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      </div>
      <div class="col-xs-12 col-sm-6 center-xs end-sm display-flex">
        <button mat-raised-button
                color="primary"
                [disabled]="serviceAccountForm.invalid"
                matStepperNext>Next Step</button>
        </div>
    </div>
  </mat-step>

  <mat-step [editable]="isCompleted">
    <ng-template matStepLabel>Install Enforcer</ng-template>
    <div class="modal-content-left-align-no-margin">
      <h3>Install Enforcer</h3>
      <ng-container *ngIf="!!this.createClusterForm.get('kubeConfig').value; else manualWebhookOnlyMessage">

        <mat-radio-group [(ngModel)]="installWebhook">
          <div class="row"><div class="col-xs">
            <mat-radio-button value="automatically" [checked]="true">Automatically Upon Completion of Install Wizard</mat-radio-button>
          </div></div>
          <div class="row mt-8px"><div class="col-xs">
            <mat-radio-button  value="manually">
              Manually with kubernetes manifest
            </mat-radio-button>
          </div></div>
        </mat-radio-group>
      </ng-container>
      <br>
      <ng-template #manualWebhookOnlyMessage>
        <p>
          You will need to install a webhook configuration so that M9sweeper can ensure that pods deployed
          to your cluster are compliant with your policies. The manifest to install it will be provided in the next step.
        </p>
      </ng-template>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 center-xs start-sm display-flex mb-half-rem">
        <button mat-raised-button color="accent" matStepperPrevious>Prev Step</button>
      </div>
      <div class="col-xs-12 col-sm-6 center-xs end-sm display-flex">
        <button mat-raised-button color="primary" [disabled]="submitting" (click)="onSubmit(stepper)">Next Step</button>
      </div>
    </div>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="modal-content-left-align-no-margin">
      <h3>Done!</h3>
      <div class="row">
        <span class="col-xs-12 col-md-8 mb-xs-2">
          Your cluster is set up and being scanned now!
        </span>
        <span [style]="displayWebhookText()" class="col-xs-12 col-md-4 text-align-right mb-xs-3">
          <app-copy-to-clipboard-button
            [text]="defaultWebhookTextArea.value"
            successMessage="Command copied to clipboard!"
            errorMessage="Command could not be copied."
          ></app-copy-to-clipboard-button>
        </span>
      </div>
      <div>
        <form [style]="displayWebhookText()">
          <mat-form-field appearance="fill">
            <label>
              <textarea #defaultWebhookTextArea class="manually-textarea" matInput></textarea>
            </label>
          </mat-form-field>
        </form>
      </div>
    </div>
    <mat-card-actions class="mt-xs-2">
      <button mat-raised-button color="primary" (click)="viewResults()">View Results</button>
    </mat-card-actions>
  </mat-step>

</mat-horizontal-stepper>

