.manually-textarea{
  height: 150px;
}
.kubeconfig-field {
  display: flex;
  flex-direction: row;
  align-items: center;

  mat-form-field{
    flex: 1;
    margin-left: 10px;
  }
}
.mt-8px {
  margin-top: 8px;
}

// Something was conflicting with the built in hidden rule. Adding this to increase specificity
[hidden] {
  display: none;
}
