<div class="page-container">
  <div class="page-container-content">
    <app-sub-navigation [title]="subNavigationTitle" [buttonTitle]="subNavigationButtonTitle" (click) = "openCheckLicenseDialog()" ></app-sub-navigation>
    <div class="page-card">
      <mat-card appearance="outlined" >
        <mat-card-header >
          <div class="page-card-header">
            <div class=" page-card-title">
              License Details
            </div>
          </div>
        </mat-card-header>
        <div class="page-card-content">
          <mat-card-content  [ngClass]="{'mat-card-content-in-small-device': isMobileDevice}">
            <p class="page-card-line-content" >License Key: {{licenseKey}}</p>
            <p class="page-card-line-content">Instance Key: {{instanceKey}}</p>
            <p class="page-card-line-content">Max CPU Cores: {{ maxNode }}</p>
            <p class="page-card-line-content">Max CPU Count: {{ maxCpu }}</p>
            <p class="page-card-line-content">Max RAM (bytes): {{ maxRam }}</p>
            <p class="page-card-line-content">Features: {{ displayFeatures() }}</p>
            <p class="page-card-line-content">Expiration Date: {{ expirationDate | date: 'medium' }}</p>
            <p class="page-card-line-content">Validity: {{isLicenseValid ? 'Valid' : 'Not Valid'}}</p>
          </mat-card-content>
        </div>
      </mat-card>
    </div>
  </div>
</div>
