:root {
  --license-details-height: 1000px;
  --license-details-width: 981px;
}

div {
  &.license-details-container {
    height: calc(var(--license-details-height) - 52px);
    overflow: auto;

    > div {
      &.license-details {
        margin: 10px 20px 0 20px;

        div {
          &.sub-navigation-in-small-device {
            div.license-details-sub-title {
              font-size: 26px;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            mat-card-actions {
              margin-left: 3px;
            }
          }

          &.license-details-sub-navigation {
            display: flex;
            justify-content: space-between;
            align-items: center;

            div.license-details-sub-title {
              font-size: 26px;
            }
          }
        }
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
        mat-card {
          margin-bottom: 10px;

          .license-details-sub-title {
            font-size: 26px;
            font-weight: normal;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card-content {
            word-wrap: break-word !important;

            p {
              font-size: 14px;
            }
            /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
            &.mat-card-content-in-small-device {
              p {
                font-size: 13px;
              }
            }
          }
          /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
          mat-card-header {
            margin-left: -17px;
          }
        }
      }
    }
  }
}

