:root {
  --gatekeeper-height: 981px;
  // --gatekeeper-width: 981px;
}


.page {
  margin: 10px 0px 10px 0;
  padding: 10px 0 5px 15px;
  font-size: 26px;
}

div {
  margin: 5px 0 5px 0;
  &.gate-keeper-dashboard-container {
    height:calc(var(--cluster-details-height) - 55px);
    overflow: auto;

    .constraint-table-root {
      width: 100%;
      overflow-x: auto;

      table {
        min-width: 800px;
        width: 100%
      }
    }

    .text-style-red {
      color: red;
    }
    .text-style-orange {
      color: orange;
    }
    .text-style-green {
      color: green;
    }

    .top-header-row {
      /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version.*/
      mat-card {
        height: 140px
      }
    }

    .mat-mdc-card-title {
      margin-left: -16px;
      margin-right: -16px;
    }

    .col-skinny {
      padding-left: 0px;
      padding-right: 0px
    }

    .add-more-btn {
      text-align: right
    }
  }
}

th.mat-mdc-header-cell, td.mat-mdc-cell {
  padding-right: 10px;
}

.end-text-align {
  text-align: end;
}
