<div class="page-container">
  <div class="page-container-content">
    <div class="page-title-button-group-spacing">
      <div class="page-title">GateKeeper</div>
    </div>

    <div class="page-card-left-align">
      <div class="row align-items-stretch">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 my-5 margin-y-5">
          <mat-card appearance="outlined" class="h-100">
            <mat-card-header>
              <div class="page-card-title">Status:</div>
            </mat-card-header>
            <mat-card-content>
              <h2 class="text-style-red" *ngIf="gatekeeperStatusLoaded && gatekeeperInstallationStatus.message==='Not Installed'">{{gatekeeperInstallationStatus.message}}</h2>
              <h2 class="text-style-orange" *ngIf="gatekeeperStatusLoaded && gatekeeperInstallationStatus.message==='Not Setup'">{{gatekeeperInstallationStatus.message}}</h2>
              <h2 class="text-style-green" *ngIf="gatekeeperStatusLoaded && gatekeeperInstallationStatus.message==='Setup'">{{gatekeeperInstallationStatus.message}}</h2>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-8 margin-y-5">
          <mat-card appearance="outlined" class="h-100">
            <mat-card-header>
              <div class="page-card-title">Recommendation:</div>
            </mat-card-header>
            <mat-card-content>
            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                  <p *ngIf="gatekeeperConstraintTemplates === null; else recommendationText">
                    We recommend installing Gatekeeper to manage policies in your Kubernetes cluster.
                  </p>
                  <ng-template #recommendationText>
                    <p *ngIf="gatekeeperConstraintTemplates?.length === 0">
                      Gatekeeper is installed, but no policies are created yet. Use the setup wizard to create initial policies.
                    </p>
                    <p *ngIf="gatekeeperConstraintTemplates?.length > 0">
                      Gatekeeper is installed! We recommend you regularly review the policies in place, as well as the compliance of applications in your cluster.
                    </p>
                  </ng-template>
              </div>

              <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="text-align-right">
                  <button  mat-raised-button color="primary" (click)="openInstallWizard()" *ngIf="gatekeeperConstraintTemplates === null; else recommendationButton">
                    Install
                  </button>
                  <ng-template #recommendationButton>
                    <button  mat-raised-button color="primary" (click)="openAddConstraintDialog()" *ngIf="gatekeeperConstraintTemplates?.length === 0">
                      Setup
                    </button>
                  </ng-template>
                </div>
              </div>
            </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <br>
    <div class="page-card">
      <mat-card appearance="outlined">
        <mat-card-header >
          <div class=" col-sm-3 no-padding">
            <div class="page-card-title">
              Constraint Templates
            </div>
          </div>
          <div class="col-sm-9 page-card-title-button-group-right-align">
            <button mat-raised-button color="primary"
                    [allowedRoles]="['ADMIN', 'SUPER_ADMIN']"
                    [disabled]="!gatekeeperStatusLoaded || !gatekeeperInstallationStatus.status"
                    (click)="openAddConstraintDialog()">
              <mat-icon>add</mat-icon>
              Add More
            </button>
          </div>
        </mat-card-header>
       <mat-card-content>
         <table mat-table [dataSource]="gatekeeperTemplates" matSort  matSortActive="name" matSortDisableClear matSortDirection="asc" >
           <ng-container matColumnDef="name">
             <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name</th>
             <td mat-cell *matCellDef="let gatekeeperTemplate">{{ gatekeeperTemplate.metadata.name }}</td>
           </ng-container>
           <ng-container matColumnDef="category">
             <th mat-header-cell *matHeaderCellDef > Category</th>
             <td mat-cell *matCellDef="let gatekeeperTemplate"> {{gatekeeperTemplate.kind}} </td>
           </ng-container>
           <ng-container matColumnDef="description">
             <th mat-header-cell *matHeaderCellDef > Description</th>
             <td mat-cell *matCellDef="let gatekeeperTemplate"> {{gatekeeperTemplate.metadata.annotations.description}} </td>
           </ng-container>
           <ng-container matColumnDef="constraints">
             <th mat-header-cell *matHeaderCellDef style="width: 10%"> Constraints</th>
             <td mat-cell *matCellDef="let gatekeeperTemplate" style="width: 10%"> {{gatekeeperTemplate.constraintsCount}} </td>
           </ng-container>
           <ng-container matColumnDef="enforced">
             <th mat-header-cell *matHeaderCellDef style="width: 10%"> Enforced</th>
             <td mat-cell *matCellDef="let gatekeeperTemplate">
               <mat-checkbox disableRipple (click)="$event.preventDefault()" [checked]="gatekeeperTemplate.enforced"></mat-checkbox>
             </td>
           </ng-container>
           <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
           <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewTemplateDetails(row)" class="constraint-click"></tr>
         </table>
       </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
