.adjust-height {
  height: fit-content !important;
}

.page-table {
  mat-cell {
    padding: 0;
    a {
      padding: 0 10px;
      width: 100%;
      height: 100%;
      align-items: center;
      display: flex;
      text-decoration: unset;
      color: unset;
    }
  }
}
