:root{
  --cluster-details-height: 981px;
}
.click-event:hover {
  background-color: rgba(0, 0, 0, .08);
  cursor: pointer;
}
div.kubernetes-pods-container {
  height:calc(var(--cluster-details-height) - 52px);
  overflow: auto;
  > div {
    &.kubernetes-object-list {
      margin: 20px 25px;
      display: flex;
      flex-direction: column;
      max-height: calc(var(--cluster-details-height) - 110px);
      height: 100%;

      & .mat-elevation-z8 {
        // flex: 1;
        overflow: auto;
        background: #F9F9F9;
        > mat-table {
          min-width: 800px;
        }

        .mat-column-name {
          padding-right: 10px;
        }

        .mat-column-resourceVersion {
          padding-right: 10px;
        }

        .mat-column-generateName {
          padding-right: 10px;
        }

      }
      @media only screen and (max-width:480px) {
        .kubernetes-object-sub-navigation {
          flex-direction: column!important;
        }
      }
    }
  }
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0px;
}
p {
  line-height: 1;
  @media all and (max-width: 377px) {
    padding-top: 30%;
  }
}
app-datepicker-component {
  margin-left: 20px;
}

mat-paginator {
  ::ng-deep .mat-paginator-range-label {
    margin: 0;
  }
}
