<div class="row display-xs-block h-xs-100 overflow-xs-auto mx-xs-1">
  <div class="col-xs mt-xs-7 h-xs-fit">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="row">
      <div class="col-xs-6">
        <span class="font-size-xs-26 vertical-align-xs-bottom line-height-xs-2">Pods in {{namespace}}</span>
      </div>
      <div class="col-xs-6 end-xs">
        <app-datepicker-component class="ms-xs-0 ms-sm-3"  (newDateSelected)="dateChanged($event)" [allowFutureDate]="false"></app-datepicker-component>
      </div>
    </div>
    <mat-card class="mb-xs-2 overflow-x-xs-auto display-xs-flex">
      <div class="m-xs-3" *ngIf="!pageLoading && !totalNumPods">
        No pods found
      </div>
      <div class="display-xs-flex overflow-x-xs-auto">
        <mat-table class="table-with-link-rows display-xs-table" *ngIf="pageLoading || totalNumPods" [dataSource]="dataSource" matSort>
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubernetes-namespaces', this.namespace, 'pods', element?.name]">
                {{element?.name}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="resourceVersion">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Resource Version </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubernetes-namespaces', this.namespace, 'pods', element?.name]">
                {{element?.resourceVersion}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="generateName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Generation Name </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubernetes-namespaces', this.namespace, 'pods', element?.name]">
                {{element.generateName}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="compliant">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Compliant </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubernetes-namespaces', this.namespace, 'pods', element?.name]">
                <app-readonly-checkbox [checked]="element?.compliant"></app-readonly-checkbox>
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="violations">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Violations </mat-header-cell>
            <mat-cell *matCellDef="let element">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'kubernetes-namespaces', this.namespace, 'pods', element?.name]">
                {{element?.violations?.length}}
              </a>
<!--              <a *ngIf="element.violations.length"  (mouseover)="showViolations(element)">{{element.violations.length}}</a>-->
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="click-event"></mat-row>
        </mat-table>
      </div>
      <mat-paginator class="pb-xs-3" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons *ngIf="pageLoading || totalNumPods"></mat-paginator>
    </mat-card>
  </div>
</div>
