<div class="kubernetes-pods-container">
  <div class="kubernetes-object-list">
    <div class="kubernetes-object-sub-navigation">
      <div class="kubernetes-object-header">
        <div class="content-breadcrumbs">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="/private/clusters/{{clusterId}}/kubernetes-namespaces" id="breadcrumbs-url">
                namespaces
              </a>
            </li>
            <li class="breadcrumb-item">
              {{namespace}}
            </li>
            <li class="breadcrumb-item">
              pods
            </li>
          </ol>
        </div>
        <div class="content-name">
          <p>Pods in {{namespace}}</p>
        </div>
      </div>
      <div class="calendar-date-picker">
        <app-datepicker-component (newDateSelected)="dateChanged($event)" [initialDate]="initialDate"></app-datepicker-component>
      </div>
    </div>
    <div class="mat-elevation-z8 kubernetes-object-list-table">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="resourceVersion">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Resource Version </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.resourceVersion}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="generateName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Generation Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.generateName}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Compliant </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-icon *ngIf="element?.compliant === true">check_circle</mat-icon>
            <mat-icon *ngIf="element?.compliant !== true">highlight_off</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="violations">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Violations </mat-header-cell>
          <mat-cell *matCellDef="let element">
<!--            <a *ngIf="element.violations.length"  (mouseover)="showViolations(element)">{{element.violations.length}}</a>-->
            <a>{{element.violations.length}}</a>
          </mat-cell>
        </ng-container>
        <mat-header-row ></mat-header-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getPodDetails(row)" class="click-event"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
