.page {
  padding: 20px 15px 10px 15px;
  font-size: 26px;
}

.mat-mdc-card {
  height: 80%;
}

.mat-mdc-card:hover {
  background-color: #F2F2F2;
  color: black;
  cursor: pointer;
}

.report-icon {
  display: flex;
  justify-content: right;
  align-self: center;
  padding-right: 0;
  mat-icon {
    height: unset;
    width: unset;
    font-size: 3em;
  }
}

.report-title {
  margin-block-end: 0.5em;
}
.report-description {
  margin-block-start: 0.5em;
}
