.page {
  padding: 20px 15px 10px 15px;
  font-size: 26px;
}

.mat-mdc-card {
  height: 80%;
}

.mat-mdc-card:hover {
  background-color: #F2F2F2;
  color: black;
  cursor: pointer;
}

.report-icon {
  display: flex;
  justify-content: center;
  align-self: center;
  padding-bottom: 24px;
}
