<div class="row h-xs-100 display-xs-block overflow-xs-auto me-xs-1">
  <div class="col-xs my-xs-7 ms-xs-7">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-6 font-size-xs-26 line-height-xs-2 vertical-align-xs-bottom">
        Images
        <button mat-icon-button *ngIf="userIsAdmin" (click)="openImageCreateDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="col-xs-12 col-md-9 col-lg-6 display-xs-flex
                  start-xs end-md
                  flex-direction-xs-col flex-direction-md-row
                  align-items-xs-start align-items-md-center">
        <mat-form-field class="me-xs-0 me-md-2 search-image">
          <mat-label>Search image</mat-label>
          <input #imageInput matInput autocomplete="off" type="search" value="{{searchTerm}}"/>
        </mat-form-field>
        <button mat-raised-button color="primary" class="width-xs-100 min-height-btn"
          [ngClass]="userIsAdmin ? 'mb-xs-2 mb-md-0 me-xs-0 me-md-2' : 'mb-xs-3 mb-md-0'"
          (click)="openAdvancedSearchDialog()">
          Advanced Search
        </button>
        <button
          class="mb-xs-3 mb-md-0 width-xs-100 min-height-btn"
          *ngIf="userIsAdmin"
          [disabled]="!(dataSource && dataSource.data)"
          (click)="openConfirmScanDialog()"
          mat-raised-button
          color="primary">
          Scan Displayed Images
        </button>
      </div>
    </div>

    <mat-card>
      <div class="overflow-x-xs-auto display-xs-flex">
        <mat-table class="table-with-link-rows" [dataSource]="dataSource" id="imagesTable" matSort  matSortActive="date" matSortDisableClear matSortDirection="desc">
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Name and Tag</mat-header-cell>
            <mat-cell *matCellDef="let image" [matTooltip]="image.url + '/' + image.name + ':' + image.tag">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.url + '/' + image.name + ':' + image.tag}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date Scanned</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.lastScanned | date: 'MM/dd/yyyy hh:mma'}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="runningCluster">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Running in Cluster</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                <app-readonly-checkbox [checked]="image.runningInCluster === 'YES'"></app-readonly-checkbox>
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="scanResult">
            <mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Compliant</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                <app-readonly-checkbox [checked]="image.scanResults === 'Compliant'"></app-readonly-checkbox>
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Crt">
            <mat-header-cell *matHeaderCellDef  disableClear>{{VulnerabilitySeverityAbbreviations.CRITICAL | titlecase}}</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.criticalIssues}}
            </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Maj">
            <mat-header-cell *matHeaderCellDef  disableClear>{{VulnerabilitySeverityAbbreviations.MAJOR | titlecase}}</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.majorIssues}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Med">
            <mat-header-cell *matHeaderCellDef  disableClear>{{VulnerabilitySeverityAbbreviations.MEDIUM | titlecase}}</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.mediumIssues}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Min">
            <mat-header-cell *matHeaderCellDef  disableClear>{{VulnerabilitySeverityAbbreviations.LOW | titlecase}}</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.lowIssues}}
              </a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Neg">
            <mat-header-cell *matHeaderCellDef  disableClear>{{VulnerabilitySeverityAbbreviations.NEGLIGIBLE | titlecase}}</mat-header-cell>
            <mat-cell *matCellDef="let image">
              <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', image.id]">
                {{image.negligibleIssues}}
              </a>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
        </mat-table>
      </div>
      <div class="paginator">
        <mat-paginator [length]="totalCount"
                       [pageSize]="limit"
                       [pageSizeOptions]="[10, 20, 50, 100]"
                       (page)="pageEvent($event)"
                       showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
