.scan-images-button {
  height: 40px;
}
.mr-10px {
  margin-right: 10px;
}
.plus-button {
  padding-bottom: 0;
}
.search-scan-col {
  justify-content: flex-end;
}

.search-image {
  margin-top: -8px;
}
