table {
  width: 100%;
}
div {
  &.scanner-list {
    width: 100%;
    > mat-toolbar {
      display: flex;
      justify-content: space-between;
      > mat-icon-button {
        margin-left: 5px;
      }
    }
  }
}
