<div class="reset-container">
  <div class="change-form-card">
  <mat-card appearance="outlined" class="container">
    <mat-card-header>
      <mat-card-title>
        <h1>Reset Password</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="user-form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <p>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter your email" type="text" formControlName="email">
          </mat-form-field>
        </p>

        <button [disabled]="!resetForm.valid" mat-raised-button type="submit">Submit</button>
      </form>
    </mat-card-content>
  </mat-card>
  </div>
</div>
