.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-field-full-width {
  width: 100%;
}

.close-button{
  float: right;
  top:-16px;
  right:-13px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

::ng-deep .icon-outside .close-button{
  float: right;
  top:-52px;
  right:-52px;
}

::ng-deep .icon-outside .mat-mdc-dialog-container {
  overflow: unset
}
