<div class="row h-xs-100 display-xs-block overflow-xs-auto me-xs-1">
  <div class="col-xs my-xs-7 ms-xs-7">
    <app-sub-navigation title="Falco Settings"></app-sub-navigation>
    <mat-card>
      <mat-card-header>
        <mat-card-title class="row width-xs-100 display-xs-flex">
          <div id="falcoTitle" class="col-xs-12 col-sm-9">
              Falco Rules
          </div>
          <div class="col-xs-12 col-sm-3 start-xs end-sm">
            <button mat-raised-button *ngIf="isAdmin"
                    color="primary"
                    (click)="openAddEditModal()">
              Add Rule
            </button>
          </div>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-lg-4" *ngFor="let rule of rules; index as idx">
              <div class="rule-container">
                <strong>{{rule.action | titlecase}}</strong> when the following are true:
                <div class="ps-xs-10">
                  <ng-container *ngIf="!rule.allNamespaces">
                    <p>
                      Event is from <strong>certain namespaces,</strong> including: {{ rule.namespaces | arrayText : { elements: 3, key: 'namespace'} }}
                    </p>
                  </ng-container>

                  <ng-container *ngIf="!rule.allClusters">
                    <p>
                      Event is from <strong>certain clusters,</strong> including: {{ rule.clusters | arrayText : { elements: 3, key: 'name'} }}
                    </p>
                  </ng-container>
                  <p *ngIf="!!rule.image">
                    Image matches: <strong>{{ rule.image }}</strong>
                  </p>
                  <p *ngIf="!!rule.falcoRule">
                    Falco rule matches: <strong>{{ rule.falcoRule }}</strong>
                  </p>
                  <div class="row" *ngIf="isAdmin">
                    <button mat-raised-button color="primary" (click)="openAddEditModal(rule, idx)">Edit</button>
                    <button class="ms-xs-10" mat-raised-button color="primary" (click)="removeRule(rule.id, idx)">Delete</button>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
