.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

h3 {
  font-weight: bold;
  display: inline;
}

#action-btn {
  position: absolute;
  bottom: 8px;
  right: 16px;
  margin-bottom: -10px;
}

#edit-k8s-manifest-btn {
  margin-top: 37px;
}

.right-content {
  display:flex;
  flex-direction:column;
  max-height: 100%;
}

.close-button{
  //float: left ;
  top: -16px;
  right: -31px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg);
}

.icon-outside .close-button {
  //float: right;
  top:-52px;
  right:-52px;
}

.icon-outside .mat-mdc-dialog-container {
  background-color: pink;
}

