#commentFormCard {
  /* TODO(mdc-migration): The following rule targets internal classes of card that may no longer apply for the MDC version. */
  mat-card-actions {
    padding-inline: 1rem;
  }
}

#commentsCard {
  .exception-comment-header {
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    color: #555;

    .exception-comment-timestamp {
      font-style: italic;
      font-weight: 400;
    }
  }

  .exception-comment-icon {
    display: inline-flex;
    vertical-align: middle;
    color: #555;
    font-size: 20px;
    cursor: pointer;
  }
}
