<h1 mat-dialog-title>{{ data.isEdit ? 'Update' : 'Add' }} Sign On Method</h1>

<form mat-dialog-content [formGroup]="authConfigForm" (ngSubmit)="onSubmit()" id="external-auth-conf-form">

  <mat-form-field>
    <mat-label>Auth Type</mat-label>
    <mat-select formControlName="authType" (selectionChange)="activateAuthTypeFields()">
      <mat-option *ngFor="let authType of staticAuthTypeList" [value]="authType.value"
                  [disabled]="authType.value === authenticationType.LOCAL">{{ authType.label }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field *ngIf="!oauthAuthActivated">
    <mat-label>Provider Type</mat-label>
    <input formControlName="providerType" matInput>
  </mat-form-field>


  <mat-form-field *ngIf="oauthAuthActivated">
    <mat-label>Provider Type</mat-label>
    <mat-select formControlName="providerType" (selectionChange)="onOAuthProviderTypeChange($event)">
      <mat-option value="GOOGLE">Google</mat-option>
      <mat-option value="AZURE">Azure</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Auth Name</mat-label>
    <input formControlName="authName" matInput>
  </mat-form-field>

  <ng-container *ngIf="oauthAuthActivated">

    <mat-form-field>
      <mat-label>Client Id</mat-label>
      <input formControlName="oauthClientId" matInput>
    </mat-form-field>


    <ng-container *ngIf="authConfigForm.get('providerType').value === 'GOOGLE'">

      <mat-form-field>
        <mat-label>Client Secret</mat-label>
        <input formControlName="oauthClientSecret" matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Access Token Uri</mat-label>
        <input formControlName="oauthAccessTokenUri" matInput>
      </mat-form-field>

    </ng-container>


    <mat-form-field>
      <mat-label>Authorization Uri</mat-label>
      <input formControlName="oauthAuthorizationUri" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Access Scopes (comma separated)</mat-label>
      <input formControlName="oauthScopes" matInput>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Allowed User Domains (comma separated)</mat-label>
      <input formControlName="oauthAllowedDomains" matInput>
      <mat-hint>Email domains allowed access to this application e.g. "example.com" to allow "user&#64;example.com"
      </mat-hint>
    </mat-form-field>

    <ng-container *ngIf="authConfigForm.get('providerType').value === 'AZURE'">

      <mat-form-field subscriptSizing="dynamic">
        <mat-label>Default Authority Level</mat-label>
        <mat-select formControlName="defaultAuthorityId">
          <mat-option [value]="AuthorityId.READ_ONLY">Read Only</mat-option>
          <mat-option [value]="AuthorityId.ADMIN">Admin</mat-option>
          <mat-option [value]="AuthorityId.SUPER_ADMIN">Super Admin</mat-option>
        </mat-select>
        <mat-hint>
          Users will be granted this authority level unless they have an authority level granted by their AD Groups
        </mat-hint>
      </mat-form-field>

      <div class="group-authority-wrapper p-xs-3">
        <h3>Grant Authority to Active Directory Groups</h3>
        <p>
          Users will receive the highest authority level granted by an active directory group they are a part of.
          You will need to know the Object ID of a group to set this up.
          You can find this id by
          <a target="_blank"
             href="https://learn.microsoft.com/en-us/azure/active-directory/fundamentals/groups-view-azure-portal#search-for-a-group">
            searching for a group.
          </a>
        </p>
        <ng-container *ngFor="let gaForm of groupAuthorities.controls; let idx = index">
          <form [formGroup]="gaForm">
            <div class="row">
              <div class="col-sm-5 col-xs-12">
                <mat-form-field>
                  <mat-label>Active Directory Group Id</mat-label>
                  <input formControlName="groupId" matInput>
                </mat-form-field>
              </div>
              <div class="col-sm-5 col-xs-12">
                <mat-form-field>
                  <mat-label>Authority Level</mat-label>
                  <mat-select formControlName="authorityId">
                    <mat-option [value]="AuthorityId.READ_ONLY">Read Only</mat-option>
                    <mat-option [value]="AuthorityId.ADMIN">Admin</mat-option>
                    <mat-option [value]="AuthorityId.SUPER_ADMIN">Super Admin</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-2 col-xs-12">
                <button mat-icon-button (click)="removeGroupAuthority(idx)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </form>
        </ng-container>
        <div class="row">
          <div class="col-xs-12 text-align-center">
            <button mat-button mat-raised-button color="primary" type="button" (click)="addGroupAuthority()">
              <mat-icon>add_circle</mat-icon>
              Add Group
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-container *ngIf="ldapAuthActivated">
    <mat-form-field>
      <mat-label>URL</mat-label>
      <input formControlName="ldapUrl" matInput>
      <mat-hint>ex: ldap://example.org</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>User Search Base</mat-label>
      <input formControlName="ldapUserSearchBase" matInput>
      <mat-hint>ex: dc=example,dc=org</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Username Attribute</mat-label>
      <input formControlName="ldapUserNameAttribute" matInput>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Admin DN</mat-label>
      <input formControlName="adminDn" matInput>
      <mat-hint>ex: cn=admin,dc=example,dc=org</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Admin Password</mat-label>
      <input formControlName="adminPassword" matInput [type]="ldapPasswordHide ? 'password' : 'text'">
      <mat-icon matSuffix
                (click)="ldapPasswordHide = !ldapPasswordHide">{{ ldapPasswordHide ? 'visibility_off' : 'visibility' }}
      </mat-icon>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Default User Authority</mat-label>
      <mat-select formControlName="defaultUserAuthority">
        <mat-option [value]="0">None</mat-option>
        <mat-option [value]="1">View Only</mat-option>
        <mat-option [value]="2">Admin</mat-option>
        <mat-option [value]="3">Super Admin</mat-option>
      </mat-select>
      <mat-hint>select 'None' to prevent users not part of a valid group from logging on</mat-hint>
    </mat-form-field>

    <mat-form-field subscriptSizing="dynamic">
      <mat-label>Group Search Base</mat-label>
      <input formControlName="groupSearchBase" matInput>
      <mat-hint>ex: ou=groups,dc=example,dc=org</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Class</mat-label>
      <input formControlName="groupClass" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Member Attribute</mat-label>
      <input formControlName="groupMemberAttribute" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Member User Attribute</mat-label>
      <input formControlName="groupMemberUserAttribute" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Auth Level Attribute</mat-label>
      <input formControlName="groupAuthLevelAttribute" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Auth View Only Value</mat-label>
      <input formControlName="groupViewOnlyAttribute" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Auth Admin Value</mat-label>
      <input formControlName="groupAdminAttribute" matInput>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Group Auth Super Admin Value</mat-label>
      <input formControlName="groupSuperAdminAttribute" matInput>
    </mat-form-field>

  </ng-container>

  <mat-checkbox formControlName="isActive" class="checkbox-margin">Active</mat-checkbox>
</form>

<div mat-dialog-actions>
  <button mat-raised-button color="primary"
          type="submit" form="external-auth-conf-form"
          [disabled]="!authConfigForm.valid"
          *ngIf="oauthAuthActivated || ldapAuthActivated"
  >{{ data.isEdit ? 'Update' : 'Submit' }}
  </button>
  <button mat-raised-button type="button" color="warn" mat-dialog-close>Cancel</button>
</div>
