<div mat-dialog-title
>Edit Manifest
</div>
<mat-dialog-content>
  <ngx-codemirror #codemirror
                  [options]="codeMirrorOptions"
                  [(ngModel)]="rawTemplate"
                  (ngModelChange)="setEditorContent($event)">
  </ngx-codemirror>
</mat-dialog-content>
<mat-dialog-actions>
  <div class="ps-one-rem">
    <button [disabled]="false" mat-raised-button color="primary" type="submit" (click)="saveManifest()">Save Changes</button>
    <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancel</button>
  </div>
</mat-dialog-actions>
