:root{
  --organization-container-height: 981px
}
div.exception-list-container {
  height:calc(var(--organization-container-height) - 52px);
  overflow: auto;
  > div {
    &.exception-list {
      margin: 20px 25px;
      display: flex;
      flex-direction: column;
    }

    & .mat-elevation-z8 {
      @media all and (max-width: 685px) {
        overflow-x: scroll;
      }

      & .mat-column-title {
        padding-right: 5px;
      }
    }

    .exception-select-row {
      &:hover {
        background-color: rgba(0, 0, 0, .05);
        cursor: pointer;
      }

      &.mark {
        background: rgba(0, 0, 0, .05);
      }
    }
  }
}
table {
  width: 100%;
}
/* TODO(mdc-migration): The following rule targets internal classes of paginator that may no longer apply for the MDC version. */
mat-paginator {
  display: flex;
  justify-content: center;
}
