<mat-dialog-content class="overflow-xs-visible">
  <form [formGroup]="createScannerForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Scanner Name" type="text" formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput rows="5" placeholder="Description" type="text" formControlName="description"> </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type" (valueChange)="displayTrivySettings($event)">
        <mat-option *ngFor="let scannerType of scannerTypes" [value]="scannerType.value">
          {{ scannerType.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-checkbox formControlName="enabled" class="checkbox-margin">Active</mat-checkbox>
    <br>
    <mat-checkbox formControlName="required" class="checkbox-margin">Required</mat-checkbox>
    <ng-container *ngIf="displayTrivyVulnerabilitySettings">
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Fixable Critical</mat-label>
            <input matInput type="text" formControlName="fixableCritical">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Unfixable Critical</mat-label>
            <input matInput type="text" formControlName="unFixableCritical">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Fixable Major</mat-label>
            <input matInput type="text" formControlName="fixableMajor">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Unfixable Major</mat-label>
            <input matInput type="text" formControlName="unFixableMajor">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Fixable Normal</mat-label>
            <input matInput type="text" formControlName="fixableNormal">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Unfixable Normal</mat-label>
            <input matInput type="text" formControlName="unFixableNormal">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Fixable Low</mat-label>
            <input matInput type="text" formControlName="fixableLow">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Unfixable Low</mat-label>
            <input matInput type="text" formControlName="unFixableLow">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Fixable Negligible</mat-label>
            <input matInput type="text" formControlName="fixableNegligible">
          </mat-form-field>
        </div>
        <div class="col-xs-6">
          <mat-form-field appearance="fill">
            <mat-label>Max Unfixable Negligible</mat-label>
            <input matInput type="text" formControlName="unFixableNegligible">
          </mat-form-field>
        </div>
      </div>
    </ng-container>

    <div mat-dialog-actions>
      <button [disabled]="!createScannerForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
      <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
