#sub-navigation-wrapper {
  margin-bottom: 1em;
}

#sub-navigation-title {
  margin-block: 0.5em;
  font-size: 26px;
  vertical-align: bottom;
  line-height: 1;
}

#sub-navigation-button {
  margin-block: 0.5em;
}
