div {
  &.update-user-form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    form.update-user-form {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

mat-form-field {
  width: 100%;
}
