.page {
  padding: 20px 15px 10px 15px;
  font-size: 26px;
}

.page-title {
  margin-bottom: 15px;
  padding-left: 0;
  justify-content: left;
}

.falco-container{
  height: 100%;
  overflow-y: auto;
}

.falco-filter-card {
  margin-bottom: 15px;
  margin-top: 10px;
}

.falco-filter-content {
  display: flex;
  padding-left: 15px;
}

.report-header {
  width: 100%
}

.table-card-header{
  display: flex;
  justify-content: left;
  align-content: center;
  padding-left: 0;
}

.filter-button {
  display: flex;
  justify-content: left;
  padding-left: 14px;
  align-content: center;
}

.card-list-header {
  width: 100%;
  white-space: nowrap;
  display: block;
  }

.event-row:hover {
  background-color: rgba(0, 0, 0, .05);
  cursor: pointer;
}

  .mat-form-field {
    margin-right: 10px;
  }

  mat-paginator {
    display: flex;
    justify-content: center;
  }

  .mat-card-title{
    padding-left: 30px;
    padding-right: 20px;
  }

.falco-table {
  // flex: 1;
  overflow: auto;

  mat-table {
    min-width: 800px;

    mat-cell, mat-header-cell, mat-footer-cell {
      overflow: visible;
    }

    .mat-column-calendarDate {
      width: 100px;
      min-width: 50px;
      max-width: 100px;
      margin-right: 5px;
    }

    .mat-column-namespace {
      width: 120px;
      min-width: 100px;
      max-width: 120px;;
      margin-right: 10px;
    }

    .mat-column-pod {
      width: 120px;
      min-width: 100px;
      max-width:120px;;
      //max-width: 7%;
      margin-right: 10px;
    }

    .mat-column-image {
      //max-width: 7%;
      width: 150px;
      min-width: 100px;
      max-width: 150px;;
      margin-right: 10px;
     //white-space: nowrap;
    }

    .mat-column-priority {
      width: 100px;
      min-width: 50px;
      max-width:100px;
      margin-right: 10px;
    }

    .mat-column-message {
      //max-width: 60%;
      width: 200px;
      min-width: 100px;
      max-width:200px;;
      text-align: center;
      white-space: nowrap;
    }
  }
}

