<div class="falco-container">
  <div class="falco-events-list">
    <div class="row mat-card-title">
      <div class="col-sm-9 falco-log-list" >
        <div class="row page">Project Falco </div>
      </div>
      <div class="col-sm-3 align-top-buttons">
        <button class="margin-right-10 margin-top-10" mat-raised-button color="primary" (click)="openDialog()">Install</button>&nbsp;
        <button class="margin-right-10 margin-top-10" mat-raised-button color="primary" *ngIf="isAllowed" (click)="onClickSettings()">Settings</button>
      </div>
    </div>
    <div class="falco-filter-card">
      <mat-card appearance="outlined">
        <mat-card-header>
          <div class="row card-list-header">
            <div class="col-xs-9 table-card-header">
              <h3>Log Filters</h3>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="falco-filter-content">
              <form (ngSubmit)="rebuildWithFilters()">
                <div class="row report-header">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Start Date</mat-label>
                      <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                      <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>End date</mat-label>
                      <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                      <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Order By</mat-label>
                      <mat-select formControlName="selectedOrderBy">
                        <mat-option *ngFor="let option of orderByOptions"
                                    [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Priority Levels</mat-label>
                      <mat-select formControlName="selectedPriorityLevels"
                                  multiple>
                        <mat-option *ngFor="let level of priorityLevels"
                                    [value]="level">
                          {{level}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                        <mat-label>Search namespace</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="namespaceInput">
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                        <mat-label>Search pod</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="podInput">
                      </mat-form-field>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3">
                      <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                        <mat-label>Search image</mat-label>
                        <input matInput autocomplete="off" type="text" formControlName="imageInput">
                      </mat-form-field>
                    </div>

                </div>

                <div class="row filter-button">
                  <div class="col-xs-12 col-sm-6 col-md-3  text-align-left no-padding">
                  <button [disabled]="!filtersValid"
                          mat-raised-button
                          color="primary"
                          type="submit">Search
                  </button>
                  </div>
                </div>
              </form>
          </div>
        </mat-card-content>
      </mat-card>

    </div>
    <div class="falco-log-card">
      <mat-card appearance="outlined" >
        <mat-card-header>
          <div class="row card-list-header">
            <div class="col-sm-9 falco-log-list no-padding" >
              <h3>Recent Events</h3>
            </div>
            <div class="col-sm-3  align-top-buttons">
              <button (click)="downloadReport()"
                      mat-raised-button
                      color="primary"
                      type="button">Download
              </button>            &nbsp;&nbsp;
              <button (click)="getEvents()"
                      mat-raised-button
                      color="primary"
                      type="button">Refresh Events
              </button>
            </div>
          </div>
        </mat-card-header>
        <div class ="falco-table">
            <mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="calendarDate">
                  <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                  <mat-cell *matCellDef="let log">{{log.calendarDate}}</mat-cell>
                </ng-container>

              <ng-container matColumnDef="namespace">
                <mat-header-cell *matHeaderCellDef>Namespace</mat-header-cell>
                <mat-cell *matCellDef="let log">{{log.namespace}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="pod">
                <mat-header-cell *matHeaderCellDef>Pod</mat-header-cell>
                <mat-cell *matCellDef="let log">{{log.container}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="image">
                <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
                <mat-cell *matCellDef="let log">{{stripDomainName(log.image)}}</mat-cell>
              </ng-container>

              <ng-container matColumnDef="message">
                <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
                <mat-cell *matCellDef="let log">
                  {{log.message}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="priority">
                <mat-header-cell *matHeaderCellDef>Priority</mat-header-cell>
                  <mat-cell *matCellDef="let log">{{log.level}}</mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"
                       (click)="displayEventDetails(row)" class="event-row">
              </mat-row>
            </mat-table>
    </div>

      <div class="paginator">
        <mat-paginator
          [length]="logCount"
          [pageSize]="limit"
          [pageSizeOptions]="[ 20, 50, 100]"
          (page)="pageEvent($event)"
          showFirstLastButtons>
        </mat-paginator>
      </div>
    </mat-card>
  </div>
</div>
</div>
