<div class="row m-xs-1 h-xs-100 display-xs-block overflow-xs-auto">
  <div class="col-xs mt-xs-3 mb-xs-4">
    <div class="row">
      <div class="font-size-xs-26 vertical-align-xs-bottom line-height-xs-2 col-xs-12 col-sm-9">Project Falco</div>
      <div class="col-xs-12 col-sm-3 start-xs end-sm">
        <button mat-raised-button [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" color="primary" id="installButton" (click)="openDialog()">Install</button>
        <button mat-raised-button color="primary"
                *ngIf="isAllowed"
                [routerLink]="['/private', 'clusters', this.clusterId, 'falco', 'settings']"
        >Settings</button>
      </div>
    </div>


        <mat-card>
          <mat-card-header>
            <div class="font-xs-500">Log Filters</div>
          </mat-card-header>
          <mat-card-content>
            <div class="display-xs-flex p-xs-0 ms-xs-0 width-xs-100 mt-xs-20 mt-xs-20">
              <form (ngSubmit)="rebuildWithFilters()">
                <div class="row report-header">
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Start Date</mat-label>
                      <input matInput [matDatepicker]="startPicker" formControlName="startDate">
                      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
                      <mat-datepicker #startPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>End date</mat-label>
                      <input matInput [matDatepicker]="endPicker" formControlName="endDate">
                      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
                      <mat-datepicker #endPicker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Order By</mat-label>
                      <mat-select formControlName="selectedOrderBy">
                        <mat-option *ngFor="let option of orderByOptions"
                                    [value]="option">
                          {{option}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field appearance="fill" [formGroup]="filterForm">
                      <mat-label>Priority Levels</mat-label>
                      <mat-select formControlName="selectedPriorityLevels"
                                  multiple>
                        <mat-option *ngFor="let level of priorityLevels"
                                    [value]="level">
                          {{level}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                      <mat-label>Search namespace</mat-label>
                      <input matInput autocomplete="off" type="text" formControlName="namespaceInput">
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                      <mat-label>Search pod</mat-label>
                      <input matInput autocomplete="off" type="text" formControlName="podInput">
                    </mat-form-field>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3">
                    <mat-form-field class="mr-10px" appearance="fill" [formGroup]="filterForm">
                      <mat-label>Search image</mat-label>
                      <input matInput autocomplete="off" type="text" formControlName="imageInput">
                    </mat-form-field>
                  </div>
                </div>
                <div>
                  <div class="ms-xs-0">
                    <button [disabled]="!filtersValid"
                            mat-raised-button
                            color="primary"
                            type="submit">Search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </mat-card-content>
        </mat-card>



        <mat-card>
          <mat-card-header class="row">
            <div class="font-xs-500 col-xs-3">
              Recent Events
            </div>
            <div id="report-buttons" class="col-xs-9">
              <button (click)="downloadReport()"
                      mat-raised-button
                      color="primary"
                      id="downloadButton"
                      type="button">Download
              </button>
              <button (click)="getEvents()"
                      mat-raised-button
                      color="primary"
                      type="button">Refresh Events
              </button>

            </div>
          </mat-card-header>
          <mat-card-content>
            <app-falco-related-events-table
              [clusterId]="clusterId"
              [filters]="falcoLogFilters"
              [displayedColumns]="falcoEventLogsColumns"
              [stylingOptions]="falcoEventLogsStylingOptions"
              (recentEventClicked)="displayEventDetails($event)"
            ></app-falco-related-events-table>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
