<h1 mat-dialog-title>{{ editMode ? 'Edit' : 'Create'}} Falco Rule</h1>
<mat-dialog-content *ngIf="!!ruleForm" class="m-xs-20">
  <form [formGroup]="ruleForm">
    <div class="row">
      <mat-form-field>
        <mat-label>Action</mat-label>
        <mat-select formControlName="action">
          <mat-option *ngFor="let opt of actionOptions" [value]="opt.value">{{opt.displayName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Clusters</mat-label>
        <mat-select formControlName="clusters" multiple
        (selectionChange)="setVisibleNamespaces()">
          <mat-option
            *ngFor="let cluster of clusters"
            [value]="cluster.id"
          >
            {{cluster.name}}
          </mat-option>
        </mat-select>
        <mat-hint>Select none to apply for all</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Namespace</mat-label>
        <mat-select formControlName="namespaces" multiple>
          <mat-option *ngFor="let ns of namespaces" [value]="ns">{{ns}}</mat-option>
        </mat-select>
        <mat-hint>Select none to apply for all</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-label>Falco Rule</mat-label>
          <input matInput formControlName="falcoRule">
          <mat-hint>JavaScript regular expression body</mat-hint>
      </mat-form-field>
    </div>
    <div class="row">
    <mat-form-field>
      <mat-label>Image</mat-label>
        <input matInput formControlName="image">
      <mat-hint>JavaScript regular expression body</mat-hint>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<div mat-dialog-actions>
  <button
    [disabled]="ruleForm?.invalid"
    mat-raised-button
    color="primary"
    type="submit"
    (click)="save()"
  >Confirm</button>
  <button mat-raised-button
          color="warn"
          type="button"
          mat-dialog-close
  >Cancel</button>
</div>
