
div {
  height: 100%;
  filter: none;
  &.app-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    > div {
      &.router-outlet-container {
        flex:1;
      }

    }
  }
}
div.kubernetes-object-container {
  height:calc(var(--cluster-details-height) - 52px);
  overflow: auto;

  * > .mobile-label {
    display: none;
  }

  @media(max-width: 600px) {
    * > .mobile-label {
      width: 80px;
      display: inline-block;
      font-weight: bold;
      padding-right: 3px;
    }

    * > .mat-mdc-header-row {
      display: none;
    }

    * > .mat-mdc-row {
      flex-direction: column;
      align-items: start;
      padding: 8px 24px;
    }
    * > mat-cell:first-of-type {
      padding-left: 0;
    }
    * > .mat-mdc-table .mat-mdc-paginator {
      width: 250px;
    }
  }

  > div {
    &.kubernetes-object-list {
      margin: 20px 25px;
      > div {
        &.kubernetes-object-list-sub-navigation {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          mat-form-field {
            margin-right: 10px;
          }
        }
      }
      > mat-toolbar {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  table {
    width: 100%;
  }
  .kubernetes-object-list-table {
    min-width: 800px;
  }
  mat-form-field {
    margin-right: 10px;
    width: 130px;
    .mat-datepicker-input {
      width: 100%;
    }
    mat-icon {
      position: relative;
      float: right;
      margin-top: -21px;
      cursor: pointer;
    }
  }
}
div.kubernetes-object-sub-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height:auto;
  // min-height: 200px;
  .calendar-date-picker {
    margin-top: 20px
  }
}
.kubernetes-object-header {
  flex-direction: column;
  height: 100px;
  > .content-name {
    font-size: 26px;
    margin-top: 15px;
    height: auto;
    min-height:100px;
  }
}

/* Mat Table Styling Corrections */
.mat-mdc-table {
  width: 100%;

  & .mat-mdc-header-cell {
    width: calc(100% / 4);
    text-align: center;
  }
  tr {
    td, th {
      vertical-align: middle
    }
  }
}

@media print {
  div {
    &.app-container {
      height: auto;
    }
  }
}

//@TODO add button, header, page container, common styles
