// @import '@angular/material/theming';
@use 'sass:map';
@use '@angular/material' as mat;

@mixin app-root-theme($theme) {
  $color-config: mat.get-color-config($theme);
  $primary: map.get($color-config, primary);
  $accent: map.get($color-config, accent);
  //$foreground: map.get($color-config, foreground);
  //$background: map.get($color-config, background);

  app-root {
    .app-container {
      background-color:  mat.get-color-from-palette(mat.$gray-palette, 300);
      > div {
        //&.theme-changer-container {
        //  background:  mat.get-color-from-palette(mat.$gray-palette, A100);
        //}
      }
    }
  }
  span.mat-mdc-list-item-unscoped-content {
    display: flex !important;
    mat-icon {
      padding-right: 0.25em;
    }
  }
}
