mat-row {
  height: 80px;
}

.mat-column-name {
  min-width: 120px;
  flex: 20%;
  //align-items: initial;
  overflow: hidden;
  white-space: nowrap;
}

.mat-column-description {
  min-width: 180px;
  flex: 30%;
  //align-items: initial;
  overflow: hidden;
  white-space: nowrap;
}

.mat-column-new_scan_grace_period {
  min-width: 132px;
  flex: 15;
}
.mat-column-rescan_grace_period {
  min-width: 132px;
  flex: 15%;
}
.mat-column-edit {
  min-width: 90px;
  flex: 5%;
}
.mat-column-delete {
  min-width: 90px;
  flex: 6%;
}
