<div class ="falco-log-more-container">
<div>
  <div class="row mat-card-title"> {{header}}</div>

  <div class="falco-card">
    <mat-card appearance="outlined">
      <table class="details-table">
        <tr>
          <th>Namespace</th> <td>{{namespace}}</td>
        </tr>
        <tr>
          <th>Date</th> <td>{{dateTime}}</td>
        </tr>
        <tr>
          <th>Pod</th> <td>{{pod}}</td>
        </tr>
        <tr>
          <th>Image</th> <td>{{image}}</td>
        </tr>
        <tr>
          <th>Message</th> <td>{{message}}</td>
        </tr>
      </table>
    </mat-card>

    <br>
<div class="falco-card">
    <mat-card appearance="outlined">
      <div class="row">
        <div class="col-sm-6">
          <h3>Related Events</h3>
        </div >
        <div class="col-sm-6 text-align-right">Signature: &nbsp;&nbsp;{{signature}}</div>
      </div>

      <div>
        <mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="calendarDate">
            <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
            <mat-cell *matCellDef="let log" class="date-link" (click)="displayEventDetails(log)">{{log.calendarDate}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="namespace">
            <mat-header-cell *matHeaderCellDef>Namespace</mat-header-cell>
            <mat-cell *matCellDef="let log">{{log.namespace}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="pod">
            <mat-header-cell *matHeaderCellDef>Pod</mat-header-cell>
            <mat-cell *matCellDef="let log">{{log.container}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="image">
            <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
            <mat-cell *matCellDef="let log">{{stripDomainName(log.image)}}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="message">
            <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
            <mat-cell *matCellDef="let log">
              {{log.message}}
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">  </mat-row>
        </mat-table>

        <div class="paginator">
          <mat-paginator
            [length]="logCount"
            [pageSize]="limit"
            [pageSizeOptions]="[ 20, 50, 100]"
            (page)="pageEvent($event)"
            showFirstLastButtons>
          </mat-paginator>
        </div>

      </div>



      <br>

    </mat-card>
    <div mat-dialog-actions style="justify-content: left;">
      <button mat-raised-button color="primary"  (click)="onClickMore()">More</button>
      <button mat-raised-button color="primary"  (click)="onClose()">Close</button>
    </div>
  </div>

  </div>
</div>

</div>



