<div class="kubernetes-images-container">
  <div class="k8s-image-list">
    <div class="k8s-image-sub-navigation">
      <div class="k8-header">
        <div class="content-name">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <span (click)="routePages(['/private', 'clusters', clusterId, 'kubernetes-namespaces'])">
                  {{namespaceName}}
                </span>
            </li>
            <li class="breadcrumb-item">
                <span
                  (click)="routePages(['/private', 'clusters', clusterId, 'kubernetes-namespaces', namespaceName, 'deployments'])">
                {{deploymentName}}
                  </span>
            </li>
            <li class="breadcrumb-item">
              images
            </li>
          </ol>
        </div>
        <div class="header">
          <p>Kubernetes Images</p>
        </div>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <input class="mat-datepicker-input" (focus)="picker.open()" matInput [matDatepicker]="picker"
                 (dateInput)="searchK8sImagesByDate($event)"
                 [(ngModel)]="date"
                 readonly>
          <mat-icon *ngIf="!isDatePicker" matDatepickerToggleIcon (click)="clearDate($event)">clear</mat-icon>
          <mat-datepicker-toggle *ngIf="isDatePicker" matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="mat-elevation-z8 k8s-images-table">
      <table [dataSource]="dataSource" mat-table matSort matSortActive="name" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Name</th>
          <td mat-cell *matCellDef="let k8sImage">{{k8sImage?.name}}</td>
        </ng-container>
        <ng-container matColumnDef="deploymentName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Deployment Name</th>
          <td mat-cell *matCellDef="let k8sImage"> {{k8sImage?.deploymentName}} </td>
        </ng-container>
        <ng-container matColumnDef="namespace">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Namespace</th>
          <td mat-cell *matCellDef="let k8sImage"> {{k8sImage?.namespace}} </td>
        </ng-container>
        <ng-container matColumnDef="compliant">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Compliant</th>
          <td mat-cell *matCellDef="let k8sImage">
            {{k8sImage?.compliant ? 'Yes' : 'No'}}
          </td>
        </ng-container>
        <tr mat-header-row></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
            (click)="getImageScannerDetails(row)" class="image-click">
        </tr>
      </table>
      <mat-paginator
        [length]="totalData"
        [pageSize]="limit"
        [pageSizeOptions]="[10, 20, 50, 100]"
        (page)="pageEvent($event)"
        showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>
