:root{
  --cluster-details-height: 981px;
}

div.kubernetes-pod-details-container {
  height:calc(var(--cluster-details-height) - 52px);
  overflow: auto;
  > div {
    &.kubernetes-object-list {
      margin: 20px 25px;
      display: flex;
      flex-direction: column;
      max-height: calc(var(--cluster-details-height) - 110px);
      height: 100%;
      & .pod-table {
        // flex: 1;
        overflow: auto;
        background: #F9F9F9;
        min-height: 100px;
        > mat-table {
          min-width: 800px;

          .mat-column-dockerImageId {
            word-break: break-word;
            flex: 2;
            padding-right: 5px;
          }

          &.mat-column-summary {
            padding-right: 5px;
          }

          &.mat-column-lastScanned {
            padding-right: 5px;
          }
        }
      }
    }
  }
}

.content-name {
  p{
    font-weight: normal;
  }
}

mat-form-field {
  margin-right: 10px;
  width: 130px;
  .mat-datepicker-input {
    width: 85%;
  }

  mat-icon {
    position: relative;
    float: right;
    margin-top: -21px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }
}

.click-event:hover {
  background-color: rgba(0, 0, 0, .08);
  cursor: pointer;
}
.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 12px 0px;
}

.content-breadcrumbs {
  height: fit-content !important;
}

.calendar-date-picker {
  display: flex;
  justify-content: right;
}

.action-button {
  margin-bottom: 15px;
}

app-datepicker-component {
  margin-left: 20px;
}
p {
  font-weight: bold;
  font-size: 26px;
  margin-top: 15px;
  line-height: 1;
}

