@import '~@angular/material/theming';

@mixin kubernetes-pods-details-dark-theme($theme) {
  app-kubernetes-pod-details {
    .breadcrumb-item {
      a.link {
        color: map-get($mat-grey, A100) !important;
      }
    }
  }
}
