<div class="row display-xs-block h-xs-100 overflow-xs-auto mx-xs-1">
  <div class="col-xs mt-xs-7 h-xs-fit">
    <app-breadcrumbs [breadcrumbs]="breadcrumbs"></app-breadcrumbs>
    <div class="row">
      <div class="col-xs-12 col-sm-6
                  font-size-xs-26
                  vertical-align-xs-bottom
                  line-height-xs-2">Images in Pod {{ podName }}
      </div>
      <div class="col-xs-12 col-sm-6
                  display-xs-flex
                  justify-content-sm-end
                  flex-direction-xs-col
                  flex-direction-sm-row"
           id="podImagesButtons">
        <span>
          <button
            mat-fab
            class="action-button" type="button"
            (click)="getViolations()">
            <img src="assets/images/opa-icon.png" alt="OPA"/>
          </button>
          <button
            mat-fab
            class="action-button" type="button"
            (click)="runKubesec()">
            <img src="assets/images/kubesec-logo.png" alt="kubesec"/>
          </button>
        </span>
        <app-datepicker-component class="ms-xs-0 ms-sm-3" (newDateSelected)="dateChanged($event)"
                                  [allowFutureDate]="false"></app-datepicker-component>
      </div>
    </div>
    <mat-card class="display-xs-auto display-xs-flex">
      <mat-table class="table-with-link-rows" [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', element?.id]">
              {{ element?.name }}
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="summary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Summary</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', element?.id]">
              {{ element.summary }}
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastScanned">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Scanned</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', element?.id]">
              <ng-container *ngIf="element?.lastScanned !== null; else notScannedYet">
                {{ formatDate.parseTimestampToLocalTimestamp(element.lastScanned) | date: 'MM/dd/yyyy hh:mma' }}
              </ng-container>
              <ng-template #notScannedYet>N/A</ng-template>
            </a>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Compliant</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <a [routerLink]="['/private', 'clusters', this.clusterId, 'images', 'image-scan', element?.id]">
              <ng-container *ngIf="!!element.scanResults; else unscanned">
                <app-readonly-checkbox [checked]="element.scanResults === 'Compliant'"></app-readonly-checkbox>
              </ng-container>
              <ng-template #unscanned>
                Not Yet Scanned
              </ng-template>
            </a>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></mat-row>
      </mat-table>
      <mat-paginator class="pb-xs-3" [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
    </mat-card>
  </div>
</div>
