<div class="kubernetes-pod-details-container">
  <div class="kubernetes-object-list">
    <div class="row kubernetes-object-sub-navigation">
      <div class="col-xs-12 col-md-6 kubernetes-object-header">
        <div class="content-breadcrumbs">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a class="link" href="/private/clusters/{{clusterId}}/kubernetes-namespaces">
                namespaces
              </a>
            </li>
            <li class="breadcrumb-item">
              {{namespace}}
            </li>
            <li class="breadcrumb-item">
              <a class="link" href="/private/clusters/{{clusterId}}/kubernetes-namespaces/{{namespace}}/pods">
                pods
              </a>
            </li>
            <li class="breadcrumb-item">
              {{podName}}
            </li>
          </ol>
        </div>
        <div class="content-name">
          <p>{{podName}}</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-6 calendar-date-picker">
        <button class="action-button" type="button" mat-raised-button style="background-color: transparent;" (click)="getViolations()">
          <img src="assets/images/opa-icon.png" alt="OPA" style="max-width: 50px; max-height: 30px;"/>
        </button>
        &nbsp;&nbsp;
        <button type="button" class="run-kubesec-button action-button" mat-raised-button style="background-color: transparent;" (click)="runKubesec()">
          <img src="assets/images/kubesec-logo.png" alt="kubesec" style="max-width: 50px; max-height: 30px;"/>
        </button>
        <app-datepicker-component (newDateSelected)="dateChanged($event)" [initialDate]="initialDate"></app-datepicker-component>
      </div>
    </div>
    <h3 style="margin:unset">Images</h3>
    <div class="mat-elevation-z8 pod-table">
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="summary">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Summary </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.summary}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="lastScanned">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Last Scanned </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element?.lastScanned !== null; else notScannedYet">
              {{formatDate.parseTimestampToLocalTimestamp(element.lastScanned) | date: 'MM/dd/yyyy hh:mma'}}
            </ng-container>
            <ng-template #notScannedYet>N/A</ng-template>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="compliant">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Compliance </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element?.scanResults ? element.scanResults : 'Not Yet Scanned'}}
          </mat-cell>
        </ng-container>
        <mat-header-row ></mat-header-row>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getImageDetails(row)" class="click-event"></mat-row>
      </mat-table>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
