div {
  height: auto !important;
}

mat-form-field {
  margin-right: 10px;
  width: 130px;
  .mat-datepicker-input {
    width: 85%;
  }

  mat-icon {
    position: relative;
    float: right;
    margin-top: -21px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.54);
  }
}

.calendar-date-picker {
  display: flex;
  justify-content: right;
}

.action-button {
  margin-bottom: 15px;
  height: 59px !important;
}

p {
  font-size: 26px;
  margin-top: 15px;
  line-height: 1;
}

.kubesec-logo {
  max-width: 50px;
  max-height: 30px;
  margin-top: 15px;
}
