.test-main {
  max-width: 8%;
}

.test-description-main {
  min-width: 62%;
  max-width: 62%;
}

.pass-fail-main {
  justify-content: flex-end;
  max-width: 30%;
}

.mat-mdc-row:not(.expanded-detail-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

.expanded-detail-row:hover {
  cursor: default;
}

.mat-mdc-row:not(.expanded-detail-row):active {
  background: #efefef;
}

.mat-mdc-row td {
  border-bottom-width: 0;
  min-height: 0;
}

.expanded-detail-row {
  min-height: 0;
}

.expanded-information-row-div {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.covered-data{
  padding: 1%;
  width: 32%;
  font-size: 12px;
}
