.kube-bench-report {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-top: 10px;
}

.bench-report-header {
  display: flex;
  padding-top: 5px;
}

#overallResults {
  text-align: right;
}

#instructions {
  padding-left: 15px;
}

#tables-container {
  margin: 15px;
  min-width: 500px;
}

.mat-table {
  margin-bottom: 40px;
  min-width: 500px;
}

.test-main {
  max-width: 8%;
}

.test-description-main {
  min-width: 62%;
  max-width: 62%;
}

.pass-fail-main {
  justify-content: flex-end;
  max-width: 30%;
}

.mat-row:not(.expanded-detail-row):hover {
  background: whitesmoke;
  cursor: pointer;
}

.expanded-detail-row:hover {
  cursor: default;
}

.mat-row:not(.expanded-detail-row):active {
  background: #efefef;
}

.mat-row td {
  border-bottom-width: 0;
  min-height: 0;
}

.expanded-detail-row {
  min-height: 0;
}

.expanded-information-row-div {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.covered-data{
  padding: 1%;
  width: 32%;
  font-size: 12px;
}
