.control-accordions {

  > mat-expansion-panel {
    margin-top: 1em;
  }

  ::ng-deep
  .mat-expansion-panel-body {
    padding: 0 12px 16px;
  }

  mat-panel-title {
    font-weight: bolder;
    font-size: 16px;
  }
  mat-panel-description {
    color: unset;
    flex-grow: 8;
  }

  .test-accordions {
    mat-expansion-panel {
      box-shadow: unset;
    }

    // light borders (styled after mat-table borders)
    mat-expansion-panel {
      border-bottom: rgba(0, 0, 0, 0.12) solid 1px;

      &.mat-expanded {
        border: unset;
        mat-expansion-panel-header {
          border-bottom: rgba(0, 0, 0, 0.12) solid 1px;
        }
      }
    }
    .result-accordions mat-expansion-panel.mat-expanded {
      border-bottom: rgba(0,0,0,0.12) solid 1px;
      mat-expansion-panel-header {
        border-bottom: unset;
      }
    }
  }
}

.result-accordions {
  mat-panel-description {
    display: flex;
    justify-content: space-between;
  }

  ::ng-deep
  .mat-expansion-panel-content {
    padding: 0 24px;
  }

  ::ng-deep
  .mat-expansion-panel-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1em;

    .test-details {
      margin-block: 0.25em;

      .test-details-title {
        font-weight: bold;
      }
    }
  }
}
