<div class="main-container">
  <div id="left-nav" class="cluster-group-menu">
    <div class="create-cluster-group"></div>
    <mat-divider></mat-divider>

    <div class="organization-settings">
      <div *ngIf="sidenavExpanded">
        <button mat-icon-button (click)="toggleExpandCollapse()" title="Expand">
          <mat-icon title="Organization Settings">settings</mat-icon>
        </button>
        Organization Settings
        <button mat-icon-button (click)="toggleExpandCollapse()" title="Collapse">
          <fa-icon [icon]="faIcons.arrowDoubleLeft" size="2x"></fa-icon>
        </button>
      </div>
      <mat-list *ngIf="!sidenavExpanded">
        <mat-list-item
          *ngIf="isAdmin"
          (click)="expandSidenav(false)"
          title="Organization Settings"
        >
            <a
              [allowedRoles]="['ADMIN', 'SUPER_ADMIN']"
              [routerLink]="['/private', 'users']"
            >
              <mat-icon title="Organization Settings">settings</mat-icon>
            </a>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button (click)="toggleExpandCollapse()" title="Expand">
            <fa-icon [icon]="faIcons.arrowDoubleRight" size="2x"></fa-icon>
          </button>
        </mat-list-item>
      </mat-list>
<!--      <mat-list>-->
<!--        <button mat-icon-button (click)="expand()" title="Expand">-->
<!--          <fa-icon [icon]="faIcons.arrowDoubleRight" size="2x"></fa-icon>-->
<!--        </button>-->
<!--      </mat-list>-->
    </div>

  </div>
  <div  id="cluster-dashboard" class="cluster-dashboard">
    <router-outlet></router-outlet>
  </div>
</div>
