:root{
  --dashboard-container-height: 981px;
  --dashboard-container-width: 1000px;
  --dashboard-navbar-menu-width: 300px;
}

div {
  &.dashboard-container {
    display: flex;
    flex-direction: row;
    > div {
      &.cluster-group-menu-small-device {
        width: var(--dashboard-navbar-menu-width);
        z-index: 99999;
      }
      &.cluster-group-menu {
        width: calc(var(--dashboard-navbar-menu-width) + 10px);
        height: var(--dashboard-container-height);
        background-color: #FFFFFF;
        display: flex;
        // border-right: #b0aeaf 1px solid;
        flex-direction: column;
        div.create-cluster-group {
          margin:15px;
          cursor: pointer;
          height: 35px;
          /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */


            a{
              font-size: 14px;
              height:60px;
              &:hover {
                background-color: #e3dede;
              }
            }

        }
        div.cluster-item {
          overflow: hidden auto;
          &::-webkit-scrollbar {
            width: 2.5px;
          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
          /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */

            &.cluster-group-list-isExpand:last-child {
              margin-bottom: 60px;
            }
            &.cluster-group-list-isNotExpand:last-child{
              margin-bottom: 100px;
            }
            a {
              height:60px;
              background-color: #FFFFFF;
              color: black;
              display: block;
              text-decoration: none;
              &.cluster-group-name {
                text-decoration: none;
                font-size: 14px;
              }
              &:hover{
                background-color: #F2F2F2;
              }
              &.active{
                height: 45px;
                vertical-align: baseline;
                padding:10px;
                background-color: #C7E0F4;
                color: black;
                &:hover{
                  background-color: #b3d3f1;
                  color: black;
                }
              }
              span.cluster-group-name-full {
                //padding-left: 10px;
                //vertical-align: text-bottom;

              }
              span.cluster-group-name-short {
                // border-radius: 3px;
                width: 15px;
                height: 15px;
                padding:15px;
                text-align: center;
                color: white;
                text-transform: uppercase;
                font-size: 10px;
                vertical-align: text-bottom;
                margin: 4px;
              }
            }

        }
        div.organization-settings {

          bottom: 0;
          position: fixed;
          width: calc(var(--dashboard-navbar-menu-width) + 10px);
          display: flex;
          align-items: center;
          /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
          /* TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version. */
          mat-list {
            display: flex;
            width: 100%;
            &.expanded {
              flex-direction: row;
            }
            &.closed {
              flex-direction: column;
            }

            a {
              text-decoration: none;
              font-size: 1vw;
            }



            .expanded-item {
              display: flex;
              flex-direction: row;
              width: 100%;
              &:hover {
                background-color: #F2F2F2;
              }
            }
          }
        }
      }
    }
  }

  > div {
    &.cluster-dashboard-small-device {
      position: fixed;
      opacity: 0.5;
      width: var(--dashboard-container-width);
      height: var(--dashboard-container-height);
      display: flex;
    }
    &.cluster-dashboard {
      width: var(--dashboard-container-width);
      flex-direction: column;
    }
  }
}
