//@import '@angular/material/theming';
@use '@angular/material' as mat;

@mixin dashboard-component-light-theme($theme) {

  app-dashboard {
    .dashboard-container {
      .cluster-dashboard {
        background-color: mat.get-color-from-palette(mat.$gray-palette, 300); // pink now
      }
      .cluster-group-menu {
        /*TODO(mdc-migration): The following rule targets internal classes of list that may no longer apply for the MDC version.*/
        mat-list {
          background-color:  mat.get-color-from-palette(mat.$gray-palette, A100);// pink now
        }
      }
    }
  }
}
/*
@mixin dashboard-component-dark-theme($theme) {
  app-dashboard {
    .dashboard-container {
      .cluster-dashboard {
        background-color: #252423;
      }
      .cluster-group-menu {
        background-color: #201f1e !important;
        .create-cluster-group {
          mat-list {
            a {
              background-color: #201f1e;
            }
            a:hover {
              background-color: #252423 !important;
              color: map-get($mat-grey, A100) !important;
            }
          }
        }
        .cluster-item {
          mat-list {
            a {
              display: block;
              text-decoration: none;
              background-color: #201f1e !important;
              color: map-get($mat-grey, A100) !important;
            }
            a:hover {
              background-color: #252423 !important;
              color: map-get($mat-grey, A100) !important;
            }
            a.active {
              background-color: #497ebf !important;
              color: map-get($mat-grey, A100) !important;
              border-left: #0078d4 3px solid;
            }
            a.active:hover {
              background-color: #497ebf !important;
              color: map-get($mat-grey, A100) !important;
            }
          }
        }
        .organization-settings {
          background-color: #201f1e !important;
          mat-list {
            a:hover {
              background-color: #252423;
              color: map-get($mat-grey, A100);
            }
            .expanded-item {
              &:hover {
                background-color: #252423 !important;
              }
            }
            button fa-icon {
              color: map-get($mat-grey, A100);
            }
            .expand-hover {
              &:hover {
                background-color: #252423 !important;
              }
            }
          }
        }
      }
    }
  }
}

 */
