<div class="create-docker-registry-form">
  <form [formGroup]="createDockerRegistryForm" class="docker-registry-form" (ngSubmit)="onSubmit()">
    <div>
      <mat-dialog-content>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" type="text" formControlName="name">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Host Name</mat-label>
            <input matInput placeholder="Host Name" type="text" formControlName="hostname">
          </mat-form-field>
        </p>
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Aliases</mat-label>
            <mat-chip-list #aliasList
                           [hidden]="createDockerRegistryForm.get('aliases').value.size === 0"
                           formControlName="aliases">
              <mat-chip *ngFor="let alias of createDockerRegistryForm.get('aliases').value"
              (removed)="removeAlias(alias)">
                {{alias}}
                <button matChipRemove>
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            </mat-chip-list>
            <input placeholder="Add new alias"
                   class="mat-chip-input"
                   formControlName="aliasInput"
                   [matChipInputFor]="aliasList"
                   [matChipInputSeparatorKeyCodes]="aliasSeparatorKeys"
                   (matChipInputTokenEnd)="addAlias($event)">
          </mat-form-field>
        </div>
        <div *ngIf="showBasicAuthFields">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username" type="text" formControlName="username">
            </mat-form-field>
          </p>
          <ng-container *ngIf="!this.data.isEdit">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
  <!--              <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>-->
            </mat-form-field>
            </p>
          </ng-container>
          <ng-container *ngIf="this.data.isEdit">
            <p>
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="password">
                <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </p>
          </ng-container>
        </div>
        <div *ngIf="showAcrAuthFields">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>ACR Access Key</mat-label>
              <input matInput placeholder="Access Key" type="text" formControlName="acrAccessKey">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>ACR Secret Key</mat-label>
              <input matInput [type]="passwordHide ? 'password' : 'text'" formControlName="acrSecretKey">
              <mat-icon matSuffix (click)="passwordHide = !passwordHide">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="outline">
              <mat-label>ACR Default Region</mat-label>
              <input matInput placeholder="Default Region" type="text" formControlName="acrDefaultRegion">
            </mat-form-field>
          </p>
        </div>
        <div *ngIf="showGcrAuthFields">
          <p>
            <mat-form-field appearance="outline">
              <mat-label>GCR Authorization JSON</mat-label>
              <textarea matInput placeholder="Enter full GCR JSON contents here..." formControlName="gcrAuthJson"></textarea>
            </mat-form-field>
          </p>
        </div>
        <p>
          <mat-form-field appearance="outline">
            <mat-label>Registry Authentication Type</mat-label>
            <mat-select formControlName="authType" (selectionChange)="handleHiddenFields($event)">
              <mat-option *ngFor="let type of authTypes"
              [value]="type">
                {{type | dockerRegistryAuthType}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
      </mat-dialog-content>
      <div mat-dialog-actions>
        <button [disabled]="!createDockerRegistryForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
        <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancel</button>
      </div>
    </div>
  </form>
</div>
