div {
  &.create-docker-registry-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    form.docker-registry-form {
      width: 500px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

mat-form-field {
  width: 100%;
}

.menu_bar {
  flex: 1;
}

.mat-chip-input {
  width: 100%;
}
