@use '@angular/material' as mat;

:root {
  --organization-container-height: 981px;
  --organization-container-width: 1366px;
  --navigation-menu-width: 300px;
}

div {
  &.organization-settings-container {
    background-color: mat.get-color-from-palette(mat.$gray-palette, 300);
    height: calc(var(--organization-container-height) - 52px);
    display: flex;

    > div {
      &.left-nav {
        width: calc(var(--navigation-menu-width) + 10px);
        height: calc(var(--organization-container-height) - 52px);
        display: flex;
        flex-direction: column;
        border-right: #b0aeaf 1px solid;

        div.nav-menu {


          &::-webkit-scrollbar {

          }
          &::-webkit-scrollbar-track {
            background: #f1f1f1;
          }
          &::-webkit-scrollbar-thumb {
            background: #888;
          }
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }

          .mat-list {
            margin-top: -8px;

            a {
              display: block;
              text-decoration: none;
              font-size: 14px;
            }

            a:hover {
              background-color: #F2F2F2;
              color: #000000;
              font-size: 14px;
            }

            a.active {
              background-color: #C7E0F4;
              color: #000000;
              border-left: #0078d4 3px solid;
              font-size: 14px;
            }

            a.active:hover {
              background-color: #b3d3f1;
              color: #000000;
              font-size: 14px;
            }
          }
        }

        .bottom-menu {
          bottom: 0;
          cursor: pointer;
          width: inherit;
          position: fixed;
          display: flex;
          justify-content: flex-end;

          div.arrow-icon {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
              color: #3455cc;
            }

            &.isExpanded {
              width: 30px;
              height: 56px;
              margin-top: 7px;
              margin-left: 10px;
              padding-left: 20px;
              padding-right: 20px;

              &:before {
                content: "\226A";
                font-size: 30px;
                display: block;
              }
            }

            &.isNotExpanded {
              height: 30px;
              padding-bottom: 10px;
              width: calc(var(--navigation-menu-width) - 1px);

              &:before {
                content: "\226B";
                font-size: 30px;
                display: block;
              }
            }
          }

          &.flex-direction-row {
            display: flex;
            flex-direction: row;
            width: calc(var(--navigation-menu-width) - 15px);
          }

          &.flex-direction-column {
            display: flex;
            flex-direction: column;
          }
        }
      }

      &.menu-in-small-device {
        width: 300px;
        z-index: 99999;
      }

    }

    > div {
      &.cluster-dashboard {
        width: var(--organization-container-width);
        flex-direction: column;
      }

      &.dashboard-style-in-small-device {
        position: fixed;
        opacity: 0.5;
        width: var(--organization-container-width);
        display: flex;
      }
    }
  }
}
