.mat-icon{ // for mat-icon in dashboard
  //padding-left: 10px;
  margin-right: 25px;
  //margin-left: 5px;
  height: 40px;
}
.material-icons{
  line-height:2.5;
}

.falco-img {
  height: 40px;
  width: 40px;
}

div.cluster-dashboard {
  //width: calc(100% - 300px);
  flex-direction: column;
  background-color: #e0e0e0;
}
