// @import '@angular/material/theming';
@use '@angular/material' as mat;
/*
@mixin organization-settings-component-dark-theme($theme) {
  app-organization-settings {
    .organization-settings-container {
      color: map-get($mat-grey, A100);
      .left-nav {
        background-color: #201f1e;
        mat-list {
          a {
            display: block;
            text-decoration: none;
            background-color: #201f1e;
            color: map-get($mat-grey, A100) !important;
          }
          a:hover {
            background-color: #252423 !important;
            color: map-get($mat-grey, A100) !important;
          }
          a.active {
            background-color: #497ebf !important;
            color: map-get($mat-grey, A100) !important;
            border-left: #0078d4 3px solid;
          }
          a.active:hover {
            background-color: #497ebf !important;
            color: map-get($mat-grey, A100) !important;
          }
        }
      }
    }
  }
}


 */
@mixin organization-settings-component-light-theme($theme) {
  app-organization-settings {
    .organization-settings-container {
      .left-nav {
        background-color: mat.get-color-from-palette(mat.$gray-palette, A100);
      }
    }
  }
}
