<div id="main-div" class="main-container">
  <div id="left-nav" class="cluster-group-menu">

    <div class="cluster-item">
      <mat-list role="list">
        <a [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" mat-list-item [routerLink]="['/private', 'settings'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Organization">
          <mat-icon mat-list-item-icon>settings</mat-icon>
          <span matLine style="padding-left: 10px;">Organization</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'users']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Users">
          <mat-icon mat-list-item-icon>folder_shared</mat-icon>
          <span matLine style="padding-left: 10px;">Users</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'licenses']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="License">
          <mat-icon mat-list-item-icon>lock_open</mat-icon>
          <span matLine style="padding-left: 10px;">Licenses</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'policies'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Policies">
          <mat-icon mat-list-item-icon>assignment_turned_in</mat-icon>
          <span matLine style="padding-left: 10px;">Policies</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'exceptions'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Exceptions">
          <mat-icon mat-list-item-icon>assignment_late</mat-icon>
          <span matLine style="padding-left: 10px;">Exceptions</span>
        </a>
        <a [allowedRoles]="['ADMIN', 'SUPER_ADMIN']" mat-list-item [routerLink]="['/private', 'single-sign-on'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Sign On Methods">
          <mat-icon mat-list-item-icon>vpn_key</mat-icon>
          <span matLine style="padding-left: 10px;">Sign on Methods</span>
        </a>
        <a mat-list-item [routerLink]="['/private', 'docker-registries']" routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Docker Registries">
          <mat-icon mat-list-item-icon>shopping_basket</mat-icon>
          <span matLine style="padding-left: 10px;">Docker Registries</span>
        </a>
        <a [allowedRoles]="['SUPER_ADMIN']" mat-list-item [routerLink]="['/private', 'api-key'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="API Key Management">
          <mat-icon mat-list-item-icon>code</mat-icon>
          <span matLinestyle="padding-left: 10px;">API Key Management</span>
        </a>
        <a [allowedRoles]="['SUPER_ADMIN']" mat-list-item [routerLink]="['/private', 'audit-logs'] " routerLinkActive="active"
           [routerLinkActiveOptions]="{exact: true}" title="Audit Logs">
          <mat-icon mat-list-item-icon>fingerprint</mat-icon> <!-- alternative icon might be `pets` -->
          <span matLine style="padding-left: 10px;">Audit Logs</span>
        </a>
      </mat-list>
    </div>

    <div class="organization-settings" >
      <div role="list">
        <div class="expanded-item">
          <button mat-icon-button (click)="expand()" title="Collapse"  style="width: 56px; height: 56px; line-height: normal; margin-left:10px; padding:0;" >
            <fa-icon [icon]="faIcons.arrowDoubleLeft" size="2x"></fa-icon>
          </button>
        </div>
        <div class="collapse-item">
        <button mat-icon-button (click)="expand()" title="Expand" style="width: 56px; height: 56px;line-height: normal; margin-left:10px; padding:0;">
          <fa-icon [icon]="faIcons.arrowDoubleRight" size="2x"></fa-icon>

        </button>
        </div>
      </div>
    </div>
  </div>
  <div id="cluster-dashboard" class="cluster-dashboard">
    <router-outlet></router-outlet>
  </div>
</div>
