<div class="row">
  <div class="col-xs-9" matDialogTitle>
    Event Log Details
  </div>
  <div class="col-xs-3" id="falco-dialog-buttons" style="align-items:end">
    <a mat-raised-button mat-dialog-close color="primary"
       [routerLink]="['/private', 'clusters', this.data.clusterId, 'falco', 'more', this.data.id, 'signature', this.data.anomalySignature]"
     >More</a>
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </div>
</div>
<mat-dialog-content>
  <div class="scrollable-table-card">
    <div class="table-wrapper">
      <mat-table [dataSource]="eventDetails" id="event-details">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let detail"><b>{{detail.title}}</b></mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
          <mat-cell *matCellDef="let detail">{{detail.value}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['title', 'value']" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'value']"></mat-row>
      </mat-table>
    </div>
  </div>

  <div>
    <div>Related Events</div>
    <div>Signature: {{this.data.anomalySignature}}</div>
  </div>

  <div class="scrollable-table-card">
    <div class="table-wrapper">
      <mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="isCurrent">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let log" class="">
            {{log.isCurrent ? '*' : ''}}
          </mat-cell>
          <mat-cell *matCellDef="let log" class="">*</mat-cell>
        </ng-container>
        <ng-container matColumnDef="calendarDate">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let log" class="date-link" (click)="displayEventDetails(log)">{{log.calendarDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="namespace">
          <mat-header-cell *matHeaderCellDef>Namespace</mat-header-cell>
          <mat-cell *matCellDef="let log">{{log.namespace}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pod">
          <mat-header-cell *matHeaderCellDef>Pod</mat-header-cell>
          <mat-cell *matCellDef="let log">{{log.container}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let log">{{stripDomainName(log.image)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
          <mat-cell *matCellDef="let log">
            {{log.message}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">  </mat-row>
      </mat-table>
    </div>
    <mat-paginator
      [length]="logCount"
      [pageSize]="limit"
      [pageSizeOptions]="[ 20, 50, 100]"
      (page)="pageEvent($event)"
      style="max-width:750px"
      showFirstLastButtons>
    </mat-paginator>
  </div>

  <div>Event Content:</div>
  <div class="row" [innerHTML]="data | tablify"></div>
  <div>Related Events:</div>
  <div class="row" [innerHTML]="dataSource | tablify"></div>
</mat-dialog-content>
