<div class="row">
  <div class="col-xs-12 col-sm-9" matDialogTitle>
    Event Log Details
  </div>
  <div class="col-xs-12 col-sm-3" id="falco-dialog-buttons">
    <a mat-raised-button mat-dialog-close color="primary"
       [routerLink]="['/private', 'clusters', this.data.clusterId, 'falco', 'more', this.data.id, 'signature', this.data.anomalySignature]"
     >More</a>
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </div>
</div>
<mat-dialog-content>
  <div class="scrollable-table-card">
    <div class="table-wrapper" id="event-details-wrapper">
      <mat-table [dataSource]="eventDetails" id="event-details-table">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let detail"><b>{{detail.title}}</b></mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
          <mat-cell *matCellDef="let detail"  [matTooltip]="detail.value">{{detail.value}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['title', 'value']" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'value']"></mat-row>
      </mat-table>
    </div>
  </div>

  <div matDialogTitle id="related-events-title">Related Events</div>

  <div class="scrollable-table-card">
    <div class="table-wrapper">
      <mat-table [dataSource]="dataSource" id="related-events-table">
        <ng-container matColumnDef="is-current">
          <mat-header-cell *matHeaderCellDef>Current Log?</mat-header-cell>
          <mat-cell *matCellDef="let log" class="">
            {{log.isCurrent ? '*' : ''}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="calendar-date">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let log" class="date-link" (click)="displayEventDetails(log)">{{log.calendarDate}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="namespace">
          <mat-header-cell *matHeaderCellDef>Namespace</mat-header-cell>
          <mat-cell *matCellDef="let log">{{log.namespace}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="pod">
          <mat-header-cell *matHeaderCellDef>Pod</mat-header-cell>
          <mat-cell *matCellDef="let log">{{log.container}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="image">
          <mat-header-cell *matHeaderCellDef>Image</mat-header-cell>
          <mat-cell *matCellDef="let log">{{stripDomainName(log.image)}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
          <mat-cell *matCellDef="let log" [matTooltip]="log.message">
            {{log.message}}
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">  </mat-row>
      </mat-table>
    </div>
    <mat-paginator
      [length]="logCount"
      [pageSize]="limit"
      [pageSizeOptions]="[10, 20, 50, 100]"
      (page)="pageEvent($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</mat-dialog-content>
