::ng-deep
.mat-mdc-dialog-surface {
  overflow-x: hidden;
}

::ng-deep
mat-mdc-dialog-container, .mat-mdc-dialog-container .mdc-dialog__container, .mat-mdc-dialog-container .mdc-dialog__surface {
  height: fit-content;
  // overflow-y: auto;
}

#falco-dialog-buttons {
  padding-right: 24px;
  align-self: center;
  justify-content: space-evenly;
  display: flex;
  a {
    margin-right: 1em;
  }
}

#related-events-title {
  margin-block: 1em;
}

.table-wrapper {
  border: rgba(0, 0, 0, 0.12) solid 1px;
}

#event-details-table {
  mat-header-row {
    display: none;
  }

  .mat-column-title {
    max-width: 100px;
  }

  .mat-column-value {
    min-width: 1100px;
  }
}

#related-events-table {
  .mat-column-is-current {
    min-width: 75px;
  }

  .mat-column-calendar-date {
    min-width: 110px;
  }

  .mat-column-namespace {
    min-width: 150px;
  }

  .mat-column-pod {
    min-width: 250px;
  }

  .mat-column-image {
    min-width: 150px;
  }

  .mat-column-message {
    min-width: 1100px;
  }
}
