<div class="row">
  <div class="col-xs-12 col-sm-9" matDialogTitle>
    Event Log Details
  </div>
  <div class="col-xs-12 col-sm-3" id="falco-dialog-buttons">
    <a mat-raised-button mat-dialog-close color="primary"
       [routerLink]="['/private', 'clusters', this.data.clusterId, 'falco', 'more', this.data.id, 'signature', this.data.anomalySignature]"
     >More</a>
    <button mat-raised-button mat-dialog-close color="accent">Close</button>
  </div>
</div>
<mat-dialog-content>
  <div class="scrollable-table-card">
    <div class="table-wrapper" id="event-details-wrapper">
      <mat-table [dataSource]="eventDetails" id="event-details-table">
        <ng-container matColumnDef="title">
          <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
          <mat-cell *matCellDef="let detail"><b>{{detail.title}}</b></mat-cell>
        </ng-container>
        <ng-container matColumnDef="value">
          <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
          <mat-cell *matCellDef="let detail"  [matTooltip]="detail.value">{{detail.value}}</mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="['title', 'value']" ></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['title', 'value']"></mat-row>
      </mat-table>
    </div>
  </div>

  <div id="full-message-div">
    <mat-accordion>
      <mat-expansion-panel id="full-message-panel">
        <mat-expansion-panel-header>
          <mat-panel-title><b>Full Message</b></mat-panel-title>
        </mat-expansion-panel-header>
        <div>{{data.message}}</div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div matDialogTitle id="related-events-title">Related Events</div>

  <div class="scrollable-table-card">
    <app-falco-related-events-table
      [clusterId]="data.clusterId"
      [currentEventLogId]="data.id"
      [filters]="{ signature: data.anomalySignature }"
      (recentEventClicked)="displayEventDetails($event)"
    ></app-falco-related-events-table>
  </div>
</mat-dialog-content>
