charts/
.git/
.cache
Dockerfile
README.md
backend/.idea
frontend/.idea
.DS_Store
Thumbs.db
.env
**/.idea
backend/.env
backend/.env.sample
backend/README.md
/backend/src/config/licensing-portal-config/misc.local.ts
/backend/src/config/licensing-portal-config/misc.dev.ts
