<div class="kubesec-popup" *ngIf="kubesecReport">
  <div class="kubesec-popup-contents">
    <div class="pod-score row">
      <div class="col-lg-9 col-xs-9 pod-name">
        <h1> {{displayName}} </h1>
      </div>
      <div class="col-lg-3 col-xs-3 score" [ngStyle] = "{'background': decideScoreColor(score)}">
        <span> {{score}} </span>
      </div>
    </div>
    <div class="message-download row">
      <h3> {{message}}. </h3>
      <a download="kubesec-report.json" [href]="sanitize(kubesecReportDownloadHref)">
        Download Report
      </a>
    </div>
    <div class="tables">
      <div class="mat-elevation-z8 critical-table" *ngIf="critical.length > 0">
        <mat-toolbar>
          <div>
            <span class="subnav-title">Critical Issues</span>
          </div>
        </mat-toolbar>
        <mat-table [dataSource]="criticalDataSource">
          <ng-container matColumnDef="criticalId">
            <mat-header-cell *matHeaderCellDef disableClear> ID </mat-header-cell>
            <mat-cell *matCellDef="let criticalIssues"> {{criticalIssues?.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="criticalPoints">
            <mat-header-cell *matHeaderCellDef disableClear> Points </mat-header-cell>
            <mat-cell *matCellDef="let criticalIssues"> {{criticalIssues?.points}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="criticalReason">
            <mat-header-cell *matHeaderCellDef disableClear> Reason </mat-header-cell>
            <mat-cell *matCellDef="let criticalIssues"> {{criticalIssues?.reason}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="criticalDisplayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: criticalDisplayedColumns;"></mat-row>
        </mat-table>
      </div>
      <div class="mat-elevation-z8 advise-table" *ngIf="advise.length > 0">
        <mat-toolbar>
          <div>
            <span class="subnav-title"> Advice </span>
          </div>
        </mat-toolbar>
        <mat-table [dataSource]="adviseDataSource">
          <ng-container matColumnDef="adviseId">
            <mat-header-cell *matHeaderCellDef disableClear> ID </mat-header-cell>
            <mat-cell *matCellDef="let advice"> {{advice?.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="advisePoints">
            <mat-header-cell *matHeaderCellDef disableClear> Points </mat-header-cell>
            <mat-cell *matCellDef="let advice"> {{advice?.points}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="adviseReason">
            <mat-header-cell *matHeaderCellDef disableClear> Reason </mat-header-cell>
            <mat-cell *matCellDef="let advice"> {{advice?.reason}} </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="adviseDisplayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: adviseDisplayColumns;"></mat-row>
        </mat-table>
      </div>
      <div class="mat-elevation-z8 passed-table" *ngIf="passed.length > 0">
        <mat-toolbar>
          <div>
            <span class="subnav-title">Passed</span>
          </div>
        </mat-toolbar>
        <mat-table [dataSource]="passedDataSource">
          <ng-container matColumnDef="passedId">
            <mat-header-cell *matHeaderCellDef disableClear> ID </mat-header-cell>
            <mat-cell *matCellDef="let pass"> {{pass?.id}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="passedPoints">
            <mat-header-cell *matHeaderCellDef disableClear> Points </mat-header-cell>
            <mat-cell *matCellDef="let pass"> {{pass?.points}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="passedReason">
            <mat-header-cell *matHeaderCellDef disableClear> Reason </mat-header-cell>
            <mat-cell *matCellDef="let pass"> {{pass?.reason}} </mat-cell>
          </ng-container>
          <mat-header-row></mat-header-row>
          <mat-header-row *matHeaderRowDef="passedDisplayColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: passedDisplayColumns;"></mat-row>
        </mat-table>
      </div>
    </div>
  </div>
</div>
