.pod-score {
  width: 100%;
  margin: 0;
  .pod-name {
    padding: 0px;
  }
  .score {
    margin-right: 0px;
    padding: 0px;
  }
}
.message-download {
  width: 100%;
  margin: 0;
  .download-report {
    margin: 15px;
  }
  h3 {
    margin-right: 10px;
  }
}
.tables {
  .critical-table {
    .mat-column-criticalId {
      max-width: 25%;
    }
    .mat-column-criticalPoints {
      max-width: 5%;
    }
  }
  .advise-table {
    .mat-column-adviseId {
      max-width: 25%;
    }
    .mat-column-advisePoints {
      max-width: 5%;
    }
  }
  .passed-table {
    .mat-column-passedId {
      max-width: 25%;
    }
    .mat-column-passedPoints {
      max-width: 5%;
    }
  }
}

.critical-table {
  margin-bottom: 5px;
}
.advise-table {
  margin-bottom: 5px;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.margin-right {
  margin-right: 10px;
}
.margin-top {
  margin-top: 10px;
}

.mat-cell-points {
  padding: 0 !important;
}

.report-dialog-heading {
  font: 400 24px/32px Roboto, Helvetica Neue, sans-serif;
}
