.breadcrumb-link-span, .breadcrumb-link-span a,
.breadcrumb-text, .breadcrumb-icon {
  font-size: 12px;
  color: black;
}

.breadcrumb-icon {
  height: 12px;
  width: 12px;
  vertical-align: middle;
}
